force-app/main/default/flows/Account_Set_Enterprise_Engagement_Opportunity_Account_Market_Reach.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_OppsToUpdate</name>
        <label>Add to OppsToUpdate</label>
        <locationX>270</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>OppsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Closed_Reason</name>
        <label>Set Closed Reason</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>OppToUpdate.Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatic closed reason - Market Reach Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_OppsToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OppToUpdate</name>
        <label>Set OppToUpdate</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OppToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppToUpdate.Account_Market_Reach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Market_Reach__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Lost_Without_Closed_Reason</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>We need to set something on the Closed Reason if it is blank to bypass a</description>
        <name>Closed_Lost_Without_Closed_Reason</name>
        <label>Closed Lost Without Closed Reason?</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Add_to_OppsToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Closed_Lost_Without_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppToUpdate.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppToUpdate.Closed_Reason__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Closed_Reason</targetReference>
            </connector>
            <label>Closed Lost Without Reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunities_Found</name>
        <label>Related Opportunities Found?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_Opportunities</targetReference>
            </connector>
            <label>Found Opportunities</label>
        </rules>
    </decisions>
    <description>Sets the values of the market reach field on related opps to match changes to the parent account</description>
    <environments>Default</environments>
    <interviewLabel>Account - Set Enterprise Engagement Opportunity Account Market Reach {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Set Enterprise Engagement Opportunity Account Market Reach</label>
    <loops>
        <name>Loop_Related_Opportunities</name>
        <label>Loop Related Opportunities</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Related_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OppToUpdate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Opportunity Record Type</description>
        <name>Get_Enterprise_Engagement_Record_Type</name>
        <label>Get Enterprise Engagement Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise_Engagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunities</name>
        <label>Get Related Opportunities</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunities_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enterprise_Engagement_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Opportunities</name>
        <label>Update Related Opportunities</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputReference>OppsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enterprise_Engagement_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Market_Reach__c</field>
            <operator>IsChanged</operator>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OppsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Store looped records to change and add to collection</description>
        <name>OppToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
