force-app/main/default/flows/Add_Products_to_Training_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>All_training_event_products</name>
        <label>All training event products</label>
        <locationX>754</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TEPtoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualTrainingEventProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_All_Training_Event_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_All_training_event_products</name>
        <label>All training event products</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>TEPtoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualTrainingEventProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_All_Training_Event_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Single_Training_Event_Product</name>
        <label>Single Training Event Product</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>IndividualTrainingEventProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Create_All_Training_Event_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualTrainingEventProduct.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_All_training_event_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Training_Event_Product</name>
        <label>Single Training Event Product</label>
        <locationX>754</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>IndividualTrainingEventProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_All_Training_Event_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualTrainingEventProduct.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_training_event_products</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Products_by_Training_Event_Title</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Products by Training Event Title</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Filter_Products_by_Training_Event_Title</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Products_No_Prework</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Products_by_Training_Event_Title.Training_event_program_title__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.Title__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_Create_All_Training_Event_Products</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Other_Filter_Products_by_Training_Event_Title</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Other Filter Products by Training Event Title</label>
        <locationX>666</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Other_Filter_Products_by_Training_Event_Title</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Other_Filter_Products_by_Training_Event_Title.Training_event_program_title__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>$Record.Title__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_All_Training_Event_Products</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>checking for PCAI</description>
        <name>Instructor_Type</name>
        <label>Instructor Type</label>
        <locationX>358</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Internal_PCAI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal PCAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products_No_Prework</targetReference>
            </connector>
            <label>Internal PCAI</label>
        </rules>
        <rules>
            <name>Internal_PCAI_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal PCAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_training_event_products</targetReference>
            </connector>
            <label>Internal PCAI &amp; Certification</label>
        </rules>
    </decisions>
    <description>Add products as needed to Training Events</description>
    <environments>Default</environments>
    <interviewLabel>Add Products to Training Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Products to Training Event</label>
    <loops>
        <name>Copy_1_of_Create_All_Training_Event_Products</name>
        <label>Create All Training Event Products</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Filter_Products_by_Training_Event_Title</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Single_Training_Event_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_training_event_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_All_Training_Event_Products</name>
        <label>Create All Training Event Products</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <collectionReference>Other_Filter_Products_by_Training_Event_Title</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Single_Training_Event_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_training_event_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Training_Event_product</name>
        <label>Create Training Event product Research hub</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Copy_2_of_Create_Training_Event_product</targetReference>
        </connector>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>01t5d00000CgD3GAAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Event_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_training_event_products</name>
        <label>Create Training Event product proxima</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Training_Event_product</targetReference>
        </connector>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>01t1Y00000CHAS4QAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Event_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Training_Event_product</name>
        <label>Create Training Event product KH</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>01t1Y00000CHARoQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Training_Event_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_training_event_products</name>
        <label>Create training event products</label>
        <locationX>358</locationX>
        <locationY>1139</locationY>
        <inputReference>TEPtoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Filter_Products_by_Training_Event_Title</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>prosci_portal_db_id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products_No_Prework</name>
        <label>Get Products- No Prework</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Products_by_Training_Event_Title</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>prosci_portal_db_id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Prework</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Instructor_Type</targetReference>
        </connector>
        <object>Training_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Products_by_Training_Event_Title</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Other_Filter_Products_by_Training_Event_Title</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>A single training product to be created</description>
        <name>IndividualTrainingEventProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Event_Product__c</objectType>
    </variables>
    <variables>
        <name>TEPtoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Event_Product__c</objectType>
    </variables>
</Flow>
