force-app/main/default/flows/Associated_Training_Contact_Material_Opportunity_Core_Misc_Kit_Customer_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Choose_USA_Pricebook</name>
        <label>Choose USA Pricebook</label>
        <locationX>1568</locationX>
        <locationY>575</locationY>
        <actionName>choosePricebook</actionName>
        <actionType>choosePricebook</actionType>
        <connector>
            <targetReference>Add_Products_Based_on_Program_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parentEntityId</name>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricebook2Id</name>
            <value>
                <stringValue>01s1Y0000042B6FQAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>choosePricebook</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>If the event is TTT/PCAI/GAN or ATP and also a Practitioner</description>
        <name>Add_Products_Based_on_Program_Type</name>
        <label>Add Products Based on Program Type</label>
        <locationX>1568</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Practitioner_Domestic_Full_Set</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program_Title_Feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_Title_Feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Practitioner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Material_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Misc Kits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Core_Product_To_Practitoner_Opportunity</targetReference>
            </connector>
            <label>Practitioner/Full Set</label>
        </rules>
        <rules>
            <name>Practitioner_Misc_Kit</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Practitioner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Material_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc Kits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Misc_Kit_Product_To_Practitoner_Opportunity</targetReference>
            </connector>
            <label>Practitioner/Misc Kit</label>
        </rules>
        <rules>
            <name>LYT_Full_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Material_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Misc Kits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Core_Product_To_LYT_Opportunity</targetReference>
            </connector>
            <label>LYT/Full Set</label>
        </rules>
        <rules>
            <name>LYT_Misc_Kit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Material_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Misc Kits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Misc_Kit_Product_To_LYT_Opportunity</targetReference>
            </connector>
            <label>LYT/Misc Kit</label>
        </rules>
        <rules>
            <name>Sponsor_Briefing_Full_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Core_Product_To_Sponsor_Opportunity</targetReference>
            </connector>
            <label>Sponsor Briefing/Full Set</label>
        </rules>
        <rules>
            <name>Employee_Full_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Core_Product_To_Employee_Opportunity</targetReference>
            </connector>
            <label>Employee/Full Set</label>
        </rules>
        <rules>
            <name>DPR_Full_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivering Project Results Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Core_Product_To_DPR_Opportunity</targetReference>
            </connector>
            <label>DPR/Full Set</label>
        </rules>
        <rules>
            <name>Taking_Charge_of_Change_Full_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taking Charge of Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Core_Product_To_TCoC_Opportunity</targetReference>
            </connector>
            <label>Taking Charge of Change/Full Set</label>
        </rules>
        <rules>
            <name>ECM_Full_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM Boot Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Core_Product_To_ECM_Opportunity</targetReference>
            </connector>
            <label>ECM/Full Set</label>
        </rules>
        <rules>
            <name>Agile_Full_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrating Agile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Core_Product_To_Agile_Opportunity</targetReference>
            </connector>
            <label>Agile/Full Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Domestic_or_International</name>
        <label>Domestic or International</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.OtherCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.OtherCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Cusoms_Value_50</targetReference>
            </connector>
            <label>International</label>
        </rules>
    </decisions>
    <decisions>
        <name>Domestic_or_International_25</name>
        <label>Domestic or International $25</label>
        <locationX>1568</locationX>
        <locationY>1607</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>International_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.OtherCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.OtherCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Cusoms_Value_25</targetReference>
            </connector>
            <label>International $25</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Owner_Divsion_is_USA</name>
        <label>If Owner Divsion is USA</label>
        <locationX>2393</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Division_is_USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Training_Event_Owner_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <dateValue>2021-03-01</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012i0000001NX55AAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Individual_Materials_Not_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certification_Material_Opportunity</targetReference>
            </connector>
            <label>Owner Division is USA</label>
        </rules>
    </decisions>
    <description>Updated to include Employee and DRP getting a CV $25 value</description>
    <environments>Default</environments>
    <formulas>
        <name>ShiptoStreet2Conversion</name>
        <dataType>String</dataType>
        <expression>(IF(CONTAINS({!$Record.Contact__r.OtherStreet} , SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ) , TRIM( MID( {!$Record.Contact__r.OtherStreet} , FIND( SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) , {!$Record.Contact__r.OtherStreet} ), LEN({!$Record.Contact__r.OtherStreet} ) ) ) , &quot;&quot; ))</expression>
    </formulas>
    <formulas>
        <name>ShiptoStreetConversion</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS( {!$Record.Contact__r.OtherStreet} , SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ) , LEFT( {!$Record.Contact__r.OtherStreet} , FIND( SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) , {!$Record.Contact__r.OtherStreet}) - 1 ) , {!$Record.Contact__r.OtherStreet})</expression>
    </formulas>
    <interviewLabel>Associated Training Contact - Material Opportunity (Core &amp; Misc Kit) - Customer Service V.16 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associated Training Contact - Material Opportunity (Core &amp; Misc Kit) - Customer Service V.7</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Channel_Product_to_Agile_Opportunity</name>
        <label>Add Channel Product to Agile Opportunity</label>
        <locationX>2690</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Domestic_or_International_25</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001WPUAvQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CHMh6QAH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>225.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Channel_Product_to_DPR_Opportunity</name>
        <label>Add Channel Product to DPR Opportunity</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Domestic_or_International_25</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UmP6cQAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH9q4QAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>225.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Channel_Product_to_ECM_Opportunity</name>
        <label>Add Channel Product to ECM Opportunity</label>
        <locationX>2426</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Domestic_or_International_25</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UmP6mQAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH9qEQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>438.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Channel_Product_to_Employee_Opportunity</name>
        <label>Add Channel Product to Employee Opportunity</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Domestic_or_International_25</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UmP6wQAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH9qOQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>95.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Channel_Product_to_LYT</name>
        <label>Add Channel Product to LYT</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Domestic_or_International_25</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UmP76QAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH9qYQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>350.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Channel_Product_to_Practitioner_Opportunity_Full_Domestic</name>
        <label>Add Channel Product to Practitioner Opportunity (Full/Domestic)</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Domestic_or_International</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UmP8nQAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH9sFQAT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>1999.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Channel_Product_to_Sponsor_Opportunity</name>
        <label>Add Channel Product to Sponsor Opportunity</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Domestic_or_International_25</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UmP9HQAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH9sjQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Channel_Product_to_TCoC_Opportunity</name>
        <label>Add Channel Product to TCoC Opportunity</label>
        <locationX>2162</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Domestic_or_International_25</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UmP9WQAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH9syQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>225.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Core_Product_To_Agile_Opportunity</name>
        <label>Add Core Product To Agile Opportunity</label>
        <locationX>2690</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Add_Channel_Product_to_Agile_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UNVGvQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH5wmQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Core_Product_To_DPR_Opportunity</name>
        <label>Add Core Product To DPR Opportunity</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Add_Channel_Product_to_DPR_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UNVHAQA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH5woQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Core_Product_To_ECM_Opportunity</name>
        <label>Add Core Product To ECM Opportunity</label>
        <locationX>2426</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Add_Channel_Product_to_ECM_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UNVHUQA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH5wqQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Core_Product_To_Employee_Opportunity</name>
        <label>Add Core Product To Employee Opportunity</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Add_Channel_Product_to_Employee_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UNVHoQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH5wsQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Core_Product_To_LYT_Opportunity</name>
        <label>Add Core Product To LYT Opportunity</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Add_Channel_Product_to_LYT</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UNVI8QAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH5wuQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Core_Product_To_Practitoner_Opportunity</name>
        <label>Add Core Product To Practitoner Opportunity</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Add_Channel_Product_to_Practitioner_Opportunity_Full_Domestic</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UNVIXQA5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH5wxQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Core_Product_To_Sponsor_Opportunity</name>
        <label>Add Core Product To Sponsor Opportunity</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Add_Channel_Product_to_Sponsor_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UNVIm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH5wzQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Core_Product_To_TCoC_Opportunity</name>
        <label>Add Core Product To TCoC Opportunity</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Add_Channel_Product_to_TCoC_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001UNVJ6QAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CH5x1QAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Cusoms_Value_25</name>
        <label>Add Cusoms Value $25</label>
        <locationX>1436</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u5d00001ZR3KZAA1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t5d000009ThNLAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Cusoms_Value_50</name>
        <label>Add Cusoms Value $50</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u5d00001ZR3K7AAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t5d000009ThNBAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Misc_Kit_Product_To_LYT_Opportunity</name>
        <label>Add Misc Kit Product To LYT Opportunity</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001VHj1tQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CHEO1QAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>75.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Misc_Kit_Product_To_Practitoner_Opportunity</name>
        <label>Add Misc Kit Product To Practitoner Opportunity</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Certification_Material_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u1Y00001VHdJLQA1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t1Y00000CHENqQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>75.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Certification_Material_Opportunity</name>
        <label>Create Material Opportunity</label>
        <locationX>1568</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Choose_USA_Pricebook</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Contact__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Training_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>$Record.Contact__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Start_Date__c</field>
            <value>
                <elementReference>$Record.Training_Event__r.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Code__c</field>
            <value>
                <stringValue>FULFILL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.First_Name_Feedback__c}  {!$Record.Last_Name_Feedback__c} | {!$Record.Training_Event__r.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Training_Event__r.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001N4wi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To__c</field>
            <value>
                <elementReference>$Record.Contact__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Email_1__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Street_2__c</field>
            <value>
                <elementReference>ShiptoStreet2Conversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Country__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_State__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Street__c</field>
            <value>
                <elementReference>ShiptoStreetConversion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Zip__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Brand New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>2267</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Owner_Divsion_is_USA</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Material_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Instructor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TTT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instructor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal PCAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instructor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Affiliate</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instructor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Authorized Training Provider</stringValue>
            </value>
        </filters>
        <object>Associated_Training_Contacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
