force-app/main/default/flows/Associated_Training_Contact_Trigger_individual_check_in_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrigger_ANZ_All_Other_VILT_Program_Email_Alert</name>
        <label>Retrigger ANZ All Other VILT Program Email Alert</label>
        <locationX>7794</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_VILT_Program</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retrigger_ANZ_VILT_program_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_VILT_Program</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_ANZ_Early_Start_Cert</name>
        <label>Retrigger ANZ Early Start Cert</label>
        <locationX>7266</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_Early_Start_Cert_VILT_Program</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retrigger_ANZ_VILT_program_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_Early_Start_Cert_VILT_Program</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_ANZ_Late_Start_Email_Alert</name>
        <label>Retrigger ANZ Late Start Email Alert</label>
        <locationX>7530</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_Late_Start_Cert_VILT_Program</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retrigger_ANZ_VILT_program_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_Late_Start_Cert_VILT_Program</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_ANZ_VILT_program_Email_Alert</name>
        <label>Retrigger ANZ VILT program Email Alert</label>
        <locationX>7662</locationX>
        <locationY>731</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_VILT_Program</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_VILT_Program</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_ADKAR_Level_1_Email_Alert</name>
        <label>Retrigger CAN ADKAR Level 1 Email Alert</label>
        <locationX>3922</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ADKAR_Level_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ADKAR_Level_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_ADKAR_Level_2_Email_Alert</name>
        <label>Retrigger CAN ADKAR Level 2 Email Alert</label>
        <locationX>4186</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ADKAR_Level_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ADKAR_Level_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_Early_Start</name>
        <label>Retrigger CAN Early Start</label>
        <locationX>4450</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Early_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Early_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_ECM_Email_Alert</name>
        <label>Retrigger CAN ECM Email Alert</label>
        <locationX>4714</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ECM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ECM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_French</name>
        <label>Retrigger CAN French</label>
        <locationX>6826</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_French_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_French_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_Improve_Project_Health</name>
        <label>Retrigger CAN Improve Project Health</label>
        <locationX>4978</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Improve_Project_Health</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Improve_Project_Health</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_Integrating_Agile_Email_Alert</name>
        <label>Retrigger CAN Integrating Agile Email Alert</label>
        <locationX>5506</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Integrating_Agile</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Integrating_Agile</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_Late_Start_Email_Alert</name>
        <label>Retrigger CAN Late Start Email Alert</label>
        <locationX>6034</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Late_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Late_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_Leading_Email_Alert</name>
        <label>Retrigger CAN Leading Email Alert</label>
        <locationX>5770</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Leading_Your_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Leading_Your_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_MAP_Email_Alert</name>
        <label>Retrigger CAN MAP Email Alert</label>
        <locationX>5242</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_MAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_MAP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_Taking_Charge_Email_Alert</name>
        <label>Retrigger CAN Taking Charge Email Alert</label>
        <locationX>6298</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Taking_Charge</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Taking_Charge</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_CAN_Weekend_Cert_Email_Alert</name>
        <label>Retrigger CAN Weekend Cert Email Alert</label>
        <locationX>6562</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Weekend_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Weekend_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_ADKAR_Level_1_Email_Alert</name>
        <label>Retrigger US ADKAR Level 1 Email Alert</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ADKAR_Level_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ADKAR_Level_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_ADKAR_Level_2_Email_Alert</name>
        <label>Retrigger US ADKAR Level 2 Email Alert</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ADKAR_Level_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ADKAR_Level_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_Earlty_Start_Email_Alert</name>
        <label>Retrigger US Earlty Start Email Alert</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Early_Start_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Early_Start_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_ECM_Email_Alert</name>
        <label>Retrigger US ECM Email Alert</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ECM_Boot_Camp</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ECM_Boot_Camp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_Improve_Project_Health_Email_Alert</name>
        <label>Retrigger US Improve Project Health Email Alert</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Improve_Project_Health</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Improve_Project_Health</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_In_Person_Cert_Email_Alert</name>
        <label>Retrigger US In Person Cert Email Alert</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_In_Person_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_In_Person_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_Integrating_Agile</name>
        <label>Retrigger US Integrating Agile</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Integrating_Agile</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Integrating_Agile</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_Leading_Email_Alert</name>
        <label>Retrigger US Leading Email Alert</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Leading_Your_Teams</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Leading_Your_Teams</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_MAP_Email_Alert</name>
        <label>Retrigger US MAP Email Alert</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_MAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_MAP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_Partnership</name>
        <label>Retrigger US Partnership</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_Partnership</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_Partnership</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_Taking_Charge</name>
        <label>Retrigger US Taking Charge</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Taking_Charge_of_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Taking_Charge_of_Change</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_TTT_Level_1</name>
        <label>Retrigger US TTT Level 1</label>
        <locationX>2954</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_TTT_Level_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_TTT_Level_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_TTT_Level_2</name>
        <label>Retrigger US TTT Level 2</label>
        <locationX>3218</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_TTT_Level_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_TTT_Level_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Retrigger_US_VILT_Certification</name>
        <label>Retrigger US VILT Certification</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>CAN_What_Program</name>
        <label>CAN What Program?</label>
        <locationX>5506</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAN_ADKAR_Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADKAR Model Mastery Level 1: Prevent Change Resistance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_ADKAR_Level_1_Email_Alert</targetReference>
            </connector>
            <label>CAN ADKAR Level 1</label>
        </rules>
        <rules>
            <name>CAN_ADKAR_Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADKAR Model Mastery Level 2: Resolve Change Barriers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_ADKAR_Level_2_Email_Alert</targetReference>
            </connector>
            <label>CAN ADKAR Level 2</label>
        </rules>
        <rules>
            <name>CAN_Early_Start_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_Early_Start</targetReference>
            </connector>
            <label>CAN Early Start Cert</label>
        </rules>
        <rules>
            <name>CAN_ECM_Boot_Camp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM Boot Camp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_ECM_Email_Alert</targetReference>
            </connector>
            <label>CAN ECM Boot Camp</label>
        </rules>
        <rules>
            <name>CAN_Improve_Project_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Improve Project Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_Improve_Project_Health</targetReference>
            </connector>
            <label>CAN Improve Project Health</label>
        </rules>
        <rules>
            <name>CAN_MAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Methodology Application Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_MAP_Email_Alert</targetReference>
            </connector>
            <label>CAN MAP</label>
        </rules>
        <rules>
            <name>CAN_Integrating_Agile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrating Agile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_Integrating_Agile_Email_Alert</targetReference>
            </connector>
            <label>CAN Integrating Agile</label>
        </rules>
        <rules>
            <name>CAN_Leading</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_Leading_Email_Alert</targetReference>
            </connector>
            <label>CAN Leading</label>
        </rules>
        <rules>
            <name>CAN_Late_Start_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_Late_Start_Email_Alert</targetReference>
            </connector>
            <label>CAN Late Start Cert</label>
        </rules>
        <rules>
            <name>CAN_Taking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taking Charge of Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_Taking_Charge_Email_Alert</targetReference>
            </connector>
            <label>CAN Taking</label>
        </rules>
        <rules>
            <name>CAN_Weekend_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_Weekend_Cert_Email_Alert</targetReference>
            </connector>
            <label>CAN Weekend Cert</label>
        </rules>
        <rules>
            <name>CAN_French_Public_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_CAN_French</targetReference>
            </connector>
            <label>CAN French Public Cert</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_ANZ_Program</name>
        <label>What ANZ Program</label>
        <locationX>7662</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Retrigger_ANZ_VILT_program_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ANZ_Early_Start_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_ANZ_Early_Start_Cert</targetReference>
            </connector>
            <label>ANZ Early Start Cert</label>
        </rules>
        <rules>
            <name>ANZ_Late_Start_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_ANZ_Late_Start_Email_Alert</targetReference>
            </connector>
            <label>ANZ Late Start Cert</label>
        </rules>
        <rules>
            <name>All_other_VILT</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Late</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_ANZ_All_Other_VILT_Program_Email_Alert</targetReference>
            </connector>
            <label>All other VILT</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Program</name>
        <label>What Program?</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADKAR_Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADKAR Model Mastery Level 1: Prevent Change Resistance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_ADKAR_Level_1_Email_Alert</targetReference>
            </connector>
            <label>ADKAR Level 1</label>
        </rules>
        <rules>
            <name>ADKAR_Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADKAR Model Mastery Level 2: Resolve Change Barriers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_ADKAR_Level_2_Email_Alert</targetReference>
            </connector>
            <label>ADKAR Level 2</label>
        </rules>
        <rules>
            <name>Early_Start_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_Earlty_Start_Email_Alert</targetReference>
            </connector>
            <label>Early Start Cert</label>
        </rules>
        <rules>
            <name>ECM_Boot_Camp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM Boot Camp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_ECM_Email_Alert</targetReference>
            </connector>
            <label>ECM Boot Camp</label>
        </rules>
        <rules>
            <name>Improve_Project_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Improve Project Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_Improve_Project_Health_Email_Alert</targetReference>
            </connector>
            <label>Improve Project Health</label>
        </rules>
        <rules>
            <name>In_Person_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_In_Person_Cert_Email_Alert</targetReference>
            </connector>
            <label>In Person Cert</label>
        </rules>
        <rules>
            <name>MAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Methodology Application Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_MAP_Email_Alert</targetReference>
            </connector>
            <label>MAP</label>
        </rules>
        <rules>
            <name>Integrating_Agile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrating Agile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_Integrating_Agile</targetReference>
            </connector>
            <label>Integrating Agile</label>
        </rules>
        <rules>
            <name>Leading</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_Leading_Email_Alert</targetReference>
            </connector>
            <label>Leading</label>
        </rules>
        <rules>
            <name>VIRT_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_VILT_Certification</targetReference>
            </connector>
            <label>VIRT Cert</label>
        </rules>
        <rules>
            <name>Taking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taking Charge of Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_Taking_Charge</targetReference>
            </connector>
            <label>Taking</label>
        </rules>
        <rules>
            <name>TTT_Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_TTT_Level_1</targetReference>
            </connector>
            <label>TTT Level 1</label>
        </rules>
        <rules>
            <name>TTT_level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_TTT_Level_2</targetReference>
            </connector>
            <label>TTT level 2</label>
        </rules>
        <rules>
            <name>Partnership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Partnership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrigger_US_Partnership</targetReference>
            </connector>
            <label>Partnership</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Region</name>
        <label>What Region</label>
        <locationX>5066</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Retriggered_Check_in_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Program</targetReference>
            </connector>
            <label>USA</label>
        </rules>
        <rules>
            <name>CAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_What_Program</targetReference>
            </connector>
            <label>CAN</label>
        </rules>
        <rules>
            <name>ANZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_ANZ_Program</targetReference>
            </connector>
            <label>ANZ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Associated Training Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associated Training Contact - Trigger individual check-in email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Retriggered_Check_in_Email_Alert</name>
        <label>Retriggered Check-in Email Alert</label>
        <locationX>5066</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>4940</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Region</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trigger_Individual_Check_in_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Associated_Training_Contacts__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Retriggered Check-in Email for {!$Record.Training_Event__r.Name}</text>
    </textTemplates>
</Flow>
