force-app/main/default/flows/Auto_Assign_Assets_to_Portal_Access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_for_Auto_Assign_Account_Asset</name>
        <label>Check for Auto-Assign Account Asset</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No Qualifying Asset</defaultConnectorLabel>
        <rules>
            <name>Qualifying_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Asset_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Qualifying_Assets</targetReference>
            </connector>
            <label>Qualifying Asset</label>
        </rules>
    </decisions>
    <description>Auto Assign Assets to Portal Access records that are created in Salesforce</description>
    <formulas>
        <name>AssignedDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!Loop_over_Assets.Product2.Subscription_Length_days__c}</expression>
    </formulas>
    <interviewLabel>Auto Assign Assets to Portal Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Assign Assets to Portal Access</label>
    <loops>
        <name>Loop_over_Assets</name>
        <label>Loop over Assets</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_Qualifying_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Customer_Product</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Product</name>
        <label>Create Customer Product</label>
        <locationX>138</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Loop_over_Assets</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset__c</field>
            <value>
                <elementReference>Loop_over_Assets.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>AssignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Loop_over_Assets.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date__c</field>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all Account Assets that allow auto-assignment</description>
        <name>Get_Qualifying_Assets</name>
        <label>Get Qualifying Assets</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Allow_Auto_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Auto_Assign_Account_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>prosci_portal_db_id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Portal_Access__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
