force-app/main/default/flows/Bookstore_Orders_Portal_Access_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>Check that the opportunity is a Bookstore Order</description>
        <name>Bookstore_Order</name>
        <label>Bookstore Order</label>
        <locationX>776</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Not Bookstore Order</defaultConnectorLabel>
        <rules>
            <name>Bookstore_Order1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012i0000001N4wiAAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Category_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bookstore</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Products</targetReference>
            </connector>
            <label>Bookstore Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Assignable_Product</name>
        <label>Check for Assignable Product</label>
        <locationX>358</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Create_Customer_Products_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Assignable</defaultConnectorLabel>
        <rules>
            <name>Product_Assignable_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_All_New_Customer_Products.Product2.Portal_is_assignable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_All_New_Customer_Products.Product2.Portal_Assignable_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_Products_Renewal</targetReference>
            </connector>
            <label>Product Assignable Renewal</label>
        </rules>
        <rules>
            <name>Product_Not_Assignable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_All_New_Customer_Products.Product2.Portal_is_assignable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_All_New_Customer_Products.Product2.Portal_Assignable_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_All_New_Customer_Products</targetReference>
            </connector>
            <label>Product Not Assignable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Assignable_Product_0</name>
        <label>Check for Assignable Product</label>
        <locationX>1150</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Create_Customer_Products_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Assignable</defaultConnectorLabel>
        <rules>
            <name>Product_Assignable_Renewal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_All_New_Customer_Products_0.Product2.Portal_is_assignable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_All_New_Customer_Products_0.Product2.Portal_Assignable_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_Products_0_0_0_0_0</targetReference>
            </connector>
            <label>Product Assignable Renewal</label>
        </rules>
        <rules>
            <name>Product_Not_Assignable_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_All_New_Customer_Products_0.Product2.Portal_is_assignable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_All_New_Customer_Products_0.Product2.Portal_Assignable_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_All_New_Customer_Products_0</targetReference>
            </connector>
            <label>Product Not Assignable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Existing_Portal_Access_0</name>
        <label>Check for Existing Portal Access</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Create_Portal_Access_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Portal Access</defaultConnectorLabel>
        <rules>
            <name>Existing_Portal_Access_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Ship_To_Contact__r.Existing_Portal_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Portal_Access_0</targetReference>
            </connector>
            <label>Existing Portal Access</label>
        </rules>
    </decisions>
    <description>Create portal access (as needed) and assign Customer Products from bookstore orders</description>
    <formulas>
        <name>Assigned</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>ExpirationDateExisting</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!Create_All_New_Customer_Products.Product2.Subscription_Length_days__c}</expression>
    </formulas>
    <formulas>
        <name>ExpirationDateNew</name>
        <dataType>Date</dataType>
        <expression>TODAY()+{!Create_All_New_Customer_Products_0.Product2.Subscription_Length_days__c}</expression>
    </formulas>
    <interviewLabel>Bookstore Orders Portal Access Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bookstore Orders Portal Access Creation</label>
    <loops>
        <name>Create_All_New_Customer_Products</name>
        <label>Create All Customer Products</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_All_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Assignable_Product</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Create_All_New_Customer_Products_0</name>
        <label>Create All Customer Products</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_All_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Assignable_Product_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Products_0_0</name>
        <label>Create Customer Products</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_All_New_Customer_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>Assigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>PortalAccessID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_All_New_Customer_Products.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date__c</field>
            <value>
                <elementReference>ExpirationDateExisting</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Products_0_0_0_0</name>
        <label>Create Customer Products</label>
        <locationX>1370</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Create_All_New_Customer_Products_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>Assigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>Create_Portal_Access_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_All_New_Customer_Products_0.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date__c</field>
            <value>
                <elementReference>ExpirationDateNew</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Products_0_0_0_0_0</name>
        <label>Create Customer Products</label>
        <locationX>930</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Create_All_New_Customer_Products_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>Assigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>Create_Portal_Access_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_All_New_Customer_Products_0.Product2.Portal_Assignable_Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date__c</field>
            <value>
                <elementReference>ExpirationDateNew</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Products_Renewal</name>
        <label>Create Customer Products Renewal</label>
        <locationX>138</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_All_New_Customer_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>Assigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>PortalAccessID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_All_New_Customer_Products.Product2.Portal_Assignable_Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date__c</field>
            <value>
                <elementReference>ExpirationDateExisting</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_Access_0</name>
        <label>Create Portal Access</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Contact_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Opportunity.Ship_To_Contact__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Opportunity.Ship_To_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_Opportunity.Ship_To_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Get_Opportunity.Ship_To_Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Get_Opportunity.Ship_To_Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customer_type_id__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Portal_Access__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Check product ID from all opportunity products</description>
        <name>Get_All_Products</name>
        <label>Get All Products</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Portal_Access_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bookstore_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Access_0</name>
        <label>Get Portal Access</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_All_New_Customer_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Ship_To_Contact__r.Id</elementReference>
            </value>
        </filters>
        <object>Portal_Access__c</object>
        <outputAssignments>
            <assignToReference>PortalAccessID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update contact to indicate portal access is created</description>
        <name>Update_Contact_0</name>
        <label>Update Contact</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Create_All_New_Customer_Products_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Ship_To_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Existing_Portal_Access__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>Create_Portal_Access_0</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailRenewalNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A bookstore ordered with renewal products has be created. View the order &lt;a href=&quot;prosci.lightning.force.com/{!$Record.Opportunity.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>PortalAccessID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
