force-app/main/default/flows/Calculate_Business_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Business_Hours</name>
        <label>Calculate Business Hours</label>
        <locationX>778</locationX>
        <locationY>518</locationY>
        <actionName>BusinessHoursService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Business_Hours</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>startEndTimes</name>
            <value>
                <elementReference>createdAndReviewedTimes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BusinessHoursService</nameSegment>
        <outputParameters>
            <assignToReference>calculatedBusinessHours</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Created_and_Reviewed_Times_to_Collection</name>
        <label>Add Created and Reviewed Times to Collection</label>
        <locationX>778</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>createdAndReviewedTimes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createdAndReviewedTimes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Business_Hours</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>currentTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Calculate Business Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Business Hours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Business_Hours</name>
        <label>Update Business Hours</label>
        <locationX>779</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>Time_Before_Reviewed__c</field>
            <value>
                <elementReference>calculatedBusinessHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Add_Created_and_Reviewed_Times_to_Collection</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reviewed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>calculatedBusinessHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>createdAndReviewedTimes</name>
        <dataType>DateTime</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
