force-app/main/default/flows/Case_Talent_Task_Flow_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CAN_Cancel_Credit_Card_Email</name>
        <label>CAN Cancel Credit Card Email</label>
        <locationX>4626</locationX>
        <locationY>2483</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Deactivate_Building_Key_Fob</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Cancel_Credit_Card</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Confirm_Building_Access_Email</name>
        <label>CAN Confirm Building Access Email</label>
        <locationX>3328</locationX>
        <locationY>2627</locationY>
        <actionName>Task.New_Talent_Task_Created_Facilities_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Transition_Role_needs_business_cards</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Transition_Confirm_Building_Access</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Facilities_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Create_Bio_Email</name>
        <label>CAN Create Bio Email</label>
        <locationX>842</locationX>
        <locationY>3491</locationY>
        <actionName>Task.New_Talent_Task_Created_Bio</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Work_Location</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Create_Bio</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Bio</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Deactivate_Building_Access_Email</name>
        <label>CAN Deactivate Building Access Email</label>
        <locationX>4626</locationX>
        <locationY>2699</locationY>
        <actionName>Task.New_Talent_Task_Created_Facilities_CAN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Deactivate_Building_Key_Fob</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Facilities_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Deactivate_Concur_Email</name>
        <label>CAN Deactivate Concur Email</label>
        <locationX>4626</locationX>
        <locationY>2267</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Cancel_Credit_Card</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Deactivate_Concur</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Dedicated_Office_Space_Email</name>
        <label>CAN Dedicated Office Space Email</label>
        <locationX>842</locationX>
        <locationY>4307</locationY>
        <actionName>Task.New_Talent_Task_Created_Facilities_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Role_needs_business_cards</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Dedicate_Office_Space_Task</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Facilities_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Order_Business_Cards_Task</name>
        <label>CAN Order Business Cards Task</label>
        <locationX>842</locationX>
        <locationY>4715</locationY>
        <actionName>Task.New_Talent_Task_Created_Facilities_CAN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Order_Business_Cards</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Facilities_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Set_up_new_Province</name>
        <label>CAN Set up new Province</label>
        <locationX>842</locationX>
        <locationY>3083</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Bio_and_Headshot</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CANSet_up_New_Province_for_Taxes</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Transition_Order_Business_Cards</name>
        <label>CAN Transition Order Business Cards</label>
        <locationX>3196</locationX>
        <locationY>2951</locationY>
        <actionName>Task.New_Talent_Task_Created_Facilities_CAN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Transition_Order_Business_Cards_Task</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Facilities_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Transition_Provide_Relevant_Documents_Email</name>
        <label>CAN Transition Provide Relevant Documents Email</label>
        <locationX>3570</locationX>
        <locationY>1919</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Transition_Confirm_Building_Access</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Transition_Provide_Relevant_Contractor_Documents</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Credit_Card_Email</name>
        <label>Cancel Credit Card Email</label>
        <locationX>4362</locationX>
        <locationY>2483</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_US</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Offboarding_Facilities_US</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Cancel_credit_card_if_necessary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Confirm_Concur_Access_is_Correct_CAN_Email</name>
        <label>Confirm Concur Access is Correct CAN Email</label>
        <locationX>3042</locationX>
        <locationY>2027</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Transition_Confirm_Building_Access</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Confirm_Concur_Access_is_correct</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Confirm_Concur_Access_is_Correct_CAN_Email</name>
        <label>Copy 1 of Confirm Concur Access is Correct CAN Email</label>
        <locationX>3306</locationX>
        <locationY>2243</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Transition_Confirm_Building_Access</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Copy_1_of_CAN_Confirm_Concur_Access_is_correct</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Portal_Account_and_Activate_Tools_Email</name>
        <label>Create Portal Account and Activate Tools Email</label>
        <locationX>1007</locationX>
        <locationY>1619</locationY>
        <actionName>Task.New_Talent_Task_Created_Portal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Needs_Hardware</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_Portal_Account_and_Assign_Tools</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Portal</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Deactivate_Building_Access_Email</name>
        <label>Deactivate Building Access Email</label>
        <locationX>4362</locationX>
        <locationY>2807</locationY>
        <actionName>Task.New_Talent_Task_Created_Facilities_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Deactivate_Building_Access_if_necessary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Facilities_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Deactivate_Concur_Email</name>
        <label>Deactivate Concur Email</label>
        <locationX>4362</locationX>
        <locationY>2267</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_US</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Cancel_credit_card_if_necessary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Deactivate_Concur</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Deactivate_Portal_Tools_Email</name>
        <label>Deactivate Portal Tools Email</label>
        <locationX>4758</locationX>
        <locationY>1835</locationY>
        <actionName>Task.New_Talent_Task_Created_Portal</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Offboarding_Division</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Deactivate_Portal_Tools</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Portal</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Manager_Offboarding</name>
        <label>Email Alert Manager Offboarding</label>
        <locationX>4758</locationX>
        <locationY>647</locationY>
        <actionName>Case.Manager_Notification_Offboarding</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Block_O365_and_Change_Password</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Manager_Notification_Offboarding</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Manager_Onboarding</name>
        <label>Email Alert Manager Onboarding</label>
        <locationX>1007</locationX>
        <locationY>647</locationY>
        <actionName>Case.Manager_Notification_Onboarding</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_O365_Account_and_Assign_License</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Manager_Notification_Onboarding</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Order_Cancel_Credit_Card_CAN_Email</name>
        <label>Order/Cancel Credit Card CAN Email</label>
        <locationX>3306</locationX>
        <locationY>2027</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_CAN_Confirm_Concur_Access_is_correct</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Order_or_cancel_credit_card_if_necessary</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Order_Credit_Card_CAN</name>
        <label>Order Credit Card CAN</label>
        <locationX>842</locationX>
        <locationY>2675</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Set_up_New_Province_for_Taxes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Order_Credit_Card_Task</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Request_Key_Fob_Email</name>
        <label>Request Key Fob Email</label>
        <locationX>842</locationX>
        <locationY>3899</locationY>
        <actionName>Task.New_Talent_Task_Created_Facilities_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Office_Only</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Request_Office_Fob_Task</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Facilities_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Schedule_Concur_Training_CAN</name>
        <label>Schedule Concur Training CAN</label>
        <locationX>974</locationX>
        <locationY>2351</locationY>
        <actionName>Task.New_Talent_Task_Created_Finance_CAN</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CAN_Order_Credit_Card</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Schedule_Training_on_Concur</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.New_Talent_Task_Created_Finance_CAN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Bio created and headshot captured if requested by Talent</description>
        <name>Bio_and_Headshot</name>
        <label>Bio and Headshot</label>
        <locationX>380</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Find_Onboarding_Finance_US</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Bio_and_Headshot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role_Requires_Bio_Headshot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Bio</targetReference>
            </connector>
            <label>Need Bio and Headshot</label>
        </rules>
    </decisions>
    <decisions>
        <name>CAN_Office_Only</name>
        <label>CAN Office Only</label>
        <locationX>974</locationX>
        <locationY>4091</locationY>
        <defaultConnector>
            <targetReference>CAN_Role_needs_business_cards</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAN_In_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Dedicate_Office_Space_Task</targetReference>
            </connector>
            <label>CAN In Office</label>
        </rules>
    </decisions>
    <decisions>
        <name>CAN_Order_Credit_Card</name>
        <label>CAN Order Credit Card</label>
        <locationX>974</locationX>
        <locationY>2459</locationY>
        <defaultConnector>
            <targetReference>CAN_Set_up_New_Province_for_Taxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CAN Does not need Credit Card</defaultConnectorLabel>
        <rules>
            <name>CAN_Needs_Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role_Requires_Company_Credit_Card__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Order_Credit_Card_Task</targetReference>
            </connector>
            <label>CAN Needs Credit Card</label>
        </rules>
    </decisions>
    <decisions>
        <name>CAN_Role_needs_business_cards</name>
        <label>CAN Role needs business cards?</label>
        <locationX>974</locationX>
        <locationY>4499</locationY>
        <defaultConnectorLabel>Does not Need Business Cards</defaultConnectorLabel>
        <rules>
            <name>CAN_Needs_Business_Cards</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role_Requires_Business_Cards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Order_Business_Cards</targetReference>
            </connector>
            <label>CAN Needs Business Cards</label>
        </rules>
    </decisions>
    <decisions>
        <name>CAN_Set_up_New_Province_for_Taxes</name>
        <label>CAN Set up New Province for Taxes</label>
        <locationX>974</locationX>
        <locationY>2867</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Bio_and_Headshot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_up_New_Province_for_Taxes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_State_needs_to_be_set_up_for_payroll__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CANSet_up_New_Province_for_Taxes</targetReference>
            </connector>
            <label>Set up New Province for Taxes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CAN_Transition_Role_needs_business_cards</name>
        <label>CAN Transition Role needs business cards?</label>
        <locationX>3328</locationX>
        <locationY>2735</locationY>
        <defaultConnectorLabel>Does not Need Business Cards</defaultConnectorLabel>
        <rules>
            <name>CAN_Role_Needs_Business_Cards_Transition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role_Requires_Business_Cards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Transition_Order_Business_Cards_Task</targetReference>
            </connector>
            <label>CAN Transition Role Needs Business Cards</label>
        </rules>
    </decisions>
    <decisions>
        <name>CAN_Work_Location</name>
        <label>CAN Work Location</label>
        <locationX>974</locationX>
        <locationY>3683</locationY>
        <defaultConnector>
            <targetReference>CAN_Office_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CAN Remote</defaultConnectorLabel>
        <rules>
            <name>CAN_Office_or_Flex</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hybrid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Request_Office_Fob_Task</targetReference>
            </connector>
            <label>CAN Office or Flex</label>
        </rules>
    </decisions>
    <decisions>
        <description>Bio created and headshot captured if requested by Talent</description>
        <name>Copy_1_of_Bio_and_Headshot</name>
        <label>Copy 1 of Bio and Headshot</label>
        <locationX>974</locationX>
        <locationY>3275</locationY>
        <defaultConnector>
            <targetReference>CAN_Work_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAN_Need_Bio_and_Headshot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role_Requires_Bio_Headshot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Create_Bio</targetReference>
            </connector>
            <label>CAN Need Bio and Headshot</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_this_manager_or_title_change</name>
        <label>Copy 1 of Is this manager or title change?</label>
        <locationX>3086</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>CAN_Order_or_cancel_credit_card_if_necessary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Title_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_this_a_Manager_or_Title_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Transition_Confirm_Building_Access</targetReference>
            </connector>
            <label>Copy 1 of Title Change</label>
        </rules>
        <rules>
            <name>Copy_1_of_Manager_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_this_a_Manager_or_Title_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Confirm_Concur_Access_is_correct</targetReference>
            </connector>
            <label>Copy 1 of Manager Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Transition_Employment_Category</name>
        <label>Copy 1 of Transition Employment Category</label>
        <locationX>3328</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>CAN_Transition_Provide_Relevant_Contractor_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contractor</defaultConnectorLabel>
        <rules>
            <name>CAN_Transition_Not_a_Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Is_this_manager_or_title_change</targetReference>
            </connector>
            <label>CAN Transition Not a Contractor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Card</name>
        <label>Credit Card</label>
        <locationX>182</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>New_Tax_State_setup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not need Credit Card</defaultConnectorLabel>
        <rules>
            <name>Needs_Credit_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role_Requires_Company_Credit_Card__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Credit_Card_Task</targetReference>
            </connector>
            <label>Needs Credit Card</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Service_Department</name>
        <label>Customer Service Department</label>
        <locationX>182</locationX>
        <locationY>3875</locationY>
        <defaultConnector>
            <targetReference>Office_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other</defaultConnectorLabel>
        <rules>
            <name>Customer_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_on_Badge_System_Task</targetReference>
            </connector>
            <label>Customer Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employment_Category</name>
        <label>Employment Category</label>
        <locationX>380</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>Financial_Documents_for_Contractor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contractor</defaultConnectorLabel>
        <rules>
            <name>Not_a_Conractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_Training_on_Concur</targetReference>
            </connector>
            <label>Not a Conractor</label>
        </rules>
    </decisions>
    <decisions>
        <name>HQ_Transition_Role_needs_business_cards</name>
        <label>HQ Transition Role needs business cards?</label>
        <locationX>2360</locationX>
        <locationY>2927</locationY>
        <defaultConnectorLabel>Does not Need Business Cards</defaultConnectorLabel>
        <rules>
            <name>Transition_Role_Needs_Business_Cards</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role_Requires_Business_Cards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transition_Order_Business_Cards_Task</targetReference>
            </connector>
            <label>Transition Role Needs Business Cards</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_manager_or_title_change</name>
        <label>Is this manager or title change?</label>
        <locationX>2118</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Order_or_cancel_credit_card_if_necessary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Title_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_this_a_Manager_or_Title_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transition_New_Tax_State_setup</targetReference>
            </connector>
            <label>Title Change</label>
        </rules>
        <rules>
            <name>Manager_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_this_a_Manager_or_Title_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Concur_Access_is_correct</targetReference>
            </connector>
            <label>Manager Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Manager_Title_or_full_Transition</name>
        <label>Is this Manager, Title, or full Transition?</label>
        <locationX>3229</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Verify_if_still_needs_needs_BC_License</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_this_a_Manager_or_Title_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_O365_Profile_Groups_DG_s</targetReference>
            </connector>
            <label>Manager</label>
        </rules>
        <rules>
            <name>Title</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_this_a_Manager_or_Title_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_O365_Profile_Groups_DG_s</targetReference>
            </connector>
            <label>Title</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Hardware</name>
        <label>Needs Hardware?</label>
        <locationX>1007</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Setup_Hardware</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Needs Hardware</defaultConnectorLabel>
        <rules>
            <name>Contractor_does_not_need_hardware</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contractor_Does_not_need_Hardware__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onboarding_Division</targetReference>
            </connector>
            <label>Contractor does not need hardware</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Tax_State_setup</name>
        <label>New Tax State setup</label>
        <locationX>182</locationX>
        <locationY>3059</locationY>
        <defaultConnector>
            <targetReference>Find_Onboarding_Facilities_US</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_State_needs_to_be_set_up_for_payroll__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_New_State_for_Taxes</targetReference>
            </connector>
            <label>New State Setup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offboarding_Division</name>
        <label>Offboarding Division</label>
        <locationX>4758</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offboarding_HQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Offboarding_Finance_US</targetReference>
            </connector>
            <label>Offboarding HQ</label>
        </rules>
        <rules>
            <name>Offboarding_CAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Offboarding_Finance_CAN</targetReference>
            </connector>
            <label>Offboarding CAN</label>
        </rules>
        <rules>
            <name>Offboarding_ANZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANZ</stringValue>
                </rightValue>
            </conditions>
            <label>Offboarding ANZ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Office_Only</name>
        <label>Office Only</label>
        <locationX>182</locationX>
        <locationY>4283</locationY>
        <defaultConnector>
            <targetReference>Role_needs_business_cards</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dedicated_Office_Space_Task</targetReference>
            </connector>
            <label>In Office</label>
        </rules>
    </decisions>
    <decisions>
        <name>Onboarding_Division</name>
        <label>Onboarding Division</label>
        <locationX>1007</locationX>
        <locationY>2027</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bio_and_Headshot</targetReference>
            </connector>
            <label>HQ</label>
        </rules>
        <rules>
            <name>CAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Onboarding_Finance_CAN</targetReference>
            </connector>
            <label>CAN</label>
        </rules>
        <rules>
            <name>ANZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANZ</stringValue>
                </rightValue>
            </conditions>
            <label>ANZ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_needs_business_cards</name>
        <label>Role needs business cards?</label>
        <locationX>182</locationX>
        <locationY>4583</locationY>
        <defaultConnectorLabel>Does not Need Business Cards</defaultConnectorLabel>
        <rules>
            <name>Needs_Business_Cards</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role_Requires_Business_Cards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Business_Cards_Task</targetReference>
            </connector>
            <label>Needs Business Cards</label>
        </rules>
    </decisions>
    <decisions>
        <name>Talent_Case</name>
        <label>Talent Case?</label>
        <locationX>3212</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Manager_Onboarding</targetReference>
            </connector>
            <label>Onboarding</label>
        </rules>
        <rules>
            <name>Transition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_Manager_Title_or_full_Transition</targetReference>
            </connector>
            <label>Transition</label>
        </rules>
        <rules>
            <name>Offboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Manager_Offboarding</targetReference>
            </connector>
            <label>Offboarding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transition_Division</name>
        <label>Transition Division</label>
        <locationX>3229</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transition_HQ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Transition_Finance_US</targetReference>
            </connector>
            <label>Transition HQ</label>
        </rules>
        <rules>
            <name>Transition_CAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transition_Find_Onboarding_Finance_CAN</targetReference>
            </connector>
            <label>Transition CAN</label>
        </rules>
        <rules>
            <name>Transition_ANZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANZ</stringValue>
                </rightValue>
            </conditions>
            <label>Transition ANZ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transition_Employment_Category</name>
        <label>Transition Employment Category</label>
        <locationX>2360</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Send_W_9_and_invoice_instructions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contractor</defaultConnectorLabel>
        <rules>
            <name>Transition_Not_a_Contractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Employment_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Contractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_manager_or_title_change</targetReference>
            </connector>
            <label>Transition Not a Contractor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transition_New_Tax_State_setup</name>
        <label>Transition New Tax State setup</label>
        <locationX>2118</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Transition_Onboarding_Facilities_US</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transition_New_State_Setup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_State_needs_to_be_set_up_for_payroll__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transition_Set_up_New_State_for_Taxes</targetReference>
            </connector>
            <label>Transition New State Setup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Location</name>
        <label>Work Location</label>
        <locationX>182</locationX>
        <locationY>3467</locationY>
        <defaultConnector>
            <targetReference>Customer_Service_Department</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remote</defaultConnectorLabel>
        <rules>
            <name>Office_or_Flex</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Work_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hybrid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Office_Badge</targetReference>
            </connector>
            <label>Office or Flex</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Effective_Date__c}- 3</expression>
    </formulas>
    <formulas>
        <name>Effective5</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Effective_Date__c}+5</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>TodayPlus30</name>
        <dataType>Date</dataType>
        <expression>Today()+30</expression>
    </formulas>
    <formulas>
        <name>Todayplus7</name>
        <dataType>Date</dataType>
        <expression>Today()+7</expression>
    </formulas>
    <interviewLabel>Case - Talent Task Flow Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Talent Task Flow Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_New_Hire_to_Intranet</name>
        <label>Add New Hire to Intranet</label>
        <locationX>1007</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Create_Portal_Account_and_Activate_Tools_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Add New Hire to Intranet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add New Hire to appropriate section of Intranet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>BC_License</name>
        <label>BC License</label>
        <locationX>1007</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Check_for_Duplicate_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Get license and create a User Profile in Business Central and assign the appropriate permission set.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>BC License</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Block_O365_and_Change_Password</name>
        <label>Block O365 and Change Password</label>
        <locationX>4758</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Deactivate_Salesforce_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Block O365 Account, Change password, create shared mailbox, remove from groups. Remove from Azure applications as well. If not giving mailbox permissions to someone, set an auto-response email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Block O365 Account and Change Password</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Cancel_Credit_Card</name>
        <label>CAN Cancel Credit Card</label>
        <locationX>4626</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>CAN_Cancel_Credit_Card_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Offboarding_Finance_CAN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Cancel Credit Card if necessary </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Confirm_Concur_Access_is_correct</name>
        <label>CAN Confirm Concur Access is correct</label>
        <locationX>3042</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Confirm_Concur_Access_is_Correct_CAN_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Transition_Find_Onboarding_Finance_CAN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm Concur access is correct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Confirm_Concur_Access_is_correct_transition</name>
        <label>CAN Confirm Concur Access is correct transition</label>
        <locationX>2338</locationX>
        <locationY>2027</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Transition_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm Concur access is correct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Create_Bio</name>
        <label>CAN Create Bio</label>
        <locationX>842</locationX>
        <locationY>3383</locationY>
        <connector>
            <targetReference>CAN_Create_Bio_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Create Bio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000CBFIvAAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create Bio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Deactivate_Building_Key_Fob</name>
        <label>CAN Deactivate Building Key Fob</label>
        <locationX>4626</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>CAN_Deactivate_Building_Access_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000BsmZ9AAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deactivate Building Key Fob</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Deactivate_Concur</name>
        <label>CAN Deactivate Concur</label>
        <locationX>4626</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>CAN_Deactivate_Concur_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Offboarding_Finance_CAN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deactivate Concur Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Dedicate_Office_Space_Task</name>
        <label>CAN Dedicate Office Space Task</label>
        <locationX>842</locationX>
        <locationY>4199</locationY>
        <connector>
            <targetReference>CAN_Dedicated_Office_Space_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000BsmZ9AAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CAN Dedicated Office Space</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Order_Business_Cards</name>
        <label>CAN Order Business Cards</label>
        <locationX>842</locationX>
        <locationY>4607</locationY>
        <connector>
            <targetReference>CAN_Order_Business_Cards_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000BsmZ9AAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order Business Cards - CAN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Order_Credit_Card_Task</name>
        <label>CAN Order Credit Card Task</label>
        <locationX>842</locationX>
        <locationY>2567</locationY>
        <connector>
            <targetReference>Order_Credit_Card_CAN</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Finance_CAN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order Credit Card - CAN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Order_or_cancel_credit_card_if_necessary</name>
        <label>CAN Order or cancel credit card if necessary</label>
        <locationX>3306</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Order_Cancel_Credit_Card_CAN_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Transition_Find_Onboarding_Finance_CAN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order or cancel credit card if necessary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Request_Office_Fob_Task</name>
        <label>CAN Request Office Fob Task</label>
        <locationX>842</locationX>
        <locationY>3791</locationY>
        <connector>
            <targetReference>Request_Key_Fob_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000BsmZ9AAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request Office Fob - CAN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Schedule_Training_on_Concur</name>
        <label>CAN Schedule Training on Concur</label>
        <locationX>974</locationX>
        <locationY>2243</locationY>
        <connector>
            <targetReference>Schedule_Concur_Training_CAN</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Finance_CAN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule Training on Concur - CAN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Transition_Confirm_Building_Access</name>
        <label>CAN Transition Confirm Building Access</label>
        <locationX>3328</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>CAN_Confirm_Building_Access_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000BsmZ9AAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm Building Access is correct, activate/deactivate if necessary. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Transition_Order_Business_Cards_Task</name>
        <label>CAN Transition Order Business Cards Task</label>
        <locationX>3196</locationX>
        <locationY>2843</locationY>
        <connector>
            <targetReference>CAN_Transition_Order_Business_Cards</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000BsmZ9AAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order Business Cards</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CAN_Transition_Provide_Relevant_Contractor_Documents</name>
        <label>CAN Transition Provide Relevant Contractor Documents</label>
        <locationX>3570</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>CAN_Transition_Provide_Relevant_Documents_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Send W-9, invoicing instructions and template, and an ACH authorization form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Transition_Find_Onboarding_Finance_CAN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Provide Relevant Contractor Documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cancel_credit_card_if_necessary</name>
        <label>Cancel credit card if necessary</label>
        <locationX>4362</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Cancel_Credit_Card_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Offboarding_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Cancel Credit Card if necessary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CANSet_up_New_Province_for_Taxes</name>
        <label>CAN Set up New Province for Taxes</label>
        <locationX>842</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>CAN_Set_up_new_Province</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Finance_CAN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Set up New Province for Taxes - CAN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_for_Duplicate_Contacts</name>
        <label>Check for Duplicate Contacts</label>
        <locationX>1007</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Find_Portal_Support_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>The flow is bypassing the contacts if there is a duplicate. You may either need to merge duplicates or find the correct contact to add to the case. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Check for Duplicate Contacts</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_building_access_is_correct_activate_deactivate_if_necessary</name>
        <label>Confirm building access is correct, activate/deactivate if necessary</label>
        <locationX>2360</locationX>
        <locationY>2819</locationY>
        <connector>
            <targetReference>HQ_Transition_Role_needs_business_cards</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Transition_Onboarding_Facilities_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm building access is correct, activate/deactivate if necessary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Confirm_Concur_Access_is_correct</name>
        <label>Confirm Concur Access is correct</label>
        <locationX>2074</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Transition_New_Tax_State_setup</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Transition_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm Concur access is correct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_CAN_Confirm_Concur_Access_is_correct</name>
        <label>Copy 1 of CAN Confirm Concur Access is correct</label>
        <locationX>3306</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Copy_1_of_Confirm_Concur_Access_is_Correct_CAN_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Transition_Find_Onboarding_Finance_CAN.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm Concur access is correct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Bio</name>
        <label>Create Bio</label>
        <locationX>248</locationX>
        <locationY>2243</locationY>
        <connector>
            <targetReference>Find_Onboarding_Finance_US</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Create Bio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055d00000CBFIvAAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create Bio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_O365_Account_and_Assign_License</name>
        <label>Create O365 Account and Assign License</label>
        <locationX>1007</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Setup_Salesforce_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Create O365 Account and set default password. Don&apos;t check to update password  Add to Teams: Team_All The_Prosciety Team_Diveristy, Equity, and Inclusion  Add to Security Groups: MFA Bypass Group Azure Onboarding Group  Add to appropriate DG&apos;s. Add to Azure Portal SSO Group if necessary. USE TEMPLATE: Created O35 account. Email is INSERT EMAIL. Initial password is INSERT PASSWORD   Security Groups: Azure Onboarding, MFA Bypass, New computer Software, Revoke Amin  Teams Groups: Team_All, The_Prosciety, Team_Diversity, Equity and Inclusion  DG Groups: INSERT DG/s</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create O365 Account and Assign License</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_Account_and_Assign_Tools</name>
        <label>Create Portal Account and Assign Tools</label>
        <locationX>1007</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Add_New_Hire_to_Intranet</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Create Portal Account and Assign Tools</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Portal_Support_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create Portal Account and Assign Tools</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Deactivate_BC_User</name>
        <label>Deactivate BC User</label>
        <locationX>4758</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Remove_Other_Software_Licenses</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Todayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Deactivate BC User in Production and Test BC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deactivate BC User in Production and Test BC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Deactivate_Building_Access_if_necessary</name>
        <label>Deactivate Building Access if necessary</label>
        <locationX>4362</locationX>
        <locationY>2699</locationY>
        <connector>
            <targetReference>Deactivate_Building_Access_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Offboarding_Facilities_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deactivate building access if necessary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Deactivate_Concur</name>
        <label>Deactivate Concur</label>
        <locationX>4362</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>Deactivate_Concur_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Offboarding_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deactivate Concur</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Deactivate_O365_License</name>
        <label>Deactivate O365 License</label>
        <locationX>4758</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Get_Portal_Support_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Effective5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Deactivate O365 License after 90 days</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deactivate O365 License after you have emailed manager to see if they would like access to files. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Deactivate_Portal_Tools</name>
        <label>Deactivate Portal Tools</label>
        <locationX>4758</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Offboard_in_Vanta</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Portal_Support_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deactivate Portal Tools</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Deactivate_Salesforce_Account</name>
        <label>Deactivate Salesforce Account</label>
        <locationX>4758</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Deactivate_BC_User</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Todayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Deactivate Salesforce Account and remove licenses</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Deactivate Salesforce Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Dedicated_Office_Space_Task</name>
        <label>Dedicated Office Space Task</label>
        <locationX>50</locationX>
        <locationY>4391</locationY>
        <connector>
            <targetReference>Role_needs_business_cards</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Facilities_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Find Dedicated Office Space</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Financial_Documents_for_Contractor</name>
        <label>Financial Documents for Contractor</label>
        <locationX>578</locationX>
        <locationY>2651</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Send W-9, invoicing instructions and template, and an ACH authorization form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Financial Documents for Contractor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Get_Office_Badge</name>
        <label>Get Office Badge</label>
        <locationX>50</locationX>
        <locationY>3575</locationY>
        <connector>
            <targetReference>Provide_Relevant_Documents</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Facilities_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Assign Office Badge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Offboard_in_Vanta</name>
        <label>Offboard in Vanta</label>
        <locationX>4758</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Deactivate_Portal_Tools_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This is the final step when all tasks are closed and before we close the case. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Offboard in Vanta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Order_Business_Cards_Task</name>
        <label>Order Business Cards Task</label>
        <locationX>50</locationX>
        <locationY>4691</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Facilities_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order Business Cards</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Order_Credit_Card_Task</name>
        <label>Order Credit Card Task</label>
        <locationX>50</locationX>
        <locationY>2867</locationY>
        <connector>
            <targetReference>New_Tax_State_setup</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order Credit Card</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Order_or_cancel_credit_card_if_necessary</name>
        <label>Order or cancel credit card if necessary</label>
        <locationX>2338</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>CAN_Confirm_Concur_Access_is_correct_transition</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Transition_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order or cancel credit card if necessary</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Other_Software_Licenses</name>
        <label>Other Software Licenses</label>
        <locationX>1007</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>BC_License</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Activate or Deactivate any other user accounts: Zoom, Adobe, Poll EV, Jive, Conga, PSA </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other Software Licenses</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Provide_Relevant_Documents</name>
        <label>Provide Relevant Documents</label>
        <locationX>50</locationX>
        <locationY>3683</locationY>
        <connector>
            <targetReference>Customer_Service_Department</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Provide Safety Assembly document, office map and Gym Waiver.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Facilities_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Provide Relevant Documents</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Recover_Hardware</name>
        <label>Recover Hardware</label>
        <locationX>4758</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Deactivate_O365_License</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayPlus30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Recover Hardware</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Recover Hardware</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Remove_Employee_from_Intranet</name>
        <label>Remove Employee from Intranet</label>
        <locationX>4758</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Recover_Hardware</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Todayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Remove Employee from Intranet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Remove Employee from Intranet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Remove_Other_Software_Licenses</name>
        <label>Remove Other Software Licenses</label>
        <locationX>4758</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Remove_Employee_from_Intranet</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Todayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Remove Other software Licenses</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Remove Other software Licenses</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Schedule_Training_on_Concur</name>
        <label>Schedule Training on Concur</label>
        <locationX>182</locationX>
        <locationY>2651</locationY>
        <connector>
            <targetReference>Credit_Card</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Schedule Training on Concur</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Schedule_Training_on_Visitor_Badge_Process</name>
        <label>Schedule Training on Visitor Badge Process</label>
        <locationX>50</locationX>
        <locationY>4091</locationY>
        <connector>
            <targetReference>Office_Only</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Facilities_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Training on Visitor Badge Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_W_9_and_invoice_instructions</name>
        <label>Send W-9 and invoice instructions</label>
        <locationX>2602</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Transition_Onboarding_Facilities_US</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Send W-9, invoicing instructions and template, and an ACH authorization form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Transition_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send W-9 and Invoice instructions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Set_up_New_State_for_Taxes</name>
        <label>Set up New State for Taxes</label>
        <locationX>50</locationX>
        <locationY>3167</locationY>
        <connector>
            <targetReference>Find_Onboarding_Facilities_US</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Set up new State for Taxes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Setup_Hardware</name>
        <label>Setup Hardware</label>
        <locationX>1095</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>Onboarding_Division</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>IF ONBOARDING Gather requirements, Configure and Assign Hardware. Link Asset to Case </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Setup Hardware</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Setup_Salesforce_Account</name>
        <label>Setup Salesforce Account</label>
        <locationX>1007</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Other_Software_Licenses</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Create SF User Account, assign appropriate profile, enter title region and reports to, add any licenses or necessary permission sets, update contact card with title, division and reports to. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Setup Salesforce Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Training_on_Badge_System_Task</name>
        <label>Training on Badge System Task</label>
        <locationX>50</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Schedule_Training_on_Visitor_Badge_Process</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Onboarding_Facilities_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Training on Badge System</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Transition_Order_Business_Cards_Task</name>
        <label>Transition Order Business Cards Task</label>
        <locationX>2228</locationX>
        <locationY>3035</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Transition_Onboarding_Facilities_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Order Business Cards</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Transition_Set_up_New_State_for_Taxes</name>
        <label>Transition Set up New State for Taxes</label>
        <locationX>1986</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>Transition_Onboarding_Facilities_US</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_Transition_Finance_US.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Set up new State for Taxes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Hardware</name>
        <label>Update Hardware</label>
        <locationX>3405</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_O365_Profile_Groups_DG_s</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Does new role require different hardware?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update Hardware</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Intranet</name>
        <label>Update Intranet</label>
        <locationX>3229</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Transition_Division</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Update Intranet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update Intranet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_O365_Profile_Groups_DG_s</name>
        <label>Update O365 Profile, Groups DG&apos;s</label>
        <locationX>3229</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Update_Salesforce_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Update the O365 Profile information, update teams, groups, and DG&apos;s as necessary. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update O365 Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Other_Software_Licenses</name>
        <label>Update Other Software Licenses</label>
        <locationX>3405</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Hardware</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Do they still need access to the other software they have access to? Do they need new software in the new role? Look at Conga, PSA, Jive, Adobe, Zoom, Poll EV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update Other Software Licenses</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Salesforce_Account</name>
        <label>Update Salesforce Account</label>
        <locationX>3229</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Update_Intranet</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Update Salesforce Contact, and User with new title, department and reports to. Update profile and licenses as needed. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update Salesforce Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Verify_if_still_needs_needs_BC_License</name>
        <label>Verify if still needs/needs BC License</label>
        <locationX>3405</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Other_Software_Licenses</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Verify if user still needs BC or now needs BC in the new role. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_ICT_Support_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verify if user still needs/needs BC License in New Role</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Case_that_Triggered_Flow</name>
        <label>Case that Triggered Flow</label>
        <locationX>3212</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_ICT_Support_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_ICT_Support_Queue</name>
        <label>Find ICT Support Queue</label>
        <locationX>3212</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Talent_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ICT_Support_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Offboarding_Finance_CAN</name>
        <label>Find Offboarding- Finance CAN</label>
        <locationX>4626</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Deactivate_Concur</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Finance_CAN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Offboarding_Finance_US</name>
        <label>Find Offboarding - Finance US</label>
        <locationX>4362</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deactivate_Concur</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Finance_US</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Onboarding_Facilities_US</name>
        <label>Find Onboarding Facilities - US</label>
        <locationX>182</locationX>
        <locationY>3359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Facilities_US</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Onboarding_Finance_CAN</name>
        <label>Find Onboarding - Finance CAN</label>
        <locationX>974</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Schedule_Training_on_Concur</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Finance_CAN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Onboarding_Finance_US</name>
        <label>Find Onboarding - Finance US</label>
        <locationX>380</locationX>
        <locationY>2435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employment_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Finance_US</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Portal_Support_Group</name>
        <label>Find Portal Support Group</label>
        <locationX>1007</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Portal_Account_and_Assign_Tools</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Portal_Support_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Transition_Finance_US</name>
        <label>Find Transition - Finance US</label>
        <locationX>2360</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transition_Employment_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Finance_US</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Support_Group</name>
        <label>Get Portal Support Group</label>
        <locationX>4758</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deactivate_Portal_Tools</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Portal_Support_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Offboarding_Facilities_US</name>
        <label>Offboarding Facilities - US</label>
        <locationX>4362</locationX>
        <locationY>2591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Deactivate_Building_Access_if_necessary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Facilities_US</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Transition_Find_Onboarding_Finance_CAN</name>
        <label>Transition Find Onboarding - Finance CAN</label>
        <locationX>3328</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Transition_Employment_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Finance_CAN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Transition_Onboarding_Facilities_US</name>
        <label>Transition Onboarding Facilities - US</label>
        <locationX>2360</locationX>
        <locationY>2711</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_building_access_is_correct_activate_deactivate_if_necessary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Facilities_US</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>3086</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_that_Triggered_Flow</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
