force-app/main/default/flows/Case_New_Hire_Box_Opportunity_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_New_Hire_Box_Opportunity_Created</name>
        <label>Copy 1 of New Hire Box Opportunity Created</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.New_Hire_Welcome_Box</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Will_Call_New_Hire_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Hire_Welcome_Box</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Hire_Box_Opportunity_Created</name>
        <label>New Hire Box Opportunity Created</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>Opportunity.New_Hire_Welcome_Box</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>New_Hire_Opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_Hire_Welcome_Box</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pricebook_for_Product_new_Hire_Box</name>
        <label>Pricebook for Product new Hire Box</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>choosePricebook</actionName>
        <actionType>choosePricebook</actionType>
        <connector>
            <targetReference>Add_Product_to_New_Hire_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parentEntityId</name>
            <value>
                <elementReference>New_Hire_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricebook2Id</name>
            <value>
                <stringValue>01s1Y0000042B6FQAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>choosePricebook</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pricebook_for_Product_Will_Call_New_Hire_Box</name>
        <label>Pricebook for Product Will Call New Hire Box</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>choosePricebook</actionName>
        <actionType>choosePricebook</actionType>
        <connector>
            <targetReference>Add_Product_to_Will_Call_New_Hire_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parentEntityId</name>
            <value>
                <elementReference>Will_Call_New_Hire_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pricebook2Id</name>
            <value>
                <stringValue>01s1Y0000042B6FQAU</stringValue>
            </value>
        </inputParameters>
        <nameSegment>choosePricebook</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Will_Call</name>
        <label>Will Call</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>New_Hire_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ship</defaultConnectorLabel>
        <rules>
            <name>Will_Call_Pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_Hire_will_pick_up_from_office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Will_Call_New_Hire_Opportunity</targetReference>
            </connector>
            <label>Will Call Pickup</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>shipmentdateformula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Effective_Date__c}-3</expression>
    </formulas>
    <interviewLabel>Case - New Hire Box Opportunity Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - New Hire Box Opportunity Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Product_to_New_Hire_Opportunity</name>
        <label>Add Product to New Hire Opportunity</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>New_Hire_Box_Opportunity_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>New_Hire_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t5d000009UDoZAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Product_to_Will_Call_New_Hire_Opportunity</name>
        <label>Add Product to Will Call New Hire Opportunity</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Copy_1_of_New_Hire_Box_Opportunity_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Will_Call_New_Hire_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t5d000009UDoZAAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Hire_Opportunity</name>
        <label>New Hire Opportunity</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>New_Hire_Box_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_Note__c</field>
            <value>
                <elementReference>$Record.New_Hire_Shirt_size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New Hire Welcome Box</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001N4wiAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Country__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_State__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Street__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Zip__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Date__c</field>
            <value>
                <elementReference>shipmentdateformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Code_Courier__c</field>
            <value>
                <stringValue>FEDEX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Service_Code_Priority__c</field>
            <value>
                <stringValue>GNDHOME</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Brand New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Will_Call_New_Hire_Opportunity</name>
        <label>Will Call New Hire Opportunity</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Pricebook_for_Product_Will_Call_New_Hire_Box</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_Note__c</field>
            <value>
                <elementReference>$Record.New_Hire_Shirt_size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New Hire Welcome Box</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001N4wiAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Country__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_State__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Street__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Zip__c</field>
            <value>
                <elementReference>$Record.Home_Shipping_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Date__c</field>
            <value>
                <elementReference>shipmentdateformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Code_Courier__c</field>
            <value>
                <stringValue>WILL_CALL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Service_Code_Priority__c</field>
            <value>
                <stringValue>Will Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Brand New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>New_Hire_Box_Opportunity</name>
        <label>New Hire Box Opportunity</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Pricebook_for_Product_new_Hire_Box</targetReference>
        </connector>
        <inputAssignments>
            <field>New_Hire_Box_Opportunity__c</field>
            <value>
                <elementReference>New_Hire_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Will_Call</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</filterLogic>
        <filters>
            <field>System__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employment_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contractor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Home_Shipping_Address__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>New_Hire_will_pick_up_from_office__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CAN</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
