force-app/main/default/flows/Conga_Additional_Review_Completed_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Additional_Review_Approved</name>
        <label>Additional Review Approved</label>
        <locationX>50</locationX>
        <locationY>2282</locationY>
        <actionName>APXT_Redlining__Contract_Agreement__c.Additional_Review_Approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APXT_Redlining__Contract_Agreement__c.Additional_Review_Approved</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Reviewer_1_Completed</name>
        <label>Assign Reviewer 1 Completed</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_CA.Date_Completed_Additional_Reviewer_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Reviewer_2_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reviewer_2_Completed</name>
        <label>Assign Reviewer 2 Completed</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_CA.Date_Completed_Additional_Reviewer_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Reviewer_3_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reviewer_3_Completed</name>
        <label>Assign Reviewer 3 Completed</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Get_CA.Date_Completed_Additional_Reviewer_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Reviewer_4_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reviewer_4_Completed</name>
        <label>Assign Reviewer 4 Completed</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Get_CA.Date_Completed_Additional_Reviewer_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Reviewer_5_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reviewer_5_Completed</name>
        <label>Assign Reviewer 5 Completed</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>Get_CA.Date_Completed_Additional_Reviewer_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CA_with_Dates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Reviewer_2_Id</name>
        <label>Additional Reviewer 2 Id</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Additional_Reviewer_3_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reviewer_2_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Get_CA.Additional_Reviewer_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CA.Additional_Reviewer_2__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reviewer_2_Completed</targetReference>
            </connector>
            <label>Reviewer 2 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Reviewer_3_Id</name>
        <label>Additional Reviewer 3 Id</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Additional_Reviewer_4_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reviewer_3_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Get_CA.Additional_Reviewer_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CA.Additional_Reviewer_3__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reviewer_3_Completed</targetReference>
            </connector>
            <label>Reviewer 3 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Reviewer_4_Id</name>
        <label>Additional Reviewer 4 Id</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Additional_Reviewer_5_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reviewer_4_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Get_CA.Additional_Reviewer_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CA.Additional_Reviewer_4__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reviewer_4_Completed</targetReference>
            </connector>
            <label>Reviewer 4 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Reviewer_5_Id</name>
        <label>Additional Reviewer 5 Id</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Update_CA_with_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reviewer_5_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Get_CA.Additional_Reviewer_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CA.Additional_Reviewer_5__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reviewer_5_Completed</targetReference>
            </connector>
            <label>Reviewer 5 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Reviewer_Id</name>
        <label>Additional Reviewer Id</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Additional_Reviewer_2_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reviewer_1_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>Get_CA.Additional_Reviewer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_CA.Additional_Reviewer__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reviewer_1_Completed</targetReference>
            </connector>
            <label>Reviewer 1 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Additional_Reviewer</name>
        <label>Final Additional Reviewer?</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <defaultConnectorLabel>More Reviews Needed</defaultConnectorLabel>
        <rules>
            <name>Review_Complete</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5) OR (6 AND 7 AND 8 AND 9 AND 10 AND 11) OR (12 AND 13 AND 14 AND 15 AND 16) OR (17 AND 18 AND 19 AND 20)</conditionLogic>
            <conditions>
                <leftValueReference>fCountofReviewers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCountofReviewers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCountofReviewers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCountofReviewers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fCountofReviewers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Updated_CA.Date_Completed_Additional_Reviewer_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CA_with_Status</targetReference>
            </connector>
            <label>Review Complete</label>
        </rules>
    </decisions>
    <description>Fixed label typo</description>
    <environments>Default</environments>
    <formulas>
        <name>fCountofReviewers</name>
        <dataType>Number</dataType>
        <expression>IF (
NOT(ISBLANK({!Get_Updated_CA.Additional_Reviewer_5__r.Id})), 5, 
IF (
NOT(ISBLANK({!Get_Updated_CA.Additional_Reviewer_4__r.Id})), 4, 
IF (
NOT(ISBLANK({!Get_Updated_CA.Additional_Reviewer_3__r.Id})), 3, 
IF (
NOT(ISBLANK({!Get_Updated_CA.Additional_Reviewer_2__r.Id})), 2, 
IF (
NOT(ISBLANK({!Get_Updated_CA.Additional_Reviewer__r.Id})), 1, 0)))))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Conga - Additional Review Completed Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conga - Additional Review Completed Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CA</name>
        <label>Get CA</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approved_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APXT_Redlining__Contract_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_CA</name>
        <label>Get Updated CA</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Additional_Reviewer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APXT_Redlining__Contract_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Additional_Reviewer__c</queriedFields>
        <queriedFields>Additional_Reviewer_2__c</queriedFields>
        <queriedFields>Additional_Reviewer_3__c</queriedFields>
        <queriedFields>Additional_Reviewer_4__c</queriedFields>
        <queriedFields>Additional_Reviewer_5__c</queriedFields>
        <queriedFields>Date_Completed_Additional_Reviewer_1__c</queriedFields>
        <queriedFields>Date_Completed_Additional_Reviewer_2__c</queriedFields>
        <queriedFields>Date_Completed_Additional_Reviewer_3__c</queriedFields>
        <queriedFields>Date_Completed_Additional_Reviewer_4__c</queriedFields>
        <queriedFields>Date_Completed_Additional_Reviewer_5__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CA_with_Dates</name>
        <label>Update CA with Dates</label>
        <locationX>182</locationX>
        <locationY>1850</locationY>
        <connector>
            <targetReference>Get_Updated_CA</targetReference>
        </connector>
        <inputReference>Get_CA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CA_with_Status</name>
        <label>Update CA with Status</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Additional_Review_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>APXT_Redlining__Status__c</field>
            <value>
                <stringValue>Additional Review Completed</stringValue>
            </value>
        </inputAssignments>
        <object>APXT_Redlining__Contract_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Approved_Screen</name>
        <label>Approved Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Reviewer_Id</targetReference>
        </connector>
        <fields>
            <name>AreYouSureApproved</name>
            <fieldText>&lt;p&gt;{!Get_CA.Are_you_sure_add_review_approved__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
