force-app/main/default/flows/Conga_CA_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Additional_Reviewer_1_Email</name>
        <label>Send Additional Reviewer 1 Email</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <actionName>APXT_Redlining__Contract_Agreement__c.Additional_Review_1_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Additional_Reviewer_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APXT_Redlining__Contract_Agreement__c.Additional_Review_1_Needed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Additional_Reviewer_2</name>
        <label>Send Additional Reviewer 2</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <actionName>APXT_Redlining__Contract_Agreement__c.Additional_Review_2_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Additional_Reviewer_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APXT_Redlining__Contract_Agreement__c.Additional_Review_2_Needed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Additional_Reviewer_3</name>
        <label>Send Additional Reviewer 3</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <actionName>APXT_Redlining__Contract_Agreement__c.Additional_Review_3_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Additional_Reviewer_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APXT_Redlining__Contract_Agreement__c.Additional_Review_3_Needed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Additional_Reviewer_4</name>
        <label>Send Additional Reviewer 4</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <actionName>APXT_Redlining__Contract_Agreement__c.Additional_Review_4_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Additional_Reviewer_5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APXT_Redlining__Contract_Agreement__c.Additional_Review_4_Needed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Additional_Reviewer_5</name>
        <label>Send Additional Reviewer 5</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <actionName>APXT_Redlining__Contract_Agreement__c.Additional_Review_5_Needed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APXT_Redlining__Contract_Agreement__c.Additional_Review_5_Needed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Privacy_Review_Approved</name>
        <label>Send Privacy Review Approved</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>APXT_Redlining__Contract_Agreement__c.Privacy_and_Security_Review_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Privacy_Review_Review_Approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APXT_Redlining__Contract_Agreement__c.Privacy_and_Security_Review_Approved</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Privacy_Review_Needed</name>
        <label>Send Privacy Review Needed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>APXT_Redlining__Contract_Agreement__c.Privacy_and_Security_Review_Needed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>In_Privacy_Review</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APXT_Redlining__Contract_Agreement__c.Privacy_and_Security_Review_Needed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Additional_Reviewer_1</name>
        <label>Additional Reviewer 1</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Additional_Reviewer_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Reviewer_1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Reviewer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Additional_Reviewer_1_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Additional Reviewer 1 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Reviewer_2</name>
        <label>Additional Reviewer 2</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Additional_Reviewer_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Reviewer_2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Reviewer_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Additional_Reviewer_2</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Additional Reviewer 2 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Reviewer_3</name>
        <label>Additional Reviewer 3</label>
        <locationX>314</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Additional_Reviewer_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Reviewer_3_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Reviewer_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Additional_Reviewer_3</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Additional Reviewer 3 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Reviewer_4</name>
        <label>Additional Reviewer 4</label>
        <locationX>314</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Additional_Reviewer_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Reviewer_4_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Reviewer_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Additional_Reviewer_4</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Additional Reviewer 4 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Additional_Reviewer_5</name>
        <label>Additional Reviewer 5</label>
        <locationX>314</locationX>
        <locationY>1931</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Reviewer_5_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Reviewer_5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Additional_Reviewer_5</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Additional Reviewer 5 Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Privacy_and_Security_Reviews</name>
        <label>Privacy and Security Reviews</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Additional_Reviewer_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Privacy_Security_Review_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Privacy_and_Security_Review_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Privacy_Review_Needed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Privacy Security Review Needed</label>
        </rules>
        <rules>
            <name>Privacy_Security_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Privacy_and_Security_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Privacy_Review_Approved</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Privacy Security Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Conga - CA Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conga - CA Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>In_Privacy_Review</name>
        <label>In Privacy Review</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Additional_Reviewer_1</targetReference>
        </connector>
        <inputAssignments>
            <field>APXT_Redlining__Status__c</field>
            <value>
                <stringValue>In Privacy Approval</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Privacy_Review_Review_Approved</name>
        <label>Privacy Review Review Approved</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Additional_Reviewer_1</targetReference>
        </connector>
        <inputAssignments>
            <field>APXT_Redlining__Status__c</field>
            <value>
                <stringValue>Privacy Review Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Completed_Privacy_and_Security__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Privacy_and_Security_Reviews</targetReference>
        </connector>
        <object>APXT_Redlining__Contract_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
