force-app/main/default/flows/Conga_Email_Message_Updates_Check_for_New_Version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Redlines_Returned_Alert</name>
        <label>Send Redlines Returned Alert</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <actionName>APXT_Redlining__Contract_Agreement__c.Redlines_Returned</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Contract_Agreement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>APXT_Redlining__Contract_Agreement__c.Redlines_Returned</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Contract_Agreement_In_Negotiation</name>
        <label>Assign Contract Agreement In Negotiation</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Is_Contract_Agreement_Email.APXT_Redlining__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Client Negotiation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Contract_Agreement_Email.Date_Time_Sent_for_Client_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Agreement_Redlines_Returned</name>
        <label>Assign Contract Agreement Redlines Returned</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Is_Contract_Agreement_Email.APXT_Redlining__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Redlines Returned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Contract_Agreement_Email.Date_Time_Returned_from_Client_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Redlines_Returned_Alert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Customer_Negotiation_Email_Actions</name>
        <label>Customer Negotiation Email Actions</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Contract_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_for_Customer_Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Agreement_In_Negotiation</targetReference>
            </connector>
            <label>Sent for Customer Negotiation</label>
        </rules>
        <rules>
            <name>Redlines_Returned_from_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoming</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fEmailDomainProsci</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activity_History</targetReference>
            </connector>
            <label>Redlines Returned from Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Activity_contain_a_New_Version</name>
        <label>Does Activity contain a New Version</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_Contract_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Activity_History.TextPreview</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>uploaded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Agreement_Redlines_Returned</targetReference>
            </connector>
            <label>New Version</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Agreement_Email_Decision</name>
        <label>Is Contract Agreement Email</label>
        <locationX>666</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Contract_Agreement_Email.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Negotiation_Email_Actions</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fEmailDomainProsci</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.FromAddress}, &quot;@prosci.com&quot;)</expression>
    </formulas>
    <interviewLabel>Conga - Email Message Updates - Check for New Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conga - Email Message Updates - Check for New Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Activity_History</name>
        <label>Get Activity History</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Activity_contain_a_New_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstPublishLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Is_Contract_Agreement_Email.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Is_Contract_Agreement_Email</name>
        <label>Is Contract Agreement Email?</label>
        <locationX>666</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contract_Agreement_Email_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APXT_Redlining__Contract_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Agreement</name>
        <label>Update Contract Agreement</label>
        <locationX>402</locationX>
        <locationY>1247</locationY>
        <inputReference>Is_Contract_Agreement_Email</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contract_Agreement_Email</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
