force-app/main/default/flows/Contacts_Update_Reports_to_Email_on_Prosci_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Does_Reports_to_Email_have_a_value</name>
        <label>Does Reports to Email have a value?</label>
        <locationX>226</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Reports_to_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reports_to_Email_has_a_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reports_To_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Reports_to_Email_go_with_the_Reports_to_Contact</targetReference>
            </connector>
            <label>Reports to Email has a value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Reports_to_have_a_value</name>
        <label>Does Reports to have a value?</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reports_to_has_a_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReportsToId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Reports_to_Email_have_a_value</targetReference>
            </connector>
            <label>Reports to has a value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Reports_to_Email_go_with_the_Reports_to_Contact</name>
        <label>Does the Reports to Email go with the Reports to Contact?</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Update_Reports_to_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reports_to_Email_Matches_Reports_to_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReportsTo.Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Reports_To_Email__c</elementReference>
                </rightValue>
            </conditions>
            <label>Reports to Email Matches Reports to Contact</label>
        </rules>
    </decisions>
    <description>This flow keeps the Reports to Email updated on all Prosci Contacts.</description>
    <environments>Default</environments>
    <interviewLabel>Contacts - Update Reports to Email on Prosci Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contacts - Update Reports to Email on Prosci Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Reports_to_Email</name>
        <label>Update Reports to Email</label>
        <locationX>138</locationX>
        <locationY>576</locationY>
        <inputAssignments>
            <field>Reports_To_Email__c</field>
            <value>
                <elementReference>$Record.ReportsTo.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Reports_to_have_a_value</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001i000000OuVWoAAN</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001i000000OuWVOAA3</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0011Y00003GclN8QAJ</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001i000000kHOiVAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001i000000Vfpr1AAB</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>001i000001fAChFAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0015d00003oPdzgAAC</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-09-28</startDate>
            <startTime>21:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
