force-app/main/default/flows/Contract_Agreement_Update_Field_on_other_Object_Flow_DSP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_License_Confirmation_Email</name>
        <label>Send License Confirmation Email</label>
        <locationX>1370</locationX>
        <locationY>1571</locationY>
        <actionName>Opportunity.License_Confirmations</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>What_Type_of_license</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.APXT_Redlining__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.License_Confirmations</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Secondary_License_Confirmation_Email</name>
        <label>Send Secondary License Confirmation Email</label>
        <locationX>446</locationX>
        <locationY>1571</locationY>
        <actionName>Opportunity.License_Confirmations</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_secondary_license_elearning</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.APXT_Redlining__Opportunity__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.License_Confirmations</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Checks if the triggering Contract Agreement comes from an Enterprise Engagement Opportunity</description>
        <name>Check_If_Enterprise_Engagement_Opportunity</name>
        <label>Check If Enterprise Engagement Opportunity</label>
        <locationX>3647</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Enterprise_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>enterpriseEngagementOpp_RTName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Data_Storage_Requirements_Set</targetReference>
            </connector>
            <label>Is Enterprise Engagement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inactive_Is_this_a_primary_or_secondary_license</name>
        <label>Inactive - Is this a primary or secondary license?</label>
        <locationX>2822</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_Account_on_Marked_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary License</defaultConnectorLabel>
        <rules>
            <name>Inactive_Secondary_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Opportunity__r.Is_this_a_secondary_license__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_on_Marked_Inactive_Secondary</targetReference>
            </connector>
            <label>Inactive Secondary License</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_secondary_license_elearning</name>
        <label>Is secondary license elearning?</label>
        <locationX>446</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_elearning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLearning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_elearning_on_secondary_license</targetReference>
            </connector>
            <label>Yes elearning</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_primary_or_secondary_license</name>
        <label>Is this a primary or secondary license?</label>
        <locationX>908</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Primary_License</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary License</defaultConnectorLabel>
        <rules>
            <name>Secondary_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Opportunity__r.Is_this_a_secondary_license__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Secondary_License</targetReference>
            </connector>
            <label>Secondary License</label>
        </rules>
    </decisions>
    <decisions>
        <name>Termination_Type_of_Contract</name>
        <label>Termination Type of Contract</label>
        <locationX>3482</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terminate_PSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_PSA_Expiration_Date</targetReference>
            </connector>
            <label>Terminate PSA</label>
        </rules>
        <rules>
            <name>Terminate_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Terminate License</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Contract</name>
        <label>Type of Contract</label>
        <locationX>1238</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Services Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_for_PSA</targetReference>
            </connector>
            <label>PSA</label>
        </rules>
        <rules>
            <name>License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_a_primary_or_secondary_license</targetReference>
            </connector>
            <label>License</label>
        </rules>
        <rules>
            <name>NDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Disclosure Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Agreement_with_Expiration</targetReference>
            </connector>
            <label>NDA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Single_or_Multiple_DSPs</name>
        <label>Update Single or Multiple DSPs?</label>
        <locationX>1238</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Update_Deal_Support_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Single DSP</defaultConnectorLabel>
        <rules>
            <name>Update_Multiple_DSPs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Single_Contract_Covers_All_DSPs__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Opportunity__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Multiple_DSP_Records</targetReference>
            </connector>
            <label>Update Multiple DSPs</label>
        </rules>
    </decisions>
    <decisions>
        <description>Updates the related account if it is set to Does Not Consent</description>
        <name>Was_Data_Storage_Requirements_Set</name>
        <label>Was Data Storage Requirements Set?</label>
        <locationX>2756</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Was_the_Status_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Data_Storage_Requirements__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Data_Storage_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Does Not Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Data_Storage_Requirements</targetReference>
            </connector>
            <label>Does Not Consent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_the_Status_Updated</name>
        <label>Was the Status Updated?</label>
        <locationX>2756</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Agreement</targetReference>
            </connector>
            <label>Active</label>
        </rules>
        <rules>
            <name>Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive License</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Agreement_on_Marked_Inactive</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
        <rules>
            <name>Terminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Termination_Type_of_Contract</targetReference>
            </connector>
            <label>Terminated</label>
        </rules>
        <rules>
            <name>Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.APXT_Redlining__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <label>Expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_license</name>
        <label>What Type of license?</label>
        <locationX>1370</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADKAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADKAR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ADKAR_price_group</targetReference>
            </connector>
            <label>ADKAR</label>
        </rules>
        <rules>
            <name>OCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OCC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OCC_price_group</targetReference>
            </connector>
            <label>OCC</label>
        </rules>
        <rules>
            <name>ECM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ECM_price_group</targetReference>
            </connector>
            <label>ECM</label>
        </rules>
        <rules>
            <name>elearning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.License_Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLearning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Elearning_License</targetReference>
            </connector>
            <label>elearning</label>
        </rules>
    </decisions>
    <description>Updated to interact with related Deal Support Process</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>Todayplus3</name>
        <dataType>Date</dataType>
        <expression>Today () +3</expression>
    </formulas>
    <interviewLabel>Contract Agreement - Update Field on other Object Flow DSP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Agreement - Update Field on other Object Flow DSP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>3482</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>Active_License_Status__c</field>
            <value>
                <elementReference>$Record.Active_Licensee_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update related account value to match Contract Agreement</description>
        <name>Update_Account_Data_Storage_Requirements</name>
        <label>Update Account Data Storage Requirements</label>
        <locationX>2624</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Was_the_Status_Updated</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Storage_Requirements__c</field>
            <value>
                <stringValue>Does Not Consent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_for_PSA</name>
        <label>Update Account for PSA</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Can_we_use_PO_number_on_Invoice__c</field>
            <value>
                <elementReference>$Record.Can_we_use_PO_number_on_Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSA_Contract_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSA_Effective_Date__c</field>
            <value>
                <elementReference>$Record.APXT_Redlining__Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PSA_Expiration_Date__c</field>
            <value>
                <elementReference>$Record.APXT_Redlining__Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Marked_Inactive</name>
        <label>Update Account on Marked Inactive</label>
        <locationX>2954</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_License_Status__c</field>
            <value>
                <elementReference>Inactive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Group__c</field>
            <value>
                <stringValue>STDDISC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_on_Marked_Inactive_Secondary</name>
        <label>Update Account on Marked Inactive Secondary</label>
        <locationX>2690</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Secondary_License_Active_License_Status__c</field>
            <value>
                <elementReference>Inactive</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Primary_License</name>
        <label>Update Account Primary License</label>
        <locationX>1370</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Send_License_Confirmation_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_License_Status__c</field>
            <value>
                <elementReference>$Record.Active_Licensee_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Type__c</field>
            <value>
                <elementReference>$Record.License_Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Licensed_Materials_Version__c</field>
            <value>
                <elementReference>$Record.Licensed_materials_version__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_PSA_Expiration_Date</name>
        <label>Update Account PSA Expiration Date</label>
        <locationX>3218</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>PSA_Expiration_Date__c</field>
            <value>
                <elementReference>$Record.Termination_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Secondary_License</name>
        <label>Update Account Secondary License</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Send_Secondary_License_Confirmation_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Secondary_License_Active_License_Status__c</field>
            <value>
                <elementReference>$Record.Active_Licensee_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_License_Active_License_Type__c</field>
            <value>
                <elementReference>$Record.License_Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_License_License__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ADKAR_price_group</name>
        <label>Update ADKAR price group</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price_Group__c</field>
            <value>
                <stringValue>ADKAR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Agreement</name>
        <label>Update Contract Agreement</label>
        <locationX>1238</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Single_or_Multiple_DSPs</targetReference>
        </connector>
        <inputAssignments>
            <field>APXT_Redlining__Effective_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Agreement_on_Marked_Inactive</name>
        <label>Update Contract Agreement on Marked Inactive</label>
        <locationX>2822</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Inactive_Is_this_a_primary_or_secondary_license</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_Licensee_Status__c</field>
            <value>
                <stringValue>Not Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_Agreement_with_Expiration</name>
        <label>Update Contract Agreement with Expiration</label>
        <locationX>2162</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>APXT_Redlining__Expiration_Date__c</field>
            <value>
                <elementReference>Todayplus3</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>When a contract agreement is marked Active we set the related Deal Support Status to confirmed</description>
        <name>Update_Deal_Support_Process</name>
        <label>Update Deal Support Process</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Type_of_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Deal_Support_Process__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ECM_price_group</name>
        <label>Update ECM price group</label>
        <locationX>1370</locationX>
        <locationY>1787</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price_Group__c</field>
            <value>
                <stringValue>ECM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Elearning_License</name>
        <label>Update Elearning License</label>
        <locationX>1634</locationX>
        <locationY>1787</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>License_eLearning__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_elearning_on_secondary_license</name>
        <label>Update elearning on secondary license</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Secondary_License_elearning__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>When a contract agreement is marked Active, decide whether it should update one or multiple DSPs based on the &quot;Single Contract Covers Multiple DSPs&quot; checkbox</description>
        <name>Update_Multiple_DSP_Records</name>
        <label>Update Multiple DSP Records</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Type_of_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Program Rescheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Done - Successful</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>Deal_Support_Process__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OCC_price_group</name>
        <label>Update OCC price group</label>
        <locationX>1106</locationX>
        <locationY>1787</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.APXT_Redlining__Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Price_Group__c</field>
            <value>
                <stringValue>OCC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.APXT_Redlining__Account__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>3521</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Enterprise_Engagement_Opportunity</targetReference>
        </connector>
        <object>APXT_Redlining__Contract_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Contains the Record Type API name associated with the Enterprise Engagement Opportunity Record Type</description>
        <name>enterpriseEngagementOpp_RTName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Enterprise_Engagement</stringValue>
        </value>
    </variables>
</Flow>
