force-app/main/default/flows/Contact_Send_Email_to_PCAI_when_recert_date_is_10_days_out.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_that_PCAI_is_Expiring</name>
        <label>Email Alert that PCAI is Expiring</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>Contact.Email_Notification_that_PCAI_Cert_is_expiring_in_10_days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Email_Notification_that_PCAI_Cert_is_expiring_in_10_days</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_it_10_days_out</name>
        <label>Is it 10 days out?</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Not 10 days out</defaultConnectorLabel>
        <rules>
            <name>X10_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PCAI_recert_date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Out10days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_that_PCAI_is_Expiring</targetReference>
            </connector>
            <label>10 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Out10days</name>
        <dataType>Date</dataType>
        <expression>Today()+10</expression>
    </formulas>
    <interviewLabel>Contact - Send Email to PCAI when recert date is 10 days out {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Send Email to PCAI when recert date is 10 days out</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_10_days_out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PCAI_recert_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-10</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
