force-app/main/default/flows/Create_an_Opportunity_from_an_ATC_Canada_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Create Opportunity (VILT Public)</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Create Opportunity (VILT Public)</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6) AND (7 OR 8) AND 9 AND (10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23) AND 24</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NMSO - FRENCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled to Attend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Material_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamentals of Change Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivering Project Results Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM Boot Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advanced_Immersion_Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrating Agile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification for Consultants</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taking Charge of Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Individual_Materials_Not_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Create Opportunity (VILT Public)</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>Product Order (VILT TTT/PCAI)</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>FALSE_Product Order (VILT TTT/PCAI)</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND 5 AND (6 OR 7) AND (8 OR 9) AND 10 AND (11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19) AND 20</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Training_Event_Owner_Division__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal PCAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Affiliate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NMSO - FRENCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled to Attend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Material_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivering Project Results Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Practitioner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrating Agile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Methodology Application Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taking Charge of Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Individual_Materials_Not_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE_Product Order (VILT TTT/PCAI)</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Product Order (VILT Onsite)</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Product Order (VILT Onsite)</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5) AND (6 OR 7) AND 8 AND (9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22 OR 23) AND 24</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NMSO - FRENCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled to Attend</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Material_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM Boot Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sponsor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivering Project Results Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fundamentals of Change Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Portfolio Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advanced_Immersion_Workshop</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrating Agile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification for Consultants</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taking Charge of Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Individual_Materials_Not_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_Product Order (VILT Onsite)</label>
        </rules>
    </decisions>
    <description>Migrated from the Create an Opportunity from an ATC (Canada) process using multiple criteria.
This process will automatically create an opportunity for a VILT ATC that gets materials mailed to individuals for Public, Onsite &amp; TTT Orders</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_10_myRule_13_A1_7142662031</name>
        <dataType>String</dataType>
        <expression>{!$Record.First_Name_Feedback__c} + &quot; &quot;+ {!$Record.Last_Name_Feedback__c} + &quot; | &quot;+{!$Record.Training_Event__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formula_11_myRule_13_A1_7573881670</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS( {!$Record.Contact__r.OtherStreet}  , SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ) 
, TRIM( MID( {!$Record.Contact__r.OtherStreet}  , FIND( SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ,  {!$Record.Contact__r.OtherStreet}  ), LEN( {!$Record.Contact__r.OtherStreet} ) ) )
, &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_12_myRule_13_A1_6523862159</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS( {!$Record.Contact__r.OtherStreet}   , SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ) 
, LEFT( {!$Record.Contact__r.OtherStreet}   , FIND( SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ,  {!$Record.Contact__r.OtherStreet}   ) - 1 )
, {!$Record.Contact__r.OtherStreet}  )</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_1_A1_0678035694</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_1_A1_2370561508</name>
        <dataType>String</dataType>
        <expression>{!$Record.First_Name_Feedback__c} + &quot; &quot; + {!$Record.Last_Name_Feedback__c} + &quot; | &quot; + 
{!$Record.Training_Event__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_1_A1_8754588864</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS( {!$Record.Contact__r.OtherStreet}  , SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ) 
, TRIM( MID( {!$Record.Contact__r.OtherStreet}  , FIND( SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ,  {!$Record.Contact__r.OtherStreet}  ), LEN( {!$Record.Contact__r.OtherStreet} ) ) )
, &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_1_A1_2311484822</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS( {!$Record.Contact__r.OtherStreet}   , SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ) 
, LEFT( {!$Record.Contact__r.OtherStreet}   , FIND( SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ,  {!$Record.Contact__r.OtherStreet}   ) - 1 )
, {!$Record.Contact__r.OtherStreet}  )</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_7_A1_8973875798</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_6_myRule_7_A1_3456463172</name>
        <dataType>String</dataType>
        <expression>{!$Record.First_Name_Feedback__c} + &quot; &quot; + {!$Record.Last_Name_Feedback__c} + &quot; | &quot; + 
{!$Record.Training_Event__r.Name}</expression>
    </formulas>
    <formulas>
        <name>formula_7_myRule_7_A1_8934209124</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS( {!$Record.Contact__r.OtherStreet}  , SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ) 
, TRIM( MID( {!$Record.Contact__r.OtherStreet}  , FIND( SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ,  {!$Record.Contact__r.OtherStreet}  ), LEN( {!$Record.Contact__r.OtherStreet} ) ) )
, &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>formula_8_myRule_7_A1_7221270086</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS( {!$Record.Contact__r.OtherStreet}   , SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ) 
, LEFT( {!$Record.Contact__r.OtherStreet}   , FIND( SUBSTITUTE( $Label.Line_Break_Formula_Finder , &quot;-&quot;, &quot;&quot; ) ,  {!$Record.Contact__r.OtherStreet}   ) - 1 )
, {!$Record.Contact__r.OtherStreet}  )</expression>
    </formulas>
    <formulas>
        <name>formula_9_myRule_13_A1_0819992482</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <label>Create an Opportunity from an ATC (Canada)_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_13_A1</name>
        <label>Product Order</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Freight_Line__c</field>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Training_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Code__c</field>
            <value>
                <stringValue>TTTMater</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formula_9_myRule_13_A1_0819992482</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship_Bill_to__c</field>
            <value>
                <stringValue>001i000000OuWVOAA3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship_Category_Code__c</field>
            <value>
                <stringValue>Interco</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship_Location_Code__c</field>
            <value>
                <stringValue>FULFILL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Account_No__c</field>
            <value>
                <stringValue>467591681</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Country_Code__c</field>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Post_Code__c</field>
            <value>
                <stringValue>B4B0V2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Type__c</field>
            <value>
                <stringValue>Third Party</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Start_Date__c</field>
            <value>
                <elementReference>$Record.Training_Event__r.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Code__c</field>
            <value>
                <stringValue>DROPSHIP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_10_myRule_13_A1_7142662031</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Training_Event__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001N4wi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Email_1__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Email_2__c</field>
            <value>
                <stringValue>shippingca@prosci.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Street_2__c</field>
            <value>
                <elementReference>formula_11_myRule_13_A1_7573881670</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Country__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_State__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Street__c</field>
            <value>
                <elementReference>formula_12_myRule_13_A1_6523862159</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Zip__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Code_Courier__c</field>
            <value>
                <stringValue>FEDEX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Service_Code_Priority__c</field>
            <value>
                <stringValue>INTECON</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Brand New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Product Order</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Freight_Line__c</field>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Training_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Code__c</field>
            <value>
                <stringValue>Public</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formula_1_myRule_1_A1_0678035694</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship_Bill_to__c</field>
            <value>
                <stringValue>001i000000OuWVOAA3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship_Category_Code__c</field>
            <value>
                <stringValue>Interco</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship_Location_Code__c</field>
            <value>
                <stringValue>FULFILL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Account_No__c</field>
            <value>
                <stringValue>467591681</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Country_Code__c</field>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Post_Code__c</field>
            <value>
                <stringValue>B4B0V2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Type__c</field>
            <value>
                <stringValue>Third Party</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Start_Date__c</field>
            <value>
                <elementReference>$Record.Training_Event__r.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Code__c</field>
            <value>
                <stringValue>DROPSHIP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_2370561508</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Training_Event__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001N4wi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Email_1__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Email_2__c</field>
            <value>
                <stringValue>shippingca@prosci.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Street_2__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_8754588864</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Country__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_State__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Street__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_2311484822</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Zip__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Code_Courier__c</field>
            <value>
                <stringValue>FEDEX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Service_Code_Priority__c</field>
            <value>
                <stringValue>INTECON</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Brand New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A1</name>
        <label>Product Order</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Add_Freight_Line__c</field>
            <value>
                <stringValue>Automatic</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Training_Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Code__c</field>
            <value>
                <stringValue>Onsite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>formula_5_myRule_7_A1_8973875798</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship_Bill_to__c</field>
            <value>
                <stringValue>001i000000OuWVOAA3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship_Category_Code__c</field>
            <value>
                <stringValue>Interco</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship_Location_Code__c</field>
            <value>
                <stringValue>FULFILL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dropship__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Account_No__c</field>
            <value>
                <stringValue>467591681</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Country_Code__c</field>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Post_Code__c</field>
            <value>
                <stringValue>B4B0V2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duty_Payment_Type__c</field>
            <value>
                <stringValue>Third Party</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Start_Date__c</field>
            <value>
                <elementReference>$Record.Training_Event__r.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_Code__c</field>
            <value>
                <stringValue>DROPSHIP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>formula_6_myRule_7_A1_3456463172</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Training_Event__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001N4wi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_To__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_City__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Email_1__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Email_2__c</field>
            <value>
                <stringValue>shippingca@prosci.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Street_2__c</field>
            <value>
                <elementReference>formula_7_myRule_7_A1_8934209124</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Country__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_State__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Street__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_7221270086</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Zip__c</field>
            <value>
                <elementReference>$Record.Contact__r.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Code_Courier__c</field>
            <value>
                <stringValue>FEDEX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Agent_Service_Code_Priority__c</field>
            <value>
                <stringValue>INTECON</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Brand New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Associated_Training_Contacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
