force-app/main/default/flows/Create_Portal_Access_Customer_Products_for_ATCs_on_TTT_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>CPstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>490</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>CPstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_Products_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_Product</name>
        <label>Customer Product</label>
        <locationX>138</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>singleCP.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_all_Products.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Portal_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Portal_Access</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.expiration_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Training_Event__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Customer_Product_0</name>
        <label>Customer Product</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>singleCP.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_all_Products_0.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Portal_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Portal_Access.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assigned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.expiration_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Training_Event__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Updated_By__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_TTT_Event</name>
        <label>Check for TTT Event</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not TTT Event</defaultConnectorLabel>
        <rules>
            <name>TTT_Event</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Event_Products</targetReference>
            </connector>
            <label>TTT Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portal_Access_Check</name>
        <label>Portal Access Check</label>
        <locationX>226</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Portal_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Portal Access</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Portal_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Portal_Access__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Existing_Portal_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Portal_Access</targetReference>
            </connector>
            <label>No Existing Portal Access</label>
        </rules>
    </decisions>
    <description>If an ATC is created for a training event with Program Title containing TTT, immediately create portal access &amp; customer products from the training event</description>
    <formulas>
        <name>Assigned</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Expiration</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Training_Event__r.End_Date__c} + 365</expression>
    </formulas>
    <interviewLabel>Create Portal Access &amp; Customer Products for ATCs on TTT Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Portal Access &amp; Customer Products for ATCs on TTT Event</label>
    <loops>
        <name>Loop_over_all_Products</name>
        <label>Loop over all Products</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Training_Event_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Customer_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Customer_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_all_Products_0</name>
        <label>Loop over all Products</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_Training_Event_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Customer_Product_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Customer_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Products</name>
        <label>Create Customer Products</label>
        <locationX>226</locationX>
        <locationY>1607</locationY>
        <inputReference>CPstoCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_Access</name>
        <label>Create Portal Access</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_ATC_w_PA</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Contact__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customer_type_id__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Portal_Access__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Portal_Access</name>
        <label>Get Portal Access</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ATC_w_PA1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Portal_Access__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event_Products</name>
        <label>Get Training Event Products</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Portal_Access_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training_Event__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Event_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ATC_w_PA</name>
        <label>Update ATC w PA</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Contact_w_PA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>portal_access__c</field>
            <value>
                <elementReference>Create_Portal_Access</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Training_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ATC_w_PA1</name>
        <label>Update ATC w PA</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Loop_over_all_Products_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>portal_access__c</field>
            <value>
                <elementReference>Get_Portal_Access.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Training_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_w_PA</name>
        <label>Update Contact w PA</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Loop_over_all_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Existing_Portal_Access__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>Create_Portal_Access</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_TTT_Event</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <object>Associated_Training_Contacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CPstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>singleCP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
</Flow>
