force-app/main/default/flows/Create_Customer_Products_added_within_14_days_of_TE_Start.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssigntoCreate</name>
        <label>AssigntoCreate</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CustomerProductstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Portal_Access</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerProduct</name>
        <label>CustomerProduct</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SingleCP.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCP.Portal_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Portal_Access.portal_access__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCP.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCP.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dateAssigned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCP.expiration_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCP.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Training_Event__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCP.Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoCreate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check that the create customer products within 14 days has already happened and start date is within 14 days</description>
        <name>Check_Start_Date</name>
        <label>Check Start Date</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Start_Date_14_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>twoWeeksOut</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Create_Customer_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ATCs</targetReference>
            </connector>
            <label>Start Date &lt; 14 days</label>
        </rules>
    </decisions>
    <description>When a training event product is added within 14 days of the TE start date, create customer product for all ATCs</description>
    <environments>Default</environments>
    <formulas>
        <name>dateAssigned</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>expirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Training_Event__r.End_Date__c} +{!$Record.Product__r.Subscription_Length_days__c}</expression>
    </formulas>
    <formulas>
        <name>twoWeeksOut</name>
        <dataType>Date</dataType>
        <expression>TODAY()+14</expression>
    </formulas>
    <interviewLabel>Create Customer Products added within 14 days of TE Start {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Customer Products added within 14 days of TE Start</label>
    <loops>
        <name>Loop_over_Portal_Access</name>
        <label>Loop over Portal Access</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_ATCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CustomerProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCPs</name>
        <label>CreateCPs</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputReference>CustomerProductstoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ATCs</name>
        <label>Get ATCs</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Portal_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training_Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>portal_access__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Start_Date</targetReference>
        </connector>
        <object>Training_Event_Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerProductstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>SingleCP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
</Flow>
