force-app/main/default/flows/Create_Portal_Access_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <description>Check that portal access user does not exist for the contact</description>
        <name>PortalAccessChecks</name>
        <label>Portal Access Check</label>
        <locationX>226</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Portal_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Portal Access</defaultConnectorLabel>
        <rules>
            <name>NOExistingPortalAccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.portal_access__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__r.Existing_Portal_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Portal_Access</targetReference>
            </connector>
            <label>No Existing Portal Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Event_Has_Products_Assigned</name>
        <label>Training Event Has Products Assigned</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Customer Products Not Assigned</defaultConnectorLabel>
        <rules>
            <name>Create_Customer_Products_Checked</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Create_Customer_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Event_Products</targetReference>
            </connector>
            <label>Create Customer Products Checked</label>
        </rules>
    </decisions>
    <description>Create a portal access record for an ATC added to a Training Event when the create customer products has been checked</description>
    <formulas>
        <name>AssignedDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Training_Event__r.End_Date__c}+365</expression>
    </formulas>
    <interviewLabel>Create Portal Access Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Portal Access Record for ATC (Create CP True)</label>
    <loops>
        <description>Create Customer products from training event products</description>
        <name>Create_All_Customer_Products</name>
        <label>Create All Customer Products</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Training_Event_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Customer_Product</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Create Customer products from training event products</description>
        <name>Create_All_Customer_Products_0</name>
        <label>Create All Customer Products</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_Training_Event_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Customer_Product_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Product</name>
        <label>Create Customer Product</label>
        <locationX>138</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_All_Customer_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>AssignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>Create_Portal_Access</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_All_Customer_Products.Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Event__c</field>
            <value>
                <elementReference>$Record.Training_Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date__c</field>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Product_0</name>
        <label>Create Customer Product</label>
        <locationX>490</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_All_Customer_Products_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>AssignedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>Get_Portal_Access.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Create_All_Customer_Products_0.Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Event__c</field>
            <value>
                <elementReference>$Record.Training_Event__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date__c</field>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create portal access</description>
        <name>Create_Portal_Access</name>
        <label>Create Portal Access</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Associated_Training_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customer_type_id__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Portal_Access__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Portal_Access</name>
        <label>Get Portal Access</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Portal_Access_on_ATC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Portal_Access__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event_Products</name>
        <label>Get Training Event Products</label>
        <locationX>226</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PortalAccessChecks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training_Event__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Event_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the training contact with the portal access record created in this flow</description>
        <name>Update_Associated_Training_Contact</name>
        <label>Update Associated Training Contact</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Contact_with_Portal_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>portal_access__c</field>
            <value>
                <elementReference>Create_Portal_Access</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Training_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Contact to indicate existing portal access record</description>
        <name>Update_Contact_with_Portal_Access</name>
        <label>Update Contact with Portal Access</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Create_All_Customer_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Existing_Portal_Access__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>Create_Portal_Access</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Portal_Access_on_ATC</name>
        <label>Update Portal Access on ATC</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Create_All_Customer_Products_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>portal_access__c</field>
            <value>
                <elementReference>Get_Portal_Access.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Training_Contacts__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Training_Event_Has_Products_Assigned</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Training_Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <object>Associated_Training_Contacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
