force-app/main/default/flows/Create_Portal_Access_Customer_Products_for_ATCs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>314</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>CPstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_All_Customer_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0</name>
        <label>Add to Collection</label>
        <locationX>1018</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>CPstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create1_All_Customer_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_0_0</name>
        <label>Add to Collection</label>
        <locationX>666</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>CPstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleCP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create2_All_Customer_Products_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Individual_Customer_Product</name>
        <label>Individual Customer Product</label>
        <locationX>314</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>singleCP.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_All_Customer_Products.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Portal_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Portal_Access</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.expiration_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Individual_Customer_Product_0</name>
        <label>Individual Customer Product</label>
        <locationX>1018</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>singleCP.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create1_All_Customer_Products.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Portal_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Portal_Access.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.expiration_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Individual_Customer_Product_0_0</name>
        <label>Individual Customer Product</label>
        <locationX>666</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>singleCP.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create2_All_Customer_Products_0.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Portal_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Contact__r.Portal_Access__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssignedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.expiration_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleCP.Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Instructor_Type_Valid</name>
        <label>Instructor Type Valid</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not Valid Type</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal PCAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Training_Event_Products</targetReference>
            </connector>
            <label>Valid Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Portal_Access_Check</name>
        <label>Portal Access Check</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Get_Portal_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Portal Access (not on contact)</defaultConnectorLabel>
        <rules>
            <name>No_Existing_Portal_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_ATC_for_Portal_Access.portal_access__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Each_ATC_for_Portal_Access.Contact__r.Existing_Portal_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Portal_Access</targetReference>
            </connector>
            <label>No Existing Portal Access</label>
        </rules>
        <rules>
            <name>Original_Portal_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Each_ATC_for_Portal_Access.Contact__r.Existing_Portal_Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Each_ATC_for_Portal_Access.Contact__r.Portal_Access__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ATC_w_Portal_Access_0</targetReference>
            </connector>
            <label>Existing Portal Access</label>
        </rules>
    </decisions>
    <description>Create and activate Portal Access and Customer Products for each ATC on a Training Event 10 days out</description>
    <formulas>
        <name>AssignedDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.End_Date__c} + 365</expression>
    </formulas>
    <interviewLabel>Create Portal Access &amp; Customer Products for ATCs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Portal Access &amp; Customer Products for ATCs</label>
    <loops>
        <name>Check_Each_ATC_for_Portal_Access</name>
        <label>Check Each ATC for Portal Access</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Associated_Training_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Portal_Access_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_All_Customer_Products_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Create a customer product for each training product for every ATC</description>
        <name>Create1_All_Customer_Products</name>
        <label>Create All Customer Products</label>
        <locationX>930</locationX>
        <locationY>1175</locationY>
        <collectionReference>Get_Training_Event_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Individual_Customer_Product_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Each_ATC_for_Portal_Access</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Create a customer product for each training product for every ATC</description>
        <name>Create2_All_Customer_Products_0</name>
        <label>Create All Customer Products</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Training_Event_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Individual_Customer_Product_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Each_ATC_for_Portal_Access</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Create Customer products from training event products for each Portal Access</description>
        <name>Create_All_Customer_Products</name>
        <label>Create All Customer Products</label>
        <locationX>226</locationX>
        <locationY>1295</locationY>
        <collectionReference>Get_Training_Event_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Individual_Customer_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Each_ATC_for_Portal_Access</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_All_Customer_Products_Collection</name>
        <label>Create All Customer Products</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <inputReference>CPstoCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create New active Portal Access for each ATC</description>
        <name>Create_Portal_Access</name>
        <label>Create Portal Access</label>
        <locationX>226</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_ATC</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customer_type_id__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Portal_Access__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all ATCs related to the training event</description>
        <name>Get_Associated_Training_Contacts</name>
        <label>Get Associated Training Contacts</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Each_ATC_for_Portal_Access</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Access</name>
        <label>Get Portal Access</label>
        <locationX>930</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ATC_w_Portal_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Portal_Access__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event_Products</name>
        <label>Get Training Event Products</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Associated_Training_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Training_Event_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the training contact with the portal access record created in this flow</description>
        <name>Update_ATC</name>
        <label>Update ATC</label>
        <locationX>226</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Contact_with_Portal_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>portal_access__c</field>
            <value>
                <elementReference>Create_Portal_Access</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Training_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ATC_w_Portal_Access</name>
        <label>Update ATC w/ Portal Access</label>
        <locationX>930</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create1_All_Customer_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>portal_access__c</field>
            <value>
                <elementReference>Get_Portal_Access.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Training_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ATC_w_Portal_Access_0</name>
        <label>Update ATC w/ Portal Access</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Create2_All_Customer_Products_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>portal_access__c</field>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Contact__r.Portal_Access__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Training_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update contact to indicate existing portal access record</description>
        <name>Update_Contact_with_Portal_Access</name>
        <label>Update Contact with Portal Access</label>
        <locationX>226</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_All_Customer_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_Each_ATC_for_Portal_Access.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Existing_Portal_Access__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>Create_Portal_Access</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Instructor_Type_Valid</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Customer_Products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Training_Event__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CPstoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>singleCP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
</Flow>
