force-app/main/default/flows/Delete_Customer_Products_on_Cancelled_ATC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CPstoDeactivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_CPs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_CPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>singleCPDeactivate</name>
        <label>singleCPDeactivate</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_CPs.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CP_Check</name>
        <label>CP Check</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No CPs</defaultConnectorLabel>
        <rules>
            <name>CPs_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_CPs</targetReference>
            </connector>
            <label>CPs Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Event_Check</name>
        <label>Training Event Check</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Create_Customer_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Training_Event_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Products</targetReference>
            </connector>
            <label>Has Products</label>
        </rules>
    </decisions>
    <description>When a ATC is marked &quot;Cancelled&quot;, deactivate any Customer Products related to the training Event</description>
    <environments>Default</environments>
    <interviewLabel>Delete Customer Products on Cancelled ATC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Product- Deactivate on Cancelled ATC</label>
    <loops>
        <name>Loop_over_CPs</name>
        <label>Loop over CPs</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>CustomerProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>singleCPDeactivate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Deactivate_CPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer_Products</name>
        <label>Get Customer Products</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CP_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portal_Access__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Portal_Access__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Training_Event__r.Id</elementReference>
            </value>
        </filters>
        <object>Customer_Product__c</object>
        <outputReference>CustomerProducts</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_CPs</name>
        <label>Deactivate CPs</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>CPstoDeactivate</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Training_Event_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Associated_Training_Contacts__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CPstoDeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>CustomerProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
</Flow>
