force-app/main/default/flows/FFX_Creating_a_Change_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>FFX_Map_Values</name>
        <label>FFX Map Values</label>
        <locationX>593</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>FFXBudgetRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FFXBudgetRecord.pse__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FFXBudgetRecord.pse__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FFXBudgetRecord.pse__Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FFXBudgetRecord.pse__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FFXBudgetRecord.pse__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FFXBudgetRecord.pse__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowProjectId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FFX_Create_Record</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>BudgetStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pse__Status__c</picklistField>
        <picklistObject>pse__Budget__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BudgetType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pse__Type__c</picklistField>
        <picklistObject>pse__Budget__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>FFX Creating a Change Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FFX Creating a Change Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>FFX_Create_Record</name>
        <label>FFX Create Record</label>
        <locationX>779</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>FFX_Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FFX_Failure</targetReference>
        </faultConnector>
        <inputReference>FFXBudgetRecord</inputReference>
    </recordCreates>
    <screens>
        <name>FFX_Create_Change_Request</name>
        <label>FFX Create Change Request</label>
        <locationX>420</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FFX_Map_Values</targetReference>
        </connector>
        <fields>
            <name>Budget_Name</name>
            <dataType>String</dataType>
            <fieldText>Budget Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Number</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>flowDescription</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>BudgetStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>BudgetType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FFX_Failure</name>
        <label>FFX Failure</label>
        <locationX>780</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failed</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FFX_Success_Screen</name>
        <label>FFX Success Screen</label>
        <locationX>932</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RecordCreated</name>
            <fieldText>&lt;p&gt;Record successfully created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FFX_Create_Change_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FFXBudgetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Budget__c</objectType>
    </variables>
    <variables>
        <name>flowDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
