force-app/main/default/flows/FFX_PSA_Expense_MASTER_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_to_Resource_for_Expenses_not_submitted</name>
        <label>Alert to Resource for Expenses not submitted</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <actionName>pse__Expense__c.FFX_PSA_Outstanding_Expenses_EmailAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>pse__Expense__c.FFX_PSA_Outstanding_Expenses_EmailAlert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Expense_Notification</name>
        <label>Check Expense Notification</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FFX_Expense_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_to_Resource_for_Expenses_not_submitted</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_Set_For_Expense_Notifications</name>
        <label>Is Project Set For Expense Notifications</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.FFX_Expense_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Notification_Fld_to_TRUE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>This process is based on the immediate results of Timecard/Expense Notification Process (Process previously configured in PSA - DEPRECATED Email Alert to Resources with Draft/Saved Expenses Process Builder).</description>
    <interviewLabel>PSA - Expense - MASTER After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA - Expense - MASTER After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Sets the Expense Notification field to TRUE if the related Project Expense Notification field is set to TRUE.</description>
        <name>Set_Notification_Fld_to_TRUE</name>
        <label>Set Notification Fld to TRUE</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Expense_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FFX_Expense_Notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Expense__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Project_Set_For_Expense_Notifications</targetReference>
        </connector>
        <object>pse__Expense__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
