force-app/main/default/flows/Lead_Run_Lead_Assignment_Rules_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apply_Lead_Assignment_Rules</name>
        <label>Apply Lead Assignment Rules</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <actionName>invocableApplyLeadAssignmentRules</actionName>
        <actionType>invocableApplyLeadAssignmentRules</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>invocableApplyLeadAssignmentRules</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Checks to see if the user has the custom permission Run Lead Assignment Rules After Insert</description>
        <name>User_Has_Permission</name>
        <label>User Has Permission?</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No Permission</defaultConnectorLabel>
        <rules>
            <name>Has_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Run_Lead_Assignment_Rules_After_Insert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Lead_Assignment_Rules</targetReference>
            </connector>
            <label>Has Permission</label>
        </rules>
    </decisions>
    <description>Leads are generated by the flow &quot;Task - Lead from form with previously existing contact&quot; when the task contains MQL in the subject</description>
    <environments>Default</environments>
    <interviewLabel>Lead - Run Lead Assignment Rules After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Run Lead Assignment Rules After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Min</name>
            <connector>
                <targetReference>User_Has_Permission</targetReference>
            </connector>
            <label>1 Min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
