force-app/main/default/flows/Lead_from_form_attached_to_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Create_Date_and_Date_Last_Modified_Equal</name>
        <label>Create Date and Date Last Modified Equal</label>
        <locationX>490</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Lead_Opportunity_from_Submitted_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Type_and_Create_Date</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EqualsToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advisory Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>eLearning for Organizations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise Training</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Licensing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solutions for Organizations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Speaking Engagements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EqualsToday</elementReference>
                </rightValue>
            </conditions>
            <label>Lead Type and Create Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>GeneralFormDecision</name>
        <label>General Form Decision</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>GeneralOpportunity_from_Submitted_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>General_Lead_Type_and_Create_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Account.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EqualsToday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Lead_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EqualsToday</elementReference>
                </rightValue>
            </conditions>
            <label>General Lead Type and Create Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_General_Form</name>
        <label>Is this a General Form</label>
        <locationX>270</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Date_and_Date_Last_Modified_Equal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Comes_from_General_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GeneralFormDecision</targetReference>
            </connector>
            <label>Comes from General Form</label>
        </rules>
    </decisions>
    <description>Leads where hubspot and SF already have a contact connected were skipping the lead object. This flow will capture the task with subject MQL and create an opportunity so the Lead does not get missed.</description>
    <environments>Default</environments>
    <formulas>
        <name>EqualsToday</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Lead from form attached to contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Lead from form already attached to contact - Subject contains MQL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>GeneralOpportunity_from_Submitted_Form</name>
        <label>GeneralOpportunity from Submitted Form</label>
        <locationX>138</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_Note__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <stringValue>General</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001N4wfAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Identify Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Lead_Opportunity_from_Submitted_Form</name>
        <label>Lead Opportunity from Submitted Form</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Background_Note__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <stringValue>Solutions for Organizations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012i0000001N4wfAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Identify Opportunity</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_General_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
