force-app/main/default/flows/Lead_Assign_Country_Code_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assigns the Country Name, Queue Family, and Languages from the relevant Country Code Info metatdata to the new Lead</description>
        <name>Assign_Country_Code_Info</name>
        <label>Assign Country Code Info</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Code_Metadata_Info.Country_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Queue_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Country_Code_Metadata_Info.Queue_Family__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Before Save flow to assign relevant Country Code Info from metadata to new Lead records</description>
    <environments>Default</environments>
    <interviewLabel>Lead - Assign Country Code Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - Assign Country Code Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves Country Code Info mdt record that matches the Lead&apos;s Country Code</description>
        <name>Get_Country_Code_Metadata_Info</name>
        <label>Get Country Code Metadata Info</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Country_Code_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Code_Info__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Country_Code_Metadata_Info</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
