force-app/main/default/flows/Opp_Product_Create_Customer_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Portal_Access_Id</name>
        <label>Assign Portal Access Id</label>
        <locationX>67</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>portalAccessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Ship_To_Contact__r.Portal_Access__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Portal_Access_and_Emails</name>
        <label>Check for Portal Access and Emails</label>
        <locationX>682</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Create_Portal_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Portal Access</defaultConnectorLabel>
        <rules>
            <name>Ship_To_Contact_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Ship_To_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Failed_Update_Customer_Product_Status</targetReference>
            </connector>
            <label>Ship To Contact Null</label>
        </rules>
        <rules>
            <name>Portal_Access_and_Access_Email_matches_Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Ship_To_Contact__r.Portal_Access__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Ship_To_Contact__r.Portal_Access__r.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.Ship_To_Contact__r.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Portal_Access_Id</targetReference>
            </connector>
            <label>Has Portal Access and Access Email matches Contact Email</label>
        </rules>
        <rules>
            <name>Portal_Access_and_Access_Email_doesn_t_match_Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.Ship_To_Contact__r.Portal_Access__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Ship_To_Contact__r.Portal_Access__r.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity.Ship_To_Contact__r.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Portal_Access_Records</targetReference>
            </connector>
            <label>Has Portal Access and Access Email doesn&apos;t match Contact Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Customer_Product_Null</name>
        <label>Is Customer Product Null?</label>
        <locationX>680</locationX>
        <locationY>1370</locationY>
        <defaultConnector>
            <targetReference>Create_Customer_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Product null</defaultConnectorLabel>
        <rules>
            <name>Customer_Product_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerProductId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Product</targetReference>
            </connector>
            <label>Customer Product not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_portalAccessId_null</name>
        <label>Is portalAccessId null?</label>
        <locationX>693</locationX>
        <locationY>838</locationY>
        <defaultConnector>
            <targetReference>Create_Portal_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>portalAccessId null</defaultConnectorLabel>
        <rules>
            <name>portalAccessId_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>portalAccessId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Portal_Access_on_Contact</targetReference>
            </connector>
            <label>portalAccessId not null</label>
        </rules>
    </decisions>
    <description>Identifies Product Records that require creation of Customer Products</description>
    <environments>Default</environments>
    <formulas>
        <name>expirationDateOnCreate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!$Record.Product2.Subscription_Length_days__c}</expression>
    </formulas>
    <formulas>
        <description>If today is a date later than the expiration date, then the expiration date is today, else the expiration date is the expiration date plus the subscription length of the product</description>
        <name>expirationDateOnUpdate</name>
        <dataType>Date</dataType>
        <expression>IF( TODAY() &gt; {!customerProductExpirationDate} || ISBLANK({!customerProductExpirationDate}),
TODAY() + {!$Record.Product2.Subscription_Length_days__c},
{!customerProductExpirationDate} + {!$Record.Product2.Subscription_Length_days__c})</expression>
    </formulas>
    <formulas>
        <name>productForCustomerProduct</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Product2.Portal_is_assignable__c} = true,
{!$Record.Product2Id},
{!$Record.Product2.Portal_Assignable_Product__c})</expression>
    </formulas>
    <formulas>
        <name>todaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opp Product Create Customer Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp Product Create Customer Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Product</name>
        <label>Create Customer Product</label>
        <locationX>820</locationX>
        <locationY>1585</locationY>
        <connector>
            <targetReference>Success_Update_Customer_Product_Status_to_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_Update_Customer_Product_Status</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned__c</field>
            <value>
                <elementReference>todaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>portalAccessId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>productForCustomerProduct</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date__c</field>
            <value>
                <elementReference>expirationDateOnCreate</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_Access</name>
        <label>Create Portal Access</label>
        <locationX>878</locationX>
        <locationY>837</locationY>
        <assignRecordIdToReference>portalAccessId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Portal_Access_on_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_Update_Customer_Product_Status</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Opportunity.Ship_To_Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Opportunity.Ship_To_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Opportunity.Ship_To_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Opportunity.Ship_To_Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Opportunity.Ship_To_Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customer_type_id__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <object>Portal_Access__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Customer_Product</name>
        <label>Get Customer Product</label>
        <locationX>552</locationX>
        <locationY>1219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customer_Product_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productForCustomerProduct</elementReference>
            </value>
        </filters>
        <filters>
            <field>Portal_Access__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Ship_To_Contact__r.Portal_Access__c</elementReference>
            </value>
        </filters>
        <object>Customer_Product__c</object>
        <outputAssignments>
            <assignToReference>customerProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>customerProductExpirationDate</assignToReference>
            <field>expiration_date__c</field>
        </outputAssignments>
        <sortField>Active__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Access_Records</name>
        <label>Get Portal Access Records</label>
        <locationX>691</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_portalAccessId_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Ship_To_Contact__r.Email</elementReference>
            </value>
        </filters>
        <object>Portal_Access__c</object>
        <outputAssignments>
            <assignToReference>portalAccessId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Failed_Update_Customer_Product_Status</name>
        <label>Failed - Update Customer Product Status to Failed</label>
        <locationX>1033</locationX>
        <locationY>1489</locationY>
        <inputAssignments>
            <field>Customer_Product_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Success_Update_Customer_Product_Status_to_Completed</name>
        <label>Success - Update Customer Product Status to Completed</label>
        <locationX>703</locationX>
        <locationY>1751</locationY>
        <inputAssignments>
            <field>Customer_Product_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Product</name>
        <label>Update Customer Product</label>
        <locationX>570</locationX>
        <locationY>1593</locationY>
        <connector>
            <targetReference>Success_Update_Customer_Product_Status_to_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_Update_Customer_Product_Status</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customerProductId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>expiration_date__c</field>
            <value>
                <elementReference>expirationDateOnUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Portal_Access_on_Contact</name>
        <label>Update Portal Access on Contact</label>
        <locationX>779</locationX>
        <locationY>1063</locationY>
        <connector>
            <targetReference>Get_Customer_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_Update_Customer_Product_Status</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Ship_To_Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>portalAccessId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>565</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_for_Portal_Access_and_Emails</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Product_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>customerProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>customerProductExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>portalAccessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
