force-app/main/default/flows/Opportunity_Scheduled_Triggered_Flow_to_send_out_Pending_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pending_Payment_Email_Alert_CAN</name>
        <label>Pending Payment Email Alert CAN</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <actionName>Opportunity.Pending_Payment_CAN_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Pending_Payment_CAN_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pending_Payment_Email_Alert_US</name>
        <label>Pending Payment Email Alert US</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>Opportunity.Pending_Payment_US_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Pending_Payment_US_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_this_event_14_days_out</name>
        <label>Is this event 14 days out?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StartDate14daysout</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Payment_Email_Alert_US</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_event_14_days_out_CAN</name>
        <label>Is this event 14 days out CAN</label>
        <locationX>710</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAN_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Event_Start_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StartDate14daysout</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Payment_Email_Alert_CAN</targetReference>
            </connector>
            <label>CAN Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Division</name>
        <label>What Division</label>
        <locationX>776</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_event_14_days_out</targetReference>
            </connector>
            <label>US</label>
        </rules>
        <rules>
            <name>CAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_event_14_days_out_CAN</targetReference>
            </connector>
            <label>CAN</label>
        </rules>
        <rules>
            <name>ANZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANZ</stringValue>
                </rightValue>
            </conditions>
            <label>ANZ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>StartDate14daysout</name>
        <dataType>Date</dataType>
        <expression>Today()+14</expression>
    </formulas>
    <formulas>
        <name>StartDateminus14</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Event_Start_Date__c}-14</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Opportunity - Scheduled Triggered Flow to send out Pending Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Scheduled Triggered Flow to send out Pending Email - Americas Region</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Division</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending Prepayment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-07</startDate>
            <startTime>08:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
