force-app/main/default/flows/Opportunity_Update_Advisory_Fields_based_on_Owner_Division.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>What_Division_is_opportunity_owner_from</name>
        <label>What Division is opportunity owner from?</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Records.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields_based_on_US_Division</targetReference>
            </connector>
            <label>USA</label>
        </rules>
        <rules>
            <name>CAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Records.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields_based_on_CAN_Division</targetReference>
            </connector>
            <label>CAN</label>
        </rules>
    </decisions>
    <description>This flow triggers off an Advisory Opportunity and automatically updates the region and practice based on owner division.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Update Advisory Fields based on Owner Division {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Update Advisory Fields based on Owner Division</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Records</name>
        <label>Get User Records</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Division_is_opportunity_owner_from</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fields_based_on_CAN_Division</name>
        <label>Update Fields based on CAN Division</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>pse__Is_Services_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <stringValue>a6Y5d000000175qEAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Region__c</field>
            <value>
                <stringValue>a745d000000TNeIAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fields_based_on_US_Division</name>
        <label>Update Fields based on US Division</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>pse__Is_Services_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <stringValue>a6Y5d000000175pEAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Region__c</field>
            <value>
                <stringValue>a745d000000TNeMAAW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012i0000001EUM7AAO</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
