force-app/main/default/flows/Opportunity_Enterprise_Engagement_Set_Account_Market_Reach.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Copy the value from the related Account Market Reach field</description>
        <name>Set_Account_Market_Reach</name>
        <label>Set Account Market Reach</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Market_Reach__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Market_Reach__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>We cannot traverse objects in the entry criteria so we check here instead</description>
        <name>Is_Enterprise_Engagement_Opp_and_Market_Reach_Update</name>
        <label>Is Enterprise Engagement Opp and Market Reach Update?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Market_Reach_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enterprise_Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Market_Reach__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Market_Reach__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Market_Reach</targetReference>
            </connector>
            <label>Market Reach Update</label>
        </rules>
    </decisions>
    <description>When Enterprise Engagement Opp is created/updated match the value on related Account&apos;s Market Reach field to Account Market Reach</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Enterprise Engagement Set Account Market Reach</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Enterprise_Engagement_Opp_and_Market_Reach_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
