force-app/main/default/flows/Opportunity_Create_Order_from_Magento_created_Product_Order_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Order_Status</name>
        <label>Add Order Status</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Transfrom_Opp_Values_on_to_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Opp_Record_Type</name>
        <label>Check Opp Record Type</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Product_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfrom_Opp_Values_on_to_Order</targetReference>
            </connector>
            <label>Is Product Order</label>
        </rules>
    </decisions>
    <description>This flow creates an order with Order Products when Magento creates a Product Order Opportunity with a currency of EUR or GBP. It then deletes the originating Product Order Opp. This should be temporary until the consolidation to the Order object and the ERP consolidation.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Create Order from Magento-created Product Order Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Create Order from Magento-created Product Order Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <inputReference>Transfrom_Opp_Values_on_to_Order</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Order_Products</name>
        <label>Insert Order Products</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Delete_Product_Order_Opp</targetReference>
        </connector>
        <inputReference>Transform_Opp_Products_to_Order_Products</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Product_Order_Opp</name>
        <label>Delete Product_Order Opp</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Opp_Products_to_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Opp_Record_Type</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Count_of_Products__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Count_of_Products__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Opp_Products_to_Order_Products</name>
        <label>Transform Opp Products to Order Products</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Insert_Order_Products</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>OrderItem</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>CurrencyIsoCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opp_Products[$EachItem].CurrencyIsoCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Product2Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opp_Products[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PricebookEntryId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opp_Products[$EachItem].PricebookEntryId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ListPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opp_Products[$EachItem].ListPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>UnitPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opp_Products[$EachItem].UnitPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TotalPrice</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opp_Products[$EachItem].TotalPrice</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Quantity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Opp_Products[$EachItem].Quantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OrderId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Transfrom_Opp_Values_on_to_Order.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transfrom_Opp_Values_on_to_Order</name>
        <label>Transfrom Opp Values on to Order</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Add_Order_Status</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Order</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AccountId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.AccountId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CurrencyIsoCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.CurrencyIsoCode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingCity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Bill_To_City__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingCountry</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Bill_To_Country__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingState</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Bill_to_State__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.OwnerId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ShippingCity</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Ship_To_City__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ShippingCountry</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Ship_to_Country__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ShippingState</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Ship_to_State__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ShippingPostalCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Ship_to_Zip__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillingPostalCode</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Bill_to_Zip__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>EffectiveDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.CloseDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Pricebook2Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Pricebook2Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>External_Document_Number__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.External_Document_Number__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Payment_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Payment_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipment_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipment_Date__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Agent_Code_Courier__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Agent_Code_Courier__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Shipping_Agent_Service_Code_Priority__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Shipping_Agent_Service_Code_Priority__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Tracking_Number__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Tracking_Number__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Venue_Code__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Venue_Code__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ShipToContactId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Ship_To_Contact__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>BillToContactId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Bill_To_Contact__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
