force-app/main/default/flows/Order_Create_OrderSync_for_Sync_to_Xero.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Creates OrderSync event from the Sync to Xero button on the Order record detail page</description>
    <environments>Default</environments>
    <interviewLabel>Order - Create OrderSync for Sync to Xero {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Create OrderSync for Sync to Xero</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OrderSync_Event</name>
        <label>Create OrderSync Event</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>SynctoXero</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSync__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>SynctoXero</name>
        <label>Sync to Xero</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SyncToXeroText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your request to sync to Xero is now being processed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_OrderSync_Event</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Order record that comes from the record detail page, flow is launched from &quot;Sync to Xero&quot; button</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
