force-app/main/default/flows/PSA_Set_Future_Scheduled_Values_Scheduled_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>aFutureEstimatedValues</name>
        <label>aFutureEstimatedValues</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>vFutureEstimatedBillings</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lEstVsActuals.Estimated_Billings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFutureEstimatedCosts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lEstVsActuals.Estimated_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFutureEstimatedHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lEstVsActuals.pse__Estimated_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lEstVsActuals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Clear out variable values and set them back to 0 or null.</description>
        <name>aNullValues</name>
        <label>aNullValues</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>vFutureEstimatedCosts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFutureEstimatedHours</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vFutureEstimatedBillings</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lEstVsActuals</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>PSA: Set Future Scheduled Values - Scheduled Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA: Set Future Scheduled Values - Scheduled Flow</label>
    <loops>
        <name>lEstVsActuals</name>
        <label>lEstVsActuals</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>gEstVsActuals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>aFutureEstimatedValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>uProjectFutureEstimatedValues</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find future week est vs actual records related to the project the flow launched from.</description>
        <name>gEstVsActuals</name>
        <label>gEstVsActuals</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>aNullValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Future_Week__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Est_Vs_Actuals__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>uProjectFutureEstimatedValues</name>
        <label>uProjectFutureEstimatedValues</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <inputAssignments>
            <field>Cost_of_Future_Scheduled_Hours__c</field>
            <value>
                <elementReference>vFutureEstimatedCosts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Scheduled_Billings__c</field>
            <value>
                <elementReference>vFutureEstimatedBillings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Future_Scheduled_Hours__c</field>
            <value>
                <elementReference>vFutureEstimatedHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>gEstVsActuals</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (1 AND 3)</filterLogic>
        <filters>
            <field>pse__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Project</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Project - Speaking Engagement or Custom Workshop</stringValue>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-16</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vFutureEstimatedBillings</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vFutureEstimatedCosts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vFutureEstimatedHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
