force-app/main/default/flows/Public_VILT_CERT_Welcome_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ANZ_Public_VILT_welcome_email</name>
        <label>ANZ Public VILT welcome email</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>Associated_Training_Contacts__c.ANZ_Public_VILT_CERT_welcome_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.ANZ_Public_VILT_CERT_welcome_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_CERT_welcome_email_alert</name>
        <label>CAN Public VILT CERT welcome email alert</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>Associated_Training_Contacts__c.CAN_Public_VILT_CERT_welcome_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.CAN_Public_VILT_CERT_welcome_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>hq_public_vilt_cert_welcome_email</name>
        <label>hq public vilt cert welcome email</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Associated_Training_Contacts__c.HQ_Public_VILT_CERT_Welcome_email_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.HQ_Public_VILT_CERT_Welcome_email_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_Alert_CAN_Public_Certification_French</name>
        <label>Welcome Email Alert CAN Public Certification French</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_Certification_French</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_Certification_French</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_Alert_HQ_Public_In_person_Certification</name>
        <label>Welcome Email Alert HQ Public In-person Certification</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_In_person_Certification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_In_person_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>The decision to see if its pubic VILT CERT program</description>
        <name>is_public_VILT_CERT</name>
        <label>is public VILT CERT</label>
        <locationX>1304</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>public_vilt_cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>regional_decision_welcome_email_public_vilt_cert</targetReference>
            </connector>
            <label>public vilt cert</label>
        </rules>
        <rules>
            <name>Public_in_person_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_HQ_Public_In_person_Certification</targetReference>
            </connector>
            <label>Public in-person Certification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_of_the_program</name>
        <label>Language of the program</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>French_Public_VILT_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_CAN_Public_Certification_French</targetReference>
            </connector>
            <label>French Public VILT Certification</label>
        </rules>
        <rules>
            <name>English_Public_VILT_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Public_VILT_CERT_welcome_email_alert</targetReference>
            </connector>
            <label>English Public VILT Certification</label>
        </rules>
    </decisions>
    <decisions>
        <name>regional_decision_welcome_email_public_vilt_cert</name>
        <label>regional decision welcome email public vilt cert</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HQ_Welcome_email_public_VILT_CERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>hq_public_vilt_cert_welcome_email</targetReference>
            </connector>
            <label>HQ Welcome email public VILT CERT</label>
        </rules>
        <rules>
            <name>CAN_Welcome_email_public_VILT_CERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_of_the_program</targetReference>
            </connector>
            <label>CAN Welcome email public VILT CERT</label>
        </rules>
        <rules>
            <name>ANZ_Welcome_email_public_vilt_cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ANZ_Public_VILT_welcome_email</targetReference>
            </connector>
            <label>ANZ Welcome email public vilt cert</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Public VILT CERT Welcome Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Public VILT CERT Welcome Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_public_VILT_CERT</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>Associated_Training_Contacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
