force-app/main/default/flows/Sync_Customer_Product_and_Portal_Access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Check_for_Portal_Access</name>
        <label>Check for Portal Access</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Portal Access</defaultConnectorLabel>
        <rules>
            <name>Portal_Access_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PortalAccessID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CP</targetReference>
            </connector>
            <label>Portal Access Found</label>
        </rules>
    </decisions>
    <description>Add portal access to CP if created from portal at the same time</description>
    <interviewLabel>Sync Customer Product and Portal Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Customer Product and Portal Access</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Portal_Access</name>
        <label>Get Portal Access</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Portal_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>prosci_portal_db_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Portal_Access_Portal_DB_ID__c</elementReference>
            </value>
        </filters>
        <object>Portal_Access__c</object>
        <outputAssignments>
            <assignToReference>PortalAccessID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>add portal access id to customer product</description>
        <name>Update_CP</name>
        <label>Update CP</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>PortalAccessID</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Product__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Portal_Access</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portal_Access__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Portal_Access_Portal_DB_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Customer_Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PortalAccessID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
