force-app/main/default/flows/Task_Lead_from_form_with_previously_existing_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>We do not generate lead when the related contact was created on same day as task.</description>
        <name>DEC_Previously_Existing_Contact</name>
        <label>DEC Previously Existing Contact?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>New Contact</defaultConnectorLabel>
        <rules>
            <name>Previously_Existing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Related_Contact.Created_Date_Just_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Enterprise_Lead_RecordType</targetReference>
            </connector>
            <label>Previously Existing Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>If there is a related contact for the MQL task then we will run Lead generation logic</description>
        <name>DEC_Task_related_to_Contact</name>
        <label>DEC Task related to Contact?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Related_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Related_Contact</targetReference>
            </connector>
            <label>Related Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Determines the Lead Type based on the task</description>
        <name>FOR_Lead_Type</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.Subject}, &quot;General&quot;), &quot;General&quot;, &quot;Solutions for Organizations&quot;)
/* When the triggering task contains the word General in the subject, the Lead Type is set to General, otherwise make it Solutions for Organizations */</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <name>TodayDateTime</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Task - Lead from form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Lead from form with previously existing contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_Lead</name>
        <label>CREATE Lead</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Comments_from_Website__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>GET_Related_Contact.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>GET_Related_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>GET_Related_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Type__c</field>
            <value>
                <elementReference>FOR_Lead_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previously_Existing_Contact__c</field>
            <value>
                <elementReference>GET_Related_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Enterprise_Lead_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Enterprise_Lead_RecordType</name>
        <label>GET Enterprise Lead RecordType</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CREATE_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get contact related to task</description>
        <name>GET_Related_Contact</name>
        <label>GET Related Contact</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Previously_Existing_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_Task_related_to_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
