force-app/main/default/flows/Template_Code_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_AU_Template_code</name>
        <label>Set AU Template code</label>
        <locationX>503</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>$Record.BC_CAN_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Template_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BC_ANZ_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AUSTRALIA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NET 30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Price_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STDDISC</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_CA_Template_Code</name>
        <label>Set CA Template Code</label>
        <locationX>348</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>$Record.BC_ANZ_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Template_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BC_CAN_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NET 30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Price_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STDDISC</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_International_Template_Code</name>
        <label>Set International Template Code</label>
        <locationX>1095</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>$Record.BC_ANZ_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Template_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BC_CAN_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Price_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STDDISC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NET 30</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_NZ_Template_Code</name>
        <label>Set NZ Template Code</label>
        <locationX>684</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>$Record.BC_CAN_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Template_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BC_ANZ_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEW_ZEALAN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Price_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STDDISC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NET 30</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_US_Template_Codes</name>
        <label>Set US Template Codes</label>
        <locationX>50</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>$Record.BC_ANZ_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BC_CAN_Customer_Template_Codes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INTL-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Template_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DOM-CUST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NET 30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Price_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STDDISC</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Deciding the outcomes based on country</description>
        <name>Check_Country</name>
        <label>Check Country</label>
        <locationX>490</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Set_International_Template_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_is_USA</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_US_Template_Codes</targetReference>
            </connector>
            <label>Country is US</label>
        </rules>
        <rules>
            <name>Country_is_Canada</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CA_Template_Code</targetReference>
            </connector>
            <label>Country is CA</label>
        </rules>
        <rules>
            <name>Country_is_Australia</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AU_Template_code</targetReference>
            </connector>
            <label>Country is AU</label>
        </rules>
        <rules>
            <name>Country_is_NZ</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payment_Terms__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_NZ_Template_Code</targetReference>
            </connector>
            <label>Country is NZ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Template Code Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Template Code Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>372</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
