force-app/main/default/flows/Training_Event_Public_Check_In_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ANZ_Check_in_for_all_VILT_Programs</name>
        <label>ANZ Check in for all VILT Programs</label>
        <locationX>9818</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_VILT_Program</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_ANZ_Public_VILT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ANZ_VILT_Public_Program_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_VILT_Program</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ANZ_Check_in_for_Late_Start_Cert_Email_Alert</name>
        <label>ANZ Check in for Late Start Cert Email Alert</label>
        <locationX>10522</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_Late_Start_Cert_VILT_Program</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_ANZ_Late_Start_Cert_Public_VILT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ANZ_Late_Start_VILT_Public_Program_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_Late_Start_Cert_VILT_Program</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ANZ_Early_Start_Cert_Email_Alert</name>
        <label>ANZ Early Start Cert Email Alert</label>
        <locationX>10170</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_Early_Start_Cert_VILT_Program</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_ANZ_Early_Start_Public_VILT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ANZ_Early_Start_Cert_VILT_Public_Program_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_ANZ_Public_Early_Start_Cert_VILT_Program</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_Early_Start_Certification_Email_Alert</name>
        <label>CAN Public Early Start Certification Email Alert</label>
        <locationX>5330</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Early_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_Certification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_VILT_Certification_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Early_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_ADKAR_Level_1_Email_Alert</name>
        <label>CAN Public VILT ADKAR Level 1 Email Alert</label>
        <locationX>7794</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ADKAR_Level_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_ADKAR_Level_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_VILT_ADKAR_Level_1_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ADKAR_Level_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_ADKAR_Level_2</name>
        <label>CAN Public VILT ADKAR Level 2</label>
        <locationX>8850</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ADKAR_Level_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_ADKAR_Level_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_ADKAR_Level_2.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ADKAR_Level_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_ECM_Email_Alert</name>
        <label>CAN Public VILT ECM Email Alert</label>
        <locationX>7442</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ECM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_ECM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_VILT_ECM_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_ECM</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_French_Cert</name>
        <label>CAN Public VILT French Cert</label>
        <locationX>9202</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_French_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_French_Cert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_French_Cert_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_French_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_Improve_Project_Health_Email_Alert</name>
        <label>CAN Public VILT Improve Project Health Email Alert</label>
        <locationX>7090</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Improve_Project_Health</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_Improve_Project_Health</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_VILT_Improve_Project_Health_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Improve_Project_Health</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_Integrating_Agile_Email_Alert</name>
        <label>CAN Public VILT Integrating Agile Email Alert</label>
        <locationX>6386</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Integrating_Agile</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_Integrating_Agile</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_VILT_Integrating_Agile_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Integrating_Agile</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_Late_Start_Cert_Email_Alert</name>
        <label>CAN Public VILT Late Start Cert Email Alert</label>
        <locationX>8146</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Late_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_Late_Start_Cert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_Late_Cert_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Late_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_Leading_Your_Team_Email_Alert</name>
        <label>CAN Public VILT Leading Your Team Email Alert</label>
        <locationX>6034</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Leading_Your_Team</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_Leading</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_VILT_Leading_Your_Teams_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Leading_Your_Team</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_MAP_Email_Alert</name>
        <label>CAN Public VILT MAP Email Alert</label>
        <locationX>6738</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_MAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_MAP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_VILT_MAP_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_MAP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_Taking_Charge_Email_Alert</name>
        <label>CAN Public VILT Taking Charge Email Alert</label>
        <locationX>5682</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Taking_Charge</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_Taking_Charge</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_VILT_Taking_Charge_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Taking_Charge</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Public_VILT_Weekend_Cert_Email_Alert</name>
        <label>CAN Public VILT Weekend Cert Email Alert</label>
        <locationX>8498</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Weekend_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_CAN_Public_VILT_Weekend_Cert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CAN_Public_Weekend_Cert_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_CAN_Public_VILT_Weekend_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_ADKAR_Level_1_Check_in_Email_Alert</name>
        <label>US ADKAR Level 1 Check-in Email Alert</label>
        <locationX>4010</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ADKAR_Level_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_ADKAR_Level_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_ADKAR_Level_1_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ADKAR_Level_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_ADKAR_Level_2_Check_in_Email_Alert</name>
        <label>US ADKAR Level 2 Check-in Email Alert</label>
        <locationX>4362</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ADKAR_Level_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_ADKAR_Level_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_ADKAR_Level_2_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ADKAR_Level_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_Early_Start_Check_in_Email_Alert</name>
        <label>US Early Start Check in Email Alert</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Early_Start_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_Early_Start</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_Early_Start_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Early_Start_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_ECM_Boot_Camp_Check_in_Email_Alert</name>
        <label>US ECM Boot Camp Check-in Email Alert</label>
        <locationX>3658</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ECM_Boot_Camp</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_ECM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_ECM_Boot_Camp_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_ECM_Boot_Camp</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_Improve_Project_Check_in_Email_Alert</name>
        <label>US Improve Project Check-in Email Alert</label>
        <locationX>3306</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Improve_Project_Health</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_Improve_Project_Health</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_Improve_Project_Health_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Improve_Project_Health</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_In_Person_Certification_Check_in_Email_Alert</name>
        <label>US In Person Certification Check-in Email Alert</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_In_Person_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_In_Person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_In_Person_Certification_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_In_Person_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_Integrating_Agile_Check_in_Email_Alert</name>
        <label>US Integrating Agile Check-in Email Alert</label>
        <locationX>2602</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Integrating_Agile</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_Integrating_Agile</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_Integrating_Agile_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Integrating_Agile</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_Leading_your_Teams_Check_in_Email_Alert</name>
        <label>US Leading your Teams Check-in Email Alert</label>
        <locationX>2250</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Leading_Your_Teams</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_Leading</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_Leading_your_Teams_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Leading_Your_Teams</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_MAP_Check_in_Email_Alert</name>
        <label>US MAP Check-in Email Alert</label>
        <locationX>2954</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_MAP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_MAP</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_MAP_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_MAP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_Public_Partnership_Cert_Check_in_Email_Alert</name>
        <label>US Public Partnership Cert Check-in Email Alert</label>
        <locationX>4714</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_Partnership</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_Partnership_Cert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_Public_Partnership_Cert_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_Partnership</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_Taking_Charge_Check_in_Email_Alert</name>
        <label>US Taking Charge Check-in Email Alert</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Taking_Charge_of_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_Taking</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_Taking_Charge_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Taking_Charge_of_Change</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_VILT_Cert_Check_in_Email</name>
        <label>US VILT Cert Check-in Email</label>
        <locationX>490</locationX>
        <locationY>863</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_VILT_Cert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_VILT_Certification_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_VILT_TTT_Level_1_Check_in_Email_Alert</name>
        <label>US VILT TTT Level 1 Check-in Email Alert</label>
        <locationX>1194</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_TTT_Level_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_TTT_Level_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_TTT_Level_1_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_TTT_Level_1</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_VILT_TTT_Level_2_Check_In_Email_Alert</name>
        <label>US VILT TTT Level 2 Check-In Email Alert</label>
        <locationX>1546</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_TTT_Level_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_in_Email_Sent_Activity_TTT_Level_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>US_TTT_Level_2_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Check_in_Prosci_US_VILT_TTT_Level_2</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>CAN_Program_Type</name>
        <label>CAN Program Type</label>
        <locationX>7310</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CAN_Virtual_Early_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_VILT_Certification</targetReference>
            </connector>
            <label>CAN Virtual Early Certification</label>
        </rules>
        <rules>
            <name>CAN_Taking_Charge_of_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taking Charge of Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_Taking_Charge</targetReference>
            </connector>
            <label>CAN Taking Charge of Change</label>
        </rules>
        <rules>
            <name>CAN_Leading_Your_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_VILT_Leading</targetReference>
            </connector>
            <label>CAN Leading Your Team</label>
        </rules>
        <rules>
            <name>CAN_Integrating_Agile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrating Agile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_VILT_Integrating_Agile</targetReference>
            </connector>
            <label>CAN Integrating Agile</label>
        </rules>
        <rules>
            <name>CAN_Methodology_Application_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Methodology Application Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_VILT_MAP</targetReference>
            </connector>
            <label>CAN Methodology Application Program</label>
        </rules>
        <rules>
            <name>CAN_Improve_Project_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Improve Project Health</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_VILT_Improve_Project_Health</targetReference>
            </connector>
            <label>CAN Improve Project Health</label>
        </rules>
        <rules>
            <name>CAN_ECM_Boot_Camp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM Boot Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_VILT_ECM</targetReference>
            </connector>
            <label>CAN ECM Boot Camp</label>
        </rules>
        <rules>
            <name>CAN_ADKAR_Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADKAR Model Mastery Level 1: Prevent Change Resistance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_ADKAR_Level_1</targetReference>
            </connector>
            <label>CAN ADKAR Level 1</label>
        </rules>
        <rules>
            <name>CAN_Virtual_Late_Certificaion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_Late_Start_Certification</targetReference>
            </connector>
            <label>CAN Virtual Late Certificaion</label>
        </rules>
        <rules>
            <name>CAN_Virtual_Weekend_Certificaion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Weekend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_Weekend_Cert</targetReference>
            </connector>
            <label>CAN Virtual Weekend Certificaion</label>
        </rules>
        <rules>
            <name>CAN_ADKAR_Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADKAR Model Mastery Level 2: Resolve Change Barriers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_ADKAR_Public_Level_2</targetReference>
            </connector>
            <label>CAN ADKAR Level 2</label>
        </rules>
        <rules>
            <name>CAN_French_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CAN_Public_French_Cert</targetReference>
            </connector>
            <label>CAN French Certification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Early_Start</name>
        <label>Is it Early Start?</label>
        <locationX>226</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_US_VILT_Cert_ATC_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Early_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Early_Start_ATC_Records</targetReference>
            </connector>
            <label>Early Start</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_VILT</name>
        <label>Is it VILT?</label>
        <locationX>10214</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VILT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nul</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ATC_for_ANZ_VILT_program</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>VILT</label>
        </rules>
        <rules>
            <name>VILT_Early_Start_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ATC_for_ANZ_Early_Start_Cert_VILT_program</targetReference>
            </connector>
            <label>VILT Early Start Certification</label>
        </rules>
        <rules>
            <name>VIlT_Late_Start_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ATC_for_ANZ_Late_Start_Cert_VILT_program</targetReference>
            </connector>
            <label>VIlT Late Start Certification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Type</name>
        <label>Program Type</label>
        <locationX>2558</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Virtual_Certification</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Early_Start</targetReference>
            </connector>
            <label>Virtual Certification</label>
        </rules>
        <rules>
            <name>In_Person_Certification</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_In_Person_Cert_ATC_Records</targetReference>
            </connector>
            <label>In Person Certification</label>
        </rules>
        <rules>
            <name>TTT_1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_TTT_Level_1_ATC_Records</targetReference>
            </connector>
            <label>TTT 1</label>
        </rules>
        <rules>
            <name>TTT_2</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TTT - Level 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_TTT_Level_2_ATC_Records</targetReference>
            </connector>
            <label>TTT 2</label>
        </rules>
        <rules>
            <name>Taking_Charge_of_Change</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taking Charge of Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Taking_Charge_ATC_Records</targetReference>
            </connector>
            <label>Taking Charge of Change</label>
        </rules>
        <rules>
            <name>Leading_Your_Team</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Leading_Your_Teams_ATC_Records</targetReference>
            </connector>
            <label>Leading Your Team</label>
        </rules>
        <rules>
            <name>Integrating_Agile</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integrating Agile</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Integrating_Agile_ATC_Records</targetReference>
            </connector>
            <label>Integrating Agile</label>
        </rules>
        <rules>
            <name>Methodology_Application_Program</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Methodology Application Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_MAP_ATC_Records</targetReference>
            </connector>
            <label>Methodology Application Program</label>
        </rules>
        <rules>
            <name>Improve_Project_Health</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Improve Project Health</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Improve_Project_Health_ATC_Records</targetReference>
            </connector>
            <label>Improve Project Health</label>
        </rules>
        <rules>
            <name>ECM_Boot_Camp</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ECM Boot Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_ECM_Boot_Camp_ATC_Records</targetReference>
            </connector>
            <label>ECM Boot Camp</label>
        </rules>
        <rules>
            <name>ADKAR_Level_1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADKAR Model Mastery Level 1: Prevent Change Resistance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_ADKAR_Level_1_ATC_Records</targetReference>
            </connector>
            <label>ADKAR Level 1</label>
        </rules>
        <rules>
            <name>ADKAR_Level_2</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ADKAR Model Mastery Level 2: Resolve Change Barriers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_ADKAR_Level_2_ATC_Records</targetReference>
            </connector>
            <label>ADKAR Level 2</label>
        </rules>
        <rules>
            <name>Partnership</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_US_Public_Partnership_Cert_ATC_Records</targetReference>
            </connector>
            <label>Partnership</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Region</name>
        <label>What Region</label>
        <locationX>6760</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>USA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Type</targetReference>
            </connector>
            <label>USA</label>
        </rules>
        <rules>
            <name>CAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Program_Type</targetReference>
            </connector>
            <label>CAN</label>
        </rules>
        <rules>
            <name>ANZ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Division</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ANZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_VILT</targetReference>
            </connector>
            <label>ANZ</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Training Event - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Event - Public Check-In Emails</label>
    <loops>
        <name>ANZ_Early_Start_Cert_VILT_Public_Program_Loop</name>
        <label>ANZ Early Start Cert VILT Public Program Loop</label>
        <locationX>10082</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_ATC_for_ANZ_Early_Start_Cert_VILT_program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ANZ_Early_Start_Cert_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>ANZ_Late_Start_VILT_Public_Program_Loop</name>
        <label>ANZ Late Start VILT Public Program Loop</label>
        <locationX>10434</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_ATC_for_ANZ_Late_Start_Cert_VILT_program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ANZ_Check_in_for_Late_Start_Cert_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>ANZ_VILT_Public_Program_Loop</name>
        <label>ANZ VILT Public Program Loop</label>
        <locationX>9730</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_ATC_for_ANZ_VILT_program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ANZ_Check_in_for_all_VILT_Programs</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_ADKAR_Level_2</name>
        <label>CAN Public ADKAR Level 2</label>
        <locationX>8762</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_ADKAR_Public_Level_2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_ADKAR_Level_2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_French_Cert_Loop</name>
        <label>CAN Public French Cert Loop</label>
        <locationX>9114</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_French_Cert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_French_Cert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_Late_Cert_Loop</name>
        <label>CAN Public Late Cert Loop</label>
        <locationX>8058</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_Late_Start_Certification</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_Late_Start_Cert_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_VILT_ADKAR_Level_1_Loop</name>
        <label>CAN Public VILT ADKAR Level 1 Loop</label>
        <locationX>7706</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_ADKAR_Level_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_ADKAR_Level_1_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_VILT_Certification_Loop</name>
        <label>CAN Public VILT Certification Loop</label>
        <locationX>5242</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_VILT_Certification</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_Early_Start_Certification_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_VILT_ECM_Loop</name>
        <label>CAN Public VILT ECM Loop</label>
        <locationX>7354</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_VILT_ECM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_ECM_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_VILT_Improve_Project_Health_Loop</name>
        <label>CAN Public VILT Improve Project Health Loop</label>
        <locationX>7002</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_VILT_Improve_Project_Health</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_Improve_Project_Health_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_VILT_Integrating_Agile_Loop</name>
        <label>CAN Public VILT Integrating Agile Loop</label>
        <locationX>6298</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_VILT_Integrating_Agile</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_Integrating_Agile_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_VILT_Leading_Your_Teams_Loop</name>
        <label>CAN Public VILT Leading Your Teams Loop</label>
        <locationX>5946</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_VILT_Leading</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_Leading_Your_Team_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_VILT_MAP_Loop</name>
        <label>CAN Public VILT MAP Loop</label>
        <locationX>6650</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_VILT_MAP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_MAP_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_VILT_Taking_Charge_Loop</name>
        <label>CAN Public VILT Taking Charge Loop</label>
        <locationX>5594</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_Taking_Charge</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_Taking_Charge_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>CAN_Public_Weekend_Cert_Loop</name>
        <label>CAN Public Weekend Cert Loop</label>
        <locationX>8410</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_CAN_Public_Weekend_Cert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CAN_Public_VILT_Weekend_Cert_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_ADKAR_Level_1_Loop</name>
        <label>US ADKAR Level 1 Loop</label>
        <locationX>3922</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_ADKAR_Level_1_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_ADKAR_Level_1_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_ADKAR_Level_2_Loop</name>
        <label>US ADKAR Level 2 Loop</label>
        <locationX>4274</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_ADKAR_Level_2_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_ADKAR_Level_2_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_Early_Start_Loop</name>
        <label>US Early Start Loop</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_US_Early_Start_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_Early_Start_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_ECM_Boot_Camp_Loop</name>
        <label>US ECM Boot Camp Loop</label>
        <locationX>3570</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_ECM_Boot_Camp_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_ECM_Boot_Camp_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_Improve_Project_Health_Loop</name>
        <label>US Improve Project Health Loop</label>
        <locationX>3218</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_Improve_Project_Health_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_Improve_Project_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_In_Person_Certification_Loop</name>
        <label>US In Person Certification Loop</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_In_Person_Cert_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_In_Person_Certification_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_Integrating_Agile_Loop</name>
        <label>US Integrating Agile Loop</label>
        <locationX>2514</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_Integrating_Agile_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_Integrating_Agile_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_Leading_your_Teams_Loop</name>
        <label>US Leading your Teams Loop</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_Leading_Your_Teams_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_Leading_your_Teams_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_MAP_Loop</name>
        <label>US MAP Loop</label>
        <locationX>2866</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_MAP_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_MAP_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_Public_Partnership_Cert_Loop</name>
        <label>US Public Partnership Cert Loop</label>
        <locationX>4626</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_Public_Partnership_Cert_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_Public_Partnership_Cert_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_Taking_Charge_Loop</name>
        <label>US Taking Charge Loop</label>
        <locationX>1810</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_Taking_Charge_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_Taking_Charge_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_TTT_Level_1_Loop</name>
        <label>US TTT Level 1 Loop</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_TTT_Level_1_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_VILT_TTT_Level_1_Check_in_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_TTT_Level_2_Loop</name>
        <label>US TTT Level 2 Loop</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_US_TTT_Level_2_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_VILT_TTT_Level_2_Check_In_Email_Alert</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>US_VILT_Certification_Loop</name>
        <label>US VILT Certification Loop</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_US_VILT_Cert_ATC_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>US_VILT_Cert_Check_in_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_ADKAR_Level_1</name>
        <label>Check-in Email Sent Activity ADKAR Level 1</label>
        <locationX>4010</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_ADKAR_Level_1_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_ADKAR_Level_1_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_ADKAR_Level_2</name>
        <label>Check-in Email Sent Activity ADKAR Level 2</label>
        <locationX>4362</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_ADKAR_Level_2_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_ADKAR_Level_2_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_ANZ_Early_Start_Public_VILT</name>
        <label>Check-in Email Sent Activity ANZ Early Start Public VILT</label>
        <locationX>10170</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>ANZ_Early_Start_Cert_VILT_Public_Program_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ANZ_Early_Start_Cert_VILT_Public_Program_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_ANZ_Late_Start_Cert_Public_VILT</name>
        <label>Check-in Email Sent Activity ANZ Late Start Cert Public VILT</label>
        <locationX>10522</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>ANZ_Late_Start_VILT_Public_Program_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ANZ_Late_Start_VILT_Public_Program_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_ANZ_Public_VILT</name>
        <label>Check-in Email Sent Activity ANZ Public VILT</label>
        <locationX>9818</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>ANZ_VILT_Public_Program_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ANZ_VILT_Public_Program_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_ADKAR_Level_1</name>
        <label>Check-in Email Sent Activity CAN Public VILT ADKAR Level 1</label>
        <locationX>7794</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_VILT_ADKAR_Level_1_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_VILT_ADKAR_Level_1_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_ADKAR_Level_2</name>
        <label>Check-in Email Sent Activity CAN Public VILT ADKAR Level 2</label>
        <locationX>8850</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_ADKAR_Level_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_ADKAR_Level_2.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_Certification</name>
        <label>Check-in Email Sent Activity CAN Public VILT Certification</label>
        <locationX>5330</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_VILT_Certification_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_VILT_ADKAR_Level_1_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_ECM</name>
        <label>Check-in Email Sent Activity CAN Public VILT ECM</label>
        <locationX>7442</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_VILT_ECM_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_VILT_ECM_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_French_Cert</name>
        <label>Check-in Email Sent Activity CAN Public VILT French Cert</label>
        <locationX>9202</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_French_Cert_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_French_Cert_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_Improve_Project_Health</name>
        <label>Check-in Email Sent Activity CAN Public VILT Improve Project Health</label>
        <locationX>7090</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_VILT_Improve_Project_Health_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_VILT_Improve_Project_Health_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_Integrating_Agile</name>
        <label>Check-in Email Sent Activity CAN Public VILT Integrating Agile</label>
        <locationX>6386</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_VILT_Integrating_Agile_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_VILT_Integrating_Agile_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_Late_Start_Cert</name>
        <label>Check-in Email Sent Activity CAN Public VILT Late Start Cert</label>
        <locationX>8146</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_Late_Cert_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_Late_Cert_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_Leading</name>
        <label>Check-in Email Sent Activity CAN Public VILT Leading</label>
        <locationX>6034</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_VILT_Leading_Your_Teams_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_VILT_Leading_Your_Teams_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_MAP</name>
        <label>Check-in Email Sent Activity CAN Public VILT MAP</label>
        <locationX>6738</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_VILT_MAP_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_VILT_MAP_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_Taking_Charge</name>
        <label>Check-in Email Sent Activity CAN Public VILT Taking Charge</label>
        <locationX>5682</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_VILT_Taking_Charge_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_VILT_Taking_Charge_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_CAN_Public_VILT_Weekend_Cert</name>
        <label>Check-in Email Sent Activity CAN Public VILT Weekend Cert</label>
        <locationX>8498</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>CAN_Public_Weekend_Cert_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>CAN_Public_VILT_ADKAR_Level_1_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_Early_Start</name>
        <label>Check-in Email Sent Activity Early Start</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>US_Early_Start_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_VILT_Certification_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_ECM</name>
        <label>Check-in Email Sent Activity ECM</label>
        <locationX>3658</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_ECM_Boot_Camp_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_ECM_Boot_Camp_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_Improve_Project_Health</name>
        <label>Check-in Email Sent Activity Improve Project Health</label>
        <locationX>3306</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_Improve_Project_Health_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_Improve_Project_Health_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_In_Person</name>
        <label>Check-in Email Sent Activity In Person</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_In_Person_Certification_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_In_Person_Certification_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_Integrating_Agile</name>
        <label>Check-in Email Sent Activity Integrating Agile</label>
        <locationX>2602</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_Integrating_Agile_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_Integrating_Agile_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_Leading</name>
        <label>Check-in Email Sent Activity Leading</label>
        <locationX>2250</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_Leading_your_Teams_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_Leading_your_Teams_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_MAP</name>
        <label>Check-in Email Sent Activity MAP</label>
        <locationX>2954</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_MAP_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_MAP_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_Partnership_Cert</name>
        <label>Check-in Email Sent Activity Partnership Cert</label>
        <locationX>4714</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_Public_Partnership_Cert_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_Public_Partnership_Cert_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_Taking</name>
        <label>Check-in Email Sent Activity Taking</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_Taking_Charge_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_Taking_Charge_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_TTT_Level_1</name>
        <label>Check-in Email Sent Activity TTT Level 1</label>
        <locationX>1194</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_TTT_Level_1_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_TTT_Level_1_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_TTT_Level_2</name>
        <label>Check-in Email Sent Activity TTT Level 2</label>
        <locationX>1546</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>US_TTT_Level_2_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_TTT_Level_2_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Check_in_Email_Sent_Activity_VILT_Cert</name>
        <label>Check-in Email Sent Activity VILT Cert</label>
        <locationX>490</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>US_VILT_Certification_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforActivitycreatedafteremailissent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>US_VILT_Certification_Loop.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ATC_for_ANZ_Early_Start_Cert_VILT_program</name>
        <label>Get ATC for ANZ Early Start Cert VILT program</label>
        <locationX>10082</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ANZ_Early_Start_Cert_VILT_Public_Program_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ATC_for_ANZ_Late_Start_Cert_VILT_program</name>
        <label>Get ATC for ANZ Late Start Cert VILT program</label>
        <locationX>10434</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ANZ_Late_Start_VILT_Public_Program_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ATC_for_ANZ_VILT_program</name>
        <label>Get ATC for ANZ VILT program</label>
        <locationX>9730</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ANZ_VILT_Public_Program_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_ADKAR_Public_Level_2</name>
        <label>Get CAN ADKAR Public Level 2</label>
        <locationX>8762</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_ADKAR_Level_2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_ADKAR_Level_1</name>
        <label>Get CAN Public ADKAR Level 1</label>
        <locationX>7706</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_VILT_ADKAR_Level_1_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_French_Cert</name>
        <label>Get CAN Public French Cert</label>
        <locationX>9114</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_French_Cert_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_Late_Start_Certification</name>
        <label>Get CAN Public Late Start Certification</label>
        <locationX>8058</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_Late_Cert_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_Taking_Charge</name>
        <label>Get CAN Public Taking Charge</label>
        <locationX>5594</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_VILT_Taking_Charge_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_VILT_Certification</name>
        <label>Get CAN Public VILT Certification</label>
        <locationX>5242</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_VILT_Certification_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_VILT_ECM</name>
        <label>Get CAN Public VILT ECM</label>
        <locationX>7354</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_VILT_ECM_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_VILT_Improve_Project_Health</name>
        <label>Get CAN Public VILT Improve Project Health</label>
        <locationX>7002</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_VILT_Improve_Project_Health_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_VILT_Integrating_Agile</name>
        <label>Get CAN Public VILT Integrating Agile</label>
        <locationX>6298</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_VILT_Integrating_Agile_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_VILT_Leading</name>
        <label>Get CAN Public VILT Leading</label>
        <locationX>5946</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_VILT_Leading_Your_Teams_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_VILT_MAP</name>
        <label>Get CAN Public VILT MAP</label>
        <locationX>6650</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_VILT_MAP_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CAN_Public_Weekend_Cert</name>
        <label>Get CAN Public Weekend Cert</label>
        <locationX>8410</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CAN_Public_Weekend_Cert_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_ADKAR_Level_1_ATC_Records</name>
        <label>Get US ADKAR Level 1 ATC Records</label>
        <locationX>3922</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_ADKAR_Level_1_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_ADKAR_Level_2_ATC_Records</name>
        <label>Get US ADKAR Level 2 ATC Records</label>
        <locationX>4274</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_ADKAR_Level_2_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Early_Start_ATC_Records</name>
        <label>Get US Early Start ATC Records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_Early_Start_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_ECM_Boot_Camp_ATC_Records</name>
        <label>Get US ECM Boot Camp ATC Records</label>
        <locationX>3570</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_ECM_Boot_Camp_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Improve_Project_Health_ATC_Records</name>
        <label>Get US Improve Project Health ATC Records</label>
        <locationX>3218</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_Improve_Project_Health_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_In_Person_Cert_ATC_Records</name>
        <label>Get US In Person Cert ATC Records</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_In_Person_Certification_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Integrating_Agile_ATC_Records</name>
        <label>Get US Integrating Agile ATC Records</label>
        <locationX>2514</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_Integrating_Agile_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Leading_Your_Teams_ATC_Records</name>
        <label>Get US Leading Your Teams ATC Records</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_Leading_your_Teams_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_MAP_ATC_Records</name>
        <label>Get US MAP ATC Records</label>
        <locationX>2866</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_MAP_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Public_Partnership_Cert_ATC_Records</name>
        <label>Get US Public Partnership Cert ATC Records</label>
        <locationX>4626</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_Public_Partnership_Cert_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_Taking_Charge_ATC_Records</name>
        <label>Get US Taking Charge ATC Records</label>
        <locationX>1810</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_Taking_Charge_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_TTT_Level_1_ATC_Records</name>
        <label>Get US TTT Level 1 ATC Records</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_TTT_Level_1_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_TTT_Level_2_ATC_Records</name>
        <label>Get US TTT Level 2 ATC Records</label>
        <locationX>1458</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_TTT_Level_2_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_US_VILT_Cert_ATC_Records</name>
        <label>Get US VILT Cert ATC Records</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>US_VILT_Certification_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>6634</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Region</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Send_Check_in_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Training_Event__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>SubjectforActivitycreatedafteremailissent</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Check-in Email for {!$Record.Name} has been sent.</text>
    </textTemplates>
    <variables>
        <name>NoofATC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
