force-app/main/default/flows/Training_Event_Pre_Program_Delivery_Team_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pre_Program_Delivery_Team_Email_Enterprise_In_Person</name>
        <label>Pre-Program Delivery Team Email (Enterprise, In-Person)</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Training_Event__c.Pre_Program_Delivery_Team_Email_Enterprise_In_Person</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Training_Event__c.Pre_Program_Delivery_Team_Email_Enterprise_In_Person</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pre_Program_Delivery_Team_Email_Enterprise_Virtual</name>
        <label>Pre-Program Delivery Team Email (Enterprise, Virtual)</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Training_Event__c.Pre_Program_Delivery_Team_Email_Enterprise_Virtual</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Training_Event__c.Pre_Program_Delivery_Team_Email_Enterprise_Virtual</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pre_Program_Delivery_Team_Email_Public_In_Person_Cert</name>
        <label>Pre-Program Delivery Team Email (Public, In-Person, Cert)</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Training_Event__c.Pre_Program_Delivery_Team_Email_Public_In_Person_Cert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Training_Event__c.Pre_Program_Delivery_Team_Email_Public_In_Person_Cert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pre_Program_Delivery_Team_Email_Public_Virtual_Cert</name>
        <label>Pre-Program Delivery Team Email (Public, Virtual, Cert)</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Training_Event__c.Pre_Program_Delivery_Team_Email_Public_Virtual_Cert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Training_Event__c.Pre_Program_Delivery_Team_Email_Public_Virtual_Cert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pre_Program_Delivery_Team_Email_Public_Virtual_non_Cert</name>
        <label>Pre-Program Delivery Team Email (Public, Virtual, non-Cert)</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Training_Event__c.Pre_Program_Delivery_Team_Email_Public_Virtual_non_Cert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Training_Event__c.Pre_Program_Delivery_Team_Email_Public_Virtual_non_Cert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Program_and_Delivery_Type</name>
        <label>Program and Delivery Type</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enterprise_In_Person_All_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Program_Delivery_Team_Email_Enterprise_In_Person</targetReference>
            </connector>
            <label>Enterprise In-Person (All Program)</label>
        </rules>
        <rules>
            <name>Enterprise_Virtual_All_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Program_Delivery_Team_Email_Enterprise_Virtual</targetReference>
            </connector>
            <label>Enterprise Virtual (All Program)</label>
        </rules>
        <rules>
            <name>Public_In_Person_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Program_Delivery_Team_Email_Public_In_Person_Cert</targetReference>
            </connector>
            <label>Public In-Person (Cert)</label>
        </rules>
        <rules>
            <name>Public_Virtual_Cert</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Program_Delivery_Team_Email_Public_Virtual_Cert</targetReference>
            </connector>
            <label>Public Virtual (Cert)</label>
        </rules>
        <rules>
            <name>Public_Virtual_non_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Title__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Program_Delivery_Team_Email_Public_Virtual_non_Cert</targetReference>
            </connector>
            <label>Public Virtual (non-Cert)</label>
        </rules>
    </decisions>
    <description>To send to the delivery team pre-program with all the logistics details for the event.</description>
    <environments>Default</environments>
    <interviewLabel>Training Event - Pre-Program Delivery Team Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Event - Pre-Program Delivery Team Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Program_and_Delivery_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pre_program_email__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>Training_Event__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
