force-app/main/default/flows/Training_Event_Queue_ATC_For_Customer_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Pending_to_Customer_Product_Status</name>
        <label>Assign Pending to Customer Product Status</label>
        <locationX>846</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Assoc_Training_Contacts.Customer_Product_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>associatedTrainingContactsToUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Assoc_Training_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assoc_Training_Contacts</targetReference>
        </connector>
    </assignments>
    <description>Enqueues Processes to create Customer Products for Training Event Associated Training Contacts</description>
    <environments>Default</environments>
    <interviewLabel>Training Event Queue ATC For Customer Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Event Queue ATC For Customer Product</label>
    <loops>
        <name>Loop_through_Assoc_Training_Contacts</name>
        <label>Loop through Assoc Training Contacts</label>
        <locationX>691</locationX>
        <locationY>561</locationY>
        <collectionReference>Get_Associated_Training_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Pending_to_Customer_Product_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Associated_Training_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Training_Contacts</name>
        <label>Get Associated Training Contacts</label>
        <locationX>692</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Assoc_Training_Contacts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Associated_Training_Contacts</name>
        <label>Update Associated Training Contacts</label>
        <locationX>696</locationX>
        <locationY>758</locationY>
        <inputReference>associatedTrainingContactsToUpdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>566</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Associated_Training_Contacts</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Create_Customer_Products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Instructor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prosci</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instructor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prosci Canada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instructor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prosci Australia</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instructor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TTT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Instructor_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal PCAI</stringValue>
            </value>
        </filters>
        <object>Training_Event__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>associatedTrainingContactsToUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Associated_Training_Contacts__c</objectType>
    </variables>
</Flow>
