force-app/main/default/flows/Training_Event_Create_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Base_Order_Item</name>
        <label>Add Base Order Item</label>
        <locationX>776</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varOrderItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBaseOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Incremental_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Incremental_Order_Item</name>
        <label>Add Incremental Order Item</label>
        <locationX>446</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>varOrderItemsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varIncrementalOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Product Name comes from the related product</description>
        <name>Assign_Base_Order_Item</name>
        <label>Assign Base Order Item</label>
        <locationX>776</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varBaseOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaseOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaseOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity_Product__r.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaseOrderItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaseOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBaseOrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity_Product__r.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Base_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Pricebook Entry Id is required to create, which requires a standard PBE as well</description>
        <name>Assign_Incremental_Order_Item</name>
        <label>Assign Incremental Order Item</label>
        <locationX>446</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>varIncrementalOrderItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncrementalOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Total_Incremental_Pricing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncrementalOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncrementalOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncrementalOrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProduct2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncrementalOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Incremental_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pricebook_Entry_Id_Existing</name>
        <label>Set Pricebook Entry Id Existing</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>varPricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PBE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Incremental_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Id_Existing</name>
        <label>Set Product Id Existing</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varProduct2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ITP_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Standard_PB</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>We don&apos;t want to generate more orders if ones already exist</description>
        <name>Existing_Order</name>
        <label>Existing Order?</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Existing_Order_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Exists</defaultConnectorLabel>
        <rules>
            <name>No_Onsite_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Event.Onsite_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onsite_Contact_Error</targetReference>
            </connector>
            <label>No Onsite Contact</label>
        </rules>
        <rules>
            <name>No_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order</targetReference>
            </connector>
            <label>No Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>Generates an Incremental Training Program Order Item when incremental value exists</description>
        <name>Has_Incremental_Value</name>
        <label>Has Incremental Value?</label>
        <locationX>776</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Create_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Incremental</defaultConnectorLabel>
        <rules>
            <name>Incremental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Event.Deal_Support_Process__r.Total_Incremental_Pricing__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ITP_Product</targetReference>
            </connector>
            <label>Incremental</label>
        </rules>
    </decisions>
    <decisions>
        <description>We need a related DSP on the Training Event to generate the Order Items</description>
        <name>Has_Related_DSP</name>
        <label>Has Related DSP?</label>
        <locationX>1029</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Create_Order_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No DSP</defaultConnectorLabel>
        <rules>
            <name>DSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Event.Deal_Support_Process__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Base_Order_Item</targetReference>
            </connector>
            <label>DSP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Instructor_Type</name>
        <label>Instructor Type?</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Instructor_Type_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Prosci_Europe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Event.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Europe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order</targetReference>
            </connector>
            <label>Prosci Europe</label>
        </rules>
    </decisions>
    <decisions>
        <description>Onsite = Enterprise, label was updated but API name was not changed</description>
        <name>Is_Enterprise_Event_Type</name>
        <label>Is Enterprise Event Type?</label>
        <locationX>1612</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Event_Type_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enterprise</defaultConnectorLabel>
        <rules>
            <name>Enterprise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Training_Event.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instructor_Type</targetReference>
            </connector>
            <label>Enterprise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pricebook_Entry_Exists</name>
        <label>Pricebook Entry Exists?</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Create_PBE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PBE</defaultConnectorLabel>
        <rules>
            <name>PBE_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PBE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pricebook_Entry_Id_Existing</targetReference>
            </connector>
            <label>PBE Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Add the ITP Product and Standard PB, PBE records similar to the flow &quot;Deal Support Process - Create or Update Incremental Training Program&quot;</description>
        <name>Product_Exists</name>
        <label>Product Exists?</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Create_Product2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Product2</defaultConnectorLabel>
        <rules>
            <name>Product2_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ITP_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Id_Existing</targetReference>
            </connector>
            <label>Product2 Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Standard_PBE_Exists</name>
        <label>Standard PBE Exists?</label>
        <locationX>446</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Create_Standard_PBE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Standard</defaultConnectorLabel>
        <rules>
            <name>Standard_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Standard_PBE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PBE</targetReference>
            </connector>
            <label>Standard Exists</label>
        </rules>
    </decisions>
    <description>Screenflow that is called by the Create Order action on the Training Event object, the flow checks the record&apos;s event and instructor type. Button component visibility on the flexipage also checks these values to determine if the button appears or not.</description>
    <environments>Default</environments>
    <interviewLabel>Training Event - Create Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Training Event - Create Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>VILT value is set by the related training event in an Order before save flow, Pricebook2Id is required</description>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>1029</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Has_Related_DSP</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillToContactId</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.BillingSuburb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.BillingPostCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.BillingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.BillingAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Training_Event.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity_Product__r.PricebookEntry.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Get_Training_Event.Onsite_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Training_Event__c</field>
            <value>
                <elementReference>Get_Training_Event.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Items</name>
        <label>Create Order Items</label>
        <locationX>776</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Create_Order_Success</targetReference>
        </connector>
        <inputReference>varOrderItemsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PBE</name>
        <label>Create PBE</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <assignRecordIdToReference>varPricebookEntryId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Incremental_Order_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity_Product__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity__r.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>varProduct2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product2</name>
        <label>Create Product2</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignRecordIdToReference>varProduct2Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Standard_PB</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varITPName</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordCreates>
    <recordCreates>
        <description>Add a Standard PBE as it is required to generate a PBE</description>
        <name>Create_Standard_PBE</name>
        <label>Create Standard PBE</label>
        <locationX>534</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Get_PBE</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity_Product__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_PB.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>varProduct2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Need this for the related Product on Incremental Order Item to set the Order Item Name</description>
        <name>Get_ITP_Product</name>
        <label>Get ITP Product</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varITPName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Event.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PBE</name>
        <label>Get PBE</label>
        <locationX>446</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Entry_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProduct2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity__r.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity_Product__r.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_PB</name>
        <label>Get Standard PB</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_PBE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Standard_Price_Book_Missing</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_PBE</name>
        <label>Get Standard PBE</label>
        <locationX>446</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Standard_PBE_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_PB.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varITPName</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Training_Event.Deal_Support_Process__r.Opportunity_Product__r.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event</name>
        <label>Get Training Event</label>
        <locationX>1612</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Enterprise_Event_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Training_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Fallback error display if the Create Order button is clicked when Orders already exist</description>
        <name>Create_Order_Success</name>
        <label>Create Order Success</label>
        <locationX>1029</locationX>
        <locationY>3038</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Create_Order_Success_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Order created successfully!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!Create_Order}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Click here&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to view&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Fallback error display if the Create Order button renders when it shouldn&apos;t</description>
        <name>Event_Type_Error</name>
        <label>Event Type Error</label>
        <locationX>1986</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Event_Type_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Create Order requires Enterprise type event&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Fallback error display if the Create Order button is clicked when Orders already exist</description>
        <name>Existing_Order_Error</name>
        <label>Existing Order Error</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Existing_Order_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/{!Get_Order}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;Click here&lt;/a&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; to view existing order related to this Training Event&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Fallback error display if the Create Order button renders when it shouldn&apos;t</description>
        <name>Instructor_Type_Error</name>
        <label>Instructor Type Error</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Instructor_Type_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Create Order requires Prosci Europe Instructor Type&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Error display if Onsite Contact is missing</description>
        <name>Onsite_Contact_Error</name>
        <label>Onsite Contact Error</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Onsite_Contact_Error_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No Onsite Contact is designated for this Training Event&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Standard_Price_Book_Missing</name>
        <label>Standard Price Book Missing</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Standard_Price_Book_Missing_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No Standard Price Book found&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1486</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Training_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Training Event record that comes from the record detail page, flow is launched from &quot;Create Order&quot; button</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Event__c</objectType>
    </variables>
    <variables>
        <name>varBaseOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varIncrementalOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varITPName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Incremental Training Program</stringValue>
        </value>
    </variables>
    <variables>
        <name>varOrderItemsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varPricebookEntryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProduct2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
