force-app/main/default/flows/Training_Contact_Create_Customer_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Hub_to_Training_Events_to_Add</name>
        <label>Add Hub to Training Events to Add</label>
        <locationX>380</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>trainingEventProductsToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bundleTrainingEventProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_KH</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_KH</name>
        <label>add KH</label>
        <locationX>380</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>trainingEventProductsToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>hubProduct2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Customer_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>add research hub to training products to create</description>
        <name>Add_Research_Hub</name>
        <label>Add Research Hub</label>
        <locationX>380</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>bundleTrainingEventProduct.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t5d00000CgD3GAAV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bundleTrainingEventProduct.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Training_Event__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hubProduct2.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01t1Y00000CHARoQAP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hubProduct2.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Training_Event__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Hub_to_Training_Events_to_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Portal_Access_Id</name>
        <label>Assign Portal Access Id</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>portalAccessId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Contact__r.Portal_Access__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Prework_Allowance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_New_Customer_Product</name>
        <label>Assign Values for New Customer Product</label>
        <locationX>1058</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>customerProductToCreate.Portal_Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Contact__r.Portal_Access__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToCreate.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToCreate.Date_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>todaysDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToCreate.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Training_Event_Products.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToCreate.Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToCreate.expiration_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subscriptionLengthtoTrainingEventEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToCreate.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Training_Event_Products.Training_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>customerProductToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Training_Event_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Customer_Products_to_Create</name>
        <label>Number of Customer Products to Create</label>
        <locationX>666</locationX>
        <locationY>3362</locationY>
        <assignmentItems>
            <assignToReference>numberOfCustomerProductsToCreate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>customerProductsToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Customer_Products_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_Of_Customer_Products_To_Update</name>
        <label>Number Of Customer Products To Update</label>
        <locationX>666</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>numberOfCustomerProductsToUpdate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>customerProductsToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Customer_Products_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Records_in_Filtered_Customer_Product_Collection</name>
        <label>Number of Records in Filtered Customer Product Collection</label>
        <locationX>950</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>numberOfFilteredCustomerProducts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Customer_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_matching_Customer_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Customer_Product</name>
        <label>Update Customer Product</label>
        <locationX>930</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>customerProductToUpdate.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToUpdate.Updated_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToUpdate.Training_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Training_Event_Products.Training_Event__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToUpdate.expiration_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subscriptionLengthtoTrainingEventEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Filtered_Customer_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProductsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>customerProductToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Filtered_Customer_Products</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Customer_Products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Customer Products</label>
        <locationX>950</locationX>
        <locationY>2114</locationY>
        <assignNextValueToReference>currentItem_Filter_Customer_Products_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Customer_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Customer_Products_0.Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_Training_Event_Products.Product__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Number_of_Records_in_Filtered_Customer_Product_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_there_Customer_Products_to_Create</name>
        <label>Are there Customer Products to Create?</label>
        <locationX>666</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>Success_Update_Associated_Training_Contact_to_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - There are not Customer Products to Create</defaultConnectorLabel>
        <rules>
            <name>Yes_There_are_Customer_Products_to_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfCustomerProductsToCreate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_Products</targetReference>
            </connector>
            <label>Yes - There are Customer Products to Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Customer_Products_to_Update</name>
        <label>Are There Customer Products to Update?</label>
        <locationX>666</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>Number_of_Customer_Products_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - There are not Customer Products to Update</defaultConnectorLabel>
        <rules>
            <name>Yes_There_are_Customer_Products_to_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfCustomerProductsToUpdate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Products</targetReference>
            </connector>
            <label>Yes - There are Customer Products to Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Portal_Access_and_Emails</name>
        <label>Check for Portal Access and Emails</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Portal_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Portal_Access_and_Access_Email_matches_Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Training_Contact.Contact__r.Portal_Access__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Associated_Training_Contact.Contact__r.Portal_Access__r.Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Associated_Training_Contact.Contact__r.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Portal_Access_Id</targetReference>
            </connector>
            <label>Has Portal Access and Access Email matches Contact Email</label>
        </rules>
        <rules>
            <name>Portal_Access_and_Access_Email_doesn_t_match_Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Training_Contact.Contact__r.Portal_Access__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Associated_Training_Contact.Contact__r.Portal_Access__r.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Associated_Training_Contact.Contact__r.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Portal_Access_Records</targetReference>
            </connector>
            <label>Has Portal Access and Access Email doesn&apos;t match Contact Email</label>
        </rules>
    </decisions>
    <decisions>
        <description>check for prework allowance by the account</description>
        <name>Check_for_Prework_Allowance</name>
        <label>Check for Prework Allowance</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Get_Training_Event_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prework</defaultConnectorLabel>
        <rules>
            <name>No_Prework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Training_Contact.Contact__r.Account.Don_t_Assign_Prework_Proxima__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Training_Event_Products</targetReference>
            </connector>
            <label>No Prework</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_portalAccessId_null</name>
        <label>Is portalAccessId null?</label>
        <locationX>402</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Create_Portal_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Portal Access null</defaultConnectorLabel>
        <rules>
            <name>Portal_Access_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>portalAccessId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Portal_Access_on_Contact</targetReference>
            </connector>
            <label>Portal Access not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_matching_Customer_Product</name>
        <label>Is there matching Customer Product?</label>
        <locationX>950</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Assign_Values_for_New_Customer_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Filtered Customer Products</defaultConnectorLabel>
        <rules>
            <name>There_are_Filtered_Customer_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numberOfFilteredCustomerProducts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Filtered_Customer_Products</targetReference>
            </connector>
            <label>There are Filtered Customer Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Training_Event_has_Hub_Solution</name>
        <label>Training Event has Hub Solution</label>
        <locationX>512</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Get_Customer_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Bundle</defaultConnectorLabel>
        <rules>
            <name>Has_Bundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_Training_Contact.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Research_Hub</targetReference>
            </connector>
            <label>Has Bundle</label>
        </rules>
    </decisions>
    <description>For Associated Training Contact maintains Portal Access record and creates Customer Product records</description>
    <environments>Default</environments>
    <formulas>
        <description>set customer type based on event type</description>
        <name>customerType</name>
        <dataType>String</dataType>
        <expression>IF(OR(ISPICKVAL({!Get_Associated_Training_Contact.Training_Event__r.Type_of_Event__c}, &quot;Internal&quot;),(ISPICKVAL({!Get_Associated_Training_Contact.Training_Event__r.Type_of_Event__c}, &quot;Onsite&quot;))), &quot;4&quot;, &quot;1&quot;)</expression>
    </formulas>
    <formulas>
        <description>set direct market based on training event owner</description>
        <name>directMarket</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Associated_Training_Contact.Training_Event__r.Owner:User.Division}=&quot;USA&quot;, &quot;HQ&quot;, {!Get_Associated_Training_Contact.Training_Event__r.Owner:User.Division})</expression>
    </formulas>
    <formulas>
        <name>subscriptionLengthtoTrainingEventEndDate</name>
        <dataType>Date</dataType>
        <expression>{!Loop_through_Training_Event_Products.Training_Event__r.End_Date__c} + {!Loop_through_Training_Event_Products.Product__r.Subscription_Length_days__c}</expression>
    </formulas>
    <formulas>
        <name>todaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Training Contact Create Customer Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Associated Training Contact - Create Customer Product</label>
    <loops>
        <name>Loop_through_Filtered_Customer_Products</name>
        <label>Loop through Filtered Customer Products</label>
        <locationX>842</locationX>
        <locationY>2438</locationY>
        <collectionReference>Filter_Customer_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Customer_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_Training_Event_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Training_Event_Products</name>
        <label>Loop through Training Event Products</label>
        <locationX>666</locationX>
        <locationY>2006</locationY>
        <collectionReference>trainingEventProductsToAdd</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Customer_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_Of_Customer_Products_To_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Customer_Products</name>
        <label>Create Customer Products</label>
        <locationX>402</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>Success_Update_Associated_Training_Contact_to_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_Update_Associated_Training_Contact_to_Failed</targetReference>
        </faultConnector>
        <inputReference>customerProductsToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Portal_Access</name>
        <label>Create Portal Access</label>
        <locationX>490</locationX>
        <locationY>602</locationY>
        <assignRecordIdToReference>portalAccessId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Portal_Access_on_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fail_Update_Associated_Training_Contact_to_Failed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Associated_Training_Contact.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direct_Market__c</field>
            <value>
                <elementReference>directMarket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Get_Associated_Training_Contact.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Get_Associated_Training_Contact.Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Get_Associated_Training_Contact.Contact__r.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_By__c</field>
            <value>
                <stringValue>salesforce_workflow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>customer_type_id__c</field>
            <value>
                <elementReference>customerType</elementReference>
            </value>
        </inputAssignments>
        <object>Portal_Access__c</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Training_Event_Products</name>
        <label>Get Training Event Products</label>
        <locationX>512</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Training_Event_has_Hub_Solution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Training_Event__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>01t1Y00000CHAS6QAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>01t1Y00000CHAS4QAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>01t5d000009U5eYAAS</stringValue>
            </value>
        </filters>
        <object>Training_Event_Product__c</object>
        <outputReference>trainingEventProductsToAdd</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Training_Event__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Associated_Training_Contact</name>
        <label>Get Associated Training Contact</label>
        <locationX>666</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Portal_Access_and_Emails</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Associated_Training_Contact_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled to Attend</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>portal_access__c</queriedFields>
        <queriedFields>Customer_Product_Status__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Training_Event__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Customer_Products</name>
        <label>Get Customer Products</label>
        <locationX>666</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Training_Event_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Portal_Access__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>portalAccessId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Customer_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Portal_Access_Records</name>
        <label>Get Portal Access Records</label>
        <locationX>402</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_portalAccessId_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Contact__r.Email</elementReference>
            </value>
        </filters>
        <object>Portal_Access__c</object>
        <outputAssignments>
            <assignToReference>portalAccessId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Training_Event_Products</name>
        <label>Get Training Event Products</label>
        <locationX>820</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Training_Event__c</elementReference>
            </value>
        </filters>
        <object>Training_Event_Product__c</object>
        <outputReference>trainingEventProductsToAdd</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsDeleted</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Training_Event__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fail_Update_Associated_Training_Contact_to_Failed</name>
        <label>Fail - Update Associated Training Contact to Failed</label>
        <locationX>666</locationX>
        <locationY>3686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Product_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Associated_Training_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Success_Update_Associated_Training_Contact_to_Completed</name>
        <label>Success - Update Associated Training Contact to Completed</label>
        <locationX>666</locationX>
        <locationY>4010</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Product_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>portal_access__c</field>
            <value>
                <elementReference>portalAccessId</elementReference>
            </value>
        </inputAssignments>
        <object>Associated_Training_Contacts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Products</name>
        <label>Update Customer Products</label>
        <locationX>402</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Number_of_Customer_Products_to_Create</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fail_Update_Associated_Training_Contact_to_Failed</targetReference>
        </faultConnector>
        <inputReference>customerProductsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Portal_Access_on_Contact</name>
        <label>Update Portal Access on Contact</label>
        <locationX>402</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Check_for_Prework_Allowance</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fail_Update_Associated_Training_Contact_to_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Associated_Training_Contact.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Portal_Access__c</field>
            <value>
                <elementReference>portalAccessId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Associated_Training_Contact</targetReference>
        </connector>
        <object>Training_Contact_Create_Customer_Product__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>bundleTrainingEventProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Event_Product__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Customer_Products_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>customerProductsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>customerProductsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>customerProductToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>customerProductToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Product__c</objectType>
    </variables>
    <variables>
        <name>hubProduct2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Event_Product__c</objectType>
    </variables>
    <variables>
        <name>numberOfCustomerProductsToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numberOfCustomerProductsToUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>numberOfFilteredCustomerProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>portalAccessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>trainingEventProductsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Training_Event_Product__c</objectType>
    </variables>
</Flow>
