force-app/main/default/flows/Update_Email_on_ATC_when_contact_email_is_changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_ATC_s</name>
        <label>Add ATC&apos;s</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>AssocTrainingContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_ATCs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ATCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ATC</name>
        <label>Assign ATC</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Loop_ATCs.Contact_Email_for_GetFeedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ATC_s</targetReference>
        </connector>
    </assignments>
    <description>This will update the email on all related ATC records when the contact email is changed.  Source video: https://www.youtube.com/watch?v=pTHoJUag7sg</description>
    <interviewLabel>Update Email on ATC when contact email is changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Email on ATC when contact email is changed</label>
    <loops>
        <name>Loop_ATCs</name>
        <label>Loop ATCs</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Associated_Training_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ATC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ATC_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Training_Contacts</name>
        <label>Get Associated Training Contacts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ATCs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Associated_Training_Contacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ATC_Email</name>
        <label>Update ATC Email</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>AssocTrainingContactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Associated_Training_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssocTrainingContactEmailUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Associated_Training_Contacts__c</objectType>
    </variables>
    <variables>
        <name>AssocTrainingContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Associated_Training_Contacts__c</objectType>
    </variables>
</Flow>
