force-app/main/default/flows/Update_BreakEven_and_Max_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>MaxDate_Conditions</name>
        <label>MaxDate Conditions</label>
        <locationX>176</locationX>
        <locationY>707</locationY>
        <defaultConnector>
            <targetReference>Set_maxdate_to_Start_date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Trainees_increment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_of_Trainees__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.No_of_Trainees__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_of_Trainees__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Projected_Attendance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_MaxDate</targetReference>
            </connector>
            <label>Trainees increment</label>
        </rules>
        <rules>
            <name>Trainees_decrement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_of_Trainees__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.No_of_Trainees__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_of_Trainees__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Projected_Attendance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MaxDate</targetReference>
            </connector>
            <label>Trainees decrement</label>
        </rules>
        <rules>
            <name>Trainees_no_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_of_Trainees__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Projected_Attendance__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_of_Trainees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.No_of_Trainees__c</elementReference>
                </rightValue>
            </conditions>
            <label>Trainees no change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Breakeven_regional_conditions</name>
        <label>Update Breakeven regional conditions</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>MaxDate_Conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prosci_HQ_Breakeven_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_of_Trainees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Breakeven_Date</targetReference>
            </connector>
            <label>Prosci HQ Breakeven Condition</label>
        </rules>
        <rules>
            <name>Prosci_CAN_Breakeven_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_of_Trainees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Breakeven_Date</targetReference>
            </connector>
            <label>Prosci CAN Breakeven Condition</label>
        </rules>
        <rules>
            <name>Prosci_ANZ_Breakeven_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_of_Trainees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Breakeven_Date</targetReference>
            </connector>
            <label>Prosci ANZ Breakeven Condition</label>
        </rules>
    </decisions>
    <description>Flow to Update BreakEven and Max date for HQ, ANZ and CAN regions(for Public CERT)</description>
    <environments>Default</environments>
    <interviewLabel>Update Max {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update BreakEven and Max Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_maxdate_to_Start_date</name>
        <label>Set maxdate to Start date</label>
        <locationX>528</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>Max_Date__c</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Breakeven_Date</name>
        <label>Update Breakeven Date</label>
        <locationX>176</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>MaxDate_Conditions</targetReference>
        </connector>
        <inputAssignments>
            <field>Break_Even_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MaxDate</name>
        <label>Update MaxDate</label>
        <locationX>88</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>Max_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Breakeven_regional_conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_of_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Public</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certification</stringValue>
            </value>
        </filters>
        <object>Training_Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
