force-app/main/default/flows/Welcome_Public_Certification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ANZ_Public_In_Person_Cert</name>
        <label>ANZ Public In Person Cert</label>
        <locationX>2514</locationX>
        <locationY>647</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_ANZ_Public_In_Person_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_ANZ_Public_In_Person_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ANZ_Public_VILT_welcome_email</name>
        <label>ANZ Public VILT welcome email</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_ANZ_Public_VILT_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_ANZ_Public_VILT_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BRA_Public_VILT_Cert_Welcome_Email_Alert</name>
        <label>BRA Public VILT Cert Welcome Email Alert</label>
        <locationX>1546</locationX>
        <locationY>647</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_BRA_Public_Vilt_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_BRA_Public_Vilt_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CAN_Welcome_IN_Person_Email</name>
        <label>CAN Welcome IN Person Email</label>
        <locationX>2250</locationX>
        <locationY>647</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_IN_PERSON_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_IN_PERSON_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>hq_public_vilt_cert_welcome_email</name>
        <label>hq public vilt cert welcome email</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_VILT_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_VILT_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_Alert_CAN_Public_Certification_French</name>
        <label>Welcome Email Alert CAN Public Certification French</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_Certification_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_Certification_French</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_Alert_Early_Start_VILT</name>
        <label>Welcome Email Alert Early Start VILT</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_VILT_Early_Start_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_VILT_Early_Start_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_Alert_for_VILT_Public_Cert</name>
        <label>Welcome Email Alert for VILT Public Cert</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_VILT_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_VILT_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_Alert_HQ_Public_In_person_Certification</name>
        <label>Welcome Email Alert HQ Public In-person Certification</label>
        <locationX>1986</locationX>
        <locationY>647</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_In_person_Certification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_In_person_Certification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_it_Early_Start</name>
        <label>Is it Early Start?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>hq_public_vilt_cert_welcome_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Early_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Start_Time_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_Early_Start_VILT</targetReference>
            </connector>
            <label>Early Start</label>
        </rules>
    </decisions>
    <decisions>
        <description>The decision to see if its pubic VILT CERT program</description>
        <name>is_public_VILT_CERT</name>
        <label>is public VILT CERT</label>
        <locationX>1975</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>public_vilt_cert</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>regional_decision_welcome_email_public_vilt_cert</targetReference>
            </connector>
            <label>public vilt cert</label>
        </rules>
        <rules>
            <name>Public_in_person_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Certification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Regional_decision_welcome_email_public_In_Person_cert</targetReference>
            </connector>
            <label>Public in-person Certification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_of_the_program</name>
        <label>Language of the program</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>French_Public_VILT_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_CAN_Public_Certification_French</targetReference>
            </connector>
            <label>French Public VILT Certification</label>
        </rules>
        <rules>
            <name>English_Public_VILT_Certification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Contract_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FRENCH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_for_VILT_Public_Cert</targetReference>
            </connector>
            <label>English Public VILT Certification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regional_decision_welcome_email_public_In_Person_cert</name>
        <label>Regional decision welcome email public In Person cert</label>
        <locationX>2382</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HQ_Welcome_email_public_In_Person_CERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_HQ_Public_In_person_Certification</targetReference>
            </connector>
            <label>HQ Welcome email public In Person CERT</label>
        </rules>
        <rules>
            <name>CAN_Welcome_email_public_In_Person_CERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CAN_Welcome_IN_Person_Email</targetReference>
            </connector>
            <label>CAN Welcome email public In Person CERT</label>
        </rules>
        <rules>
            <name>ANZ_Welcome_email_public_In_Person_cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ANZ_Public_In_Person_Cert</targetReference>
            </connector>
            <label>ANZ Welcome email public In Person cert</label>
        </rules>
    </decisions>
    <decisions>
        <name>regional_decision_welcome_email_public_vilt_cert</name>
        <label>regional decision welcome email public vilt cert</label>
        <locationX>996</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HQ_Welcome_email_public_VILT_CERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_Early_Start</targetReference>
            </connector>
            <label>HQ Welcome email public VILT CERT</label>
        </rules>
        <rules>
            <name>CAN_Welcome_email_public_VILT_CERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_of_the_program</targetReference>
            </connector>
            <label>CAN Welcome email public VILT CERT</label>
        </rules>
        <rules>
            <name>ANZ_Welcome_email_public_vilt_cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ANZ_Public_VILT_welcome_email</targetReference>
            </connector>
            <label>ANZ Welcome email public vilt cert</label>
        </rules>
        <rules>
            <name>BRA_Welcome_email_public_VILT_CERT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Brasil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BRA_Public_VILT_Cert_Welcome_Email_Alert</targetReference>
            </connector>
            <label>BRA Welcome email public VILT CERT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Welcome_Email</name>
        <label>Send Welcome Email</label>
        <locationX>2552</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Welcome Email</defaultConnectorLabel>
        <rules>
            <name>Welcome_Email_to_be_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.No_Welcome_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_public_VILT_CERT</targetReference>
            </connector>
            <label>Welcome Email to be sent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>&quot;Welcome email for &quot;+{!$Record.Training_Event__r.Name}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Welcome Email Public Certification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Welcome Public Certification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create task to show welcome email sent to contact</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1975</locationX>
        <locationY>1115</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>2426</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Welcome_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>Associated_Training_Contacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
