force-app/main/default/flows/Welcome_Public_Leading_your_through_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Welcome_Email_Alert_ANZ_Public_Leading_your_team_through_change</name>
        <label>Welcome Email Alert ANZ Public Leading your team through change</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_ANZ_Public_Leading_your_team_through_change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_ANZ_Public_Leading_your_team_through_change</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_Alert_BRA_Leading_your_team_through_change</name>
        <label>Welcome Email Alert BRA Leading your team through change</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_BRA_Public_Integrating_Agile_and_Change_Management</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_BRA_Public_Integrating_Agile_and_Change_Management</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_Alert_CAN_Public_Leading_your_team_through_change</name>
        <label>Welcome Email Alert CAN Public Leading your team through change</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_Leading_your_team_through_change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_CAN_Public_Leading_your_team_through_change</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Welcome_Email_Alert_HQ_Public_Leading_Your_Team_Through_Change</name>
        <label>Welcome Email Alert HQ Public Leading Your Team Through Change</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_Leading_Your_Team_Through_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Associated_Training_Contacts__c.Welcome_Email_Alert_HQ_Public_Leading_Your_Team_Through_Change</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>The decision to see if its pubic VILT Leading your team through change</description>
        <name>is_public_VILT_Leading_your_team_through_change</name>
        <label>is public VILT Leading your team through change</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>public_vilt_Leading_your_team_through_change</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.VILT_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Title__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leading Your Team Through Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Type_of_Event__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>regional_decision_welcome_email_public_vilt_cert</targetReference>
            </connector>
            <label>public vilt Leading your team through change</label>
        </rules>
    </decisions>
    <decisions>
        <name>regional_decision_welcome_email_public_vilt_cert</name>
        <label>regional decision welcome email public vilt cert</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Welcome_Email_HQ_public_Leading_your_team_through_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_HQ_Public_Leading_Your_Team_Through_Change</targetReference>
            </connector>
            <label>Welcome Email HQ public Leading your team through change</label>
        </rules>
        <rules>
            <name>Welcome_Email_CAN_public_Leading_your_team_through_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_CAN_Public_Leading_your_team_through_change</targetReference>
            </connector>
            <label>Welcome Email CAN public Leading your team through change</label>
        </rules>
        <rules>
            <name>Welcome_Email_ANZ_public_Leading_your_team_through_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_ANZ_Public_Leading_your_team_through_change</targetReference>
            </connector>
            <label>Welcome Email ANZ public Leading your team through change</label>
        </rules>
        <rules>
            <name>Welcome_Email_BRA_Leading_you_team_through_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.Instructor_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prosci Brasil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Email_Alert_BRA_Leading_your_team_through_change</targetReference>
            </connector>
            <label>Welcome Email BRA Leading you team through change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Welcome_Email</name>
        <label>Send Welcome Email</label>
        <locationX>1238</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Welcome Email</defaultConnectorLabel>
        <rules>
            <name>Welcome_Email_to_be_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Training_Event__r.No_Welcome_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_public_VILT_Leading_your_team_through_change</targetReference>
            </connector>
            <label>Welcome Email to be sent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>&quot;Welcome email for &quot;+{!$Record.Training_Event__r.Name}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Welcome Public Leading your through change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Welcome Public Leading your through change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create task on contact to note sending of welcome email</description>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Welcome_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>Associated_Training_Contacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
